<div class="staking">
  <mat-button-toggle-group aria-label="Transaction Type" class="w-100 mb-3" [value]="child" #group="matButtonToggleGroup">
    <mat-button-toggle [value]="option.value" class="w-100" *ngFor="let option of txOptions">{{option.action}}</mat-button-toggle>
  </mat-button-toggle-group>

  <opdex-pool-preview [pool]="pool" [view]="view" (onPoolChange)="handlePoolChange($event)"></opdex-pool-preview>

  <opdex-card *ngIf="pool && pool?.staking?.isActive; else noStaking" [thin]="true">
    <opdex-tx-stake-start [data]="data" *ngIf="group.value == 1"></opdex-tx-stake-start>
    <opdex-tx-stake-stop [data]="data" *ngIf="group.value == 2"></opdex-tx-stake-stop>
    <opdex-tx-stake-collect [data]="data" *ngIf="group.value == 3"></opdex-tx-stake-collect>
  </opdex-card>

  <ng-template #noStaking>
    <opdex-card [thin]="true" [warn]="true">
      Staking is not available for this liquidity pool.
    </opdex-card>
  </ng-template>
</div>
