@import '/src/scss/colors.scss';

.card {
  margin-bottom: 15px;

  &.hidden {
    transition: all .1s ease-out;
    opacity: 0;
    margin: 0;
    height: 0px;
  }

  .foreground {
    padding: 15px;

    &.warn {
      background: rgba(245, 25, 55, 0.4);
      border: 1px solid $red-primary;
    }

    &.success {
      background: rgb(43 255 0 / 23%);
      border: 1px solid $green-primary;
    }

    &.thin {
      padding: 15px;
    }
  }

  &.h-100 {
    height: calc(100% - 15px) !important;

    .foreground {
      height: 100%;
    }
  }
}


@media (min-width: 320px) { }

@media (min-width: 576px) { }

@media (min-width: 768px) {
  .card {
    .foreground {
      padding: 25px;
    }
  }
}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }
