
.blur-background {
  filter: blur(15px);
  position: absolute;
  width: 100%;
  height: 100%;
}

.foreground {
  backdrop-filter: blur(50px);
  padding: 25px;
}

.h-100 {
  height: 100%;

  .foreground {
    height: 100%;
  }
}
