<div class="status-bar">
  <opdex-hamburger [isOpen]="menuOpen" (onToggle)="toggleMenu($event)"></opdex-hamburger>

  <div class="flex-row-center justify-content-end w-100">
    <div *ngIf="context?.wallet && pendingTransactions.length > 0">
      <button mat-icon-button [matMenuTriggerFor]="qMenu" matTooltip="Pending Transactions" color="{{ pendingTransactions.length > 0 ? 'primary' : '' }}" [ngClass]="iconSizes.tiny">
        <mat-icon>{{icons.send}}</mat-icon>
      </button>

      <mat-menu #qMenu="matMenu" class="queue-panel pl-2 pr-2 pb-0 pt-0" style="min-height: auto">
        <div class="flex-row-center mb-1" *ngIf="pendingTransactions.length > 0; else noTransactions">
          <mat-icon [ngClass]="iconSizes.tiny" class="green mr-2">{{icons.checkOutline}}</mat-icon>
          <small>Pending Transactions</small>
        </div>

        <ng-template #noTransactions>
          <small>No Pending Transactions</small>
        </ng-template>

        <div class="queue-item flex-column" *ngFor="let tx of pendingTransactions; let i = index">
          <small class="light pt-1 pb-1 overflow-ellipsis">{{tx}}</small>
          <mat-divider style="position: relative;" *ngIf="i + 1 < pendingTransactions.length"></mat-divider>
        </div>
      </mat-menu>
    </div>

    <ng-container *ngIf="theme$ | async as theme">
      <button mat-icon-button [ngClass]="iconSizes.small"
        (click)="toggleTheme(theme === 'dark-mode' ? 'light-mode' : 'dark-mode')"
        matTooltip="{{theme === 'dark-mode' ? 'Dark Mode' : 'Light Mode'}}">
        <mat-icon>{{theme === 'dark-mode' ? icons.darkMode : icons.lightMode}}</mat-icon>
      </button>
    </ng-container>

    <button mat-icon-button [ngClass]="iconSizes.small" (click)="networkTooltip.toggle()">
      <mat-icon [matTooltip]="network" #networkTooltip="matTooltip">{{icons.languages}}</mat-icon>
    </button>

    <ng-container *ngIf="latestSyncedBlock$ | async as block">
      <button mat-icon-button [ngClass]="iconSizes.small" (click)="blockTooltip.toggle()">
        <mat-icon matTooltip="Block #{{block.height | formatNumber:0}}" #blockTooltip="matTooltip">{{icons.block}}</mat-icon>
      </button>
    </ng-container>

    <button mat-icon-button matTooltip="Report Bug" (click)="openBugReport()" class="mine small"><mat-icon>{{icons.bug}}</mat-icon></button>
  </div>
</div>
