.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  flex-direction: row;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


@media (min-width: 320px) { }

@media (min-width: 576px) { }

@media (min-width: 768px) {
  opdex-hamburger {
    display: none;
  }

  .status-bar {
    position: relative;
    width: 100%;
  }
}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }
