<h2 mat-dialog-title>Report Bug</h2>
<mat-dialog-content>
    <p>
        Report bugs and issues in detail on the official Opdex Discord Server if you're a user, or open an issue on Github if you are a developer. How would you like to proceed?
    </p>
    <p>
        <a href="https://discord.gg/TnWVDTTrjf" target="_blank" rel="noopener noreferrer">Discord</a>
    </p>
    <p>
        <a href="https://github.com/Opdex/opdex-ui/issues/" target="_blank" rel="noopener noreferrer">Github</a>
    </p>
</mat-dialog-content>