<h2 class="flex-row-center">
  <mat-icon class="mine mr-2">{{icons.bug}}</mat-icon>Report Issue
</h2>

<mat-dialog-content>
  <p>Report bugs and software related issues in detail in the official Opdex Discord group or GitHub repository.</p>
</mat-dialog-content>

<div class="row mt-3">
  <div class="col-12 col-sm-6">
    <a mat-button href="https://discord.gg/TnWVDTTrjf" target="_blank" rel="noopener noreferrer" class="discord">
      <img src="/assets/social/discord-white.svg" class="social-icon" alt="Discord Logo">
      Discord
    </a>
  </div>

  <div class="col-12 col-sm-6">
    <a mat-button href="https://github.com/Opdex/opdex-ui/issues/" target="_blank" rel="noopener noreferrer" class="github">
      <img src="/assets/social/github-white.svg" class="social-icon" alt="Discord Logo">
      Github
    </a>
  </div>
</div>
