<h2 mat-dialog-title class="d-flex align-items-center">
  <mat-icon color="warn" class="mr-2">bug_report</mat-icon>Report Bug
</h2>

<mat-dialog-content>
  <p>Report bugs and issues in detail in the official Opdex Discord group.</p>

  <div class="button-group">
    <a mat-button href="https://discord.gg/TnWVDTTrjf" target="_blank" rel="noopener noreferrer" class="discord">
      <img src="/assets/social/discord-white.svg" class="social-icon" alt="Discord Logo">
      Discord
    </a>
    <!-- <a mat-button href="https://github.com/Opdex/opdex-ui/issues/" target="_blank" rel="noopener noreferrer" class="github">
      <img src="/assets/social/github-white.svg" class="social-icon" alt="Discord Logo">
      Github
    </a> -->
  </div>
</mat-dialog-content>
