<div id="wallet" class="page-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-shadow mb-3">
          <opdex-copy-button [tooltip]="wallet" [value]="wallet" icon="link"></opdex-copy-button>
          <span>Wallet</span>
        </h1>
      </div>
      <div class="col">
        <button mat-stroked-button (click)="logout()" class="float-right small pt-2 pb-2"><mat-icon class="mr-1 small">exit_to_app</mat-icon> Logout</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-xl-8">
        <opdex-card [hasToolbar]="true">
          <ng-container toolbar>
            <div class="details">
              <h4 class="title d-inline">Current Balances</h4>
            </div>
          </ng-container>

          <opdex-wallet-balances-table [records]="walletBalances" (onPageChange)="handlePageChange($event)" *ngIf="walletBalances; else zero"></opdex-wallet-balances-table>
          <ng-template #zero>There are no known balances for this wallet address.</ng-template>
        </opdex-card>
      </div>

      <div class="col-12 col-xl-4">
        <opdex-tx-feed [transactionRequest]="transactionsRequest"></opdex-tx-feed>
      </div>
    </div>
  </div>
</div>
