<div id="wallet" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="page-title">Wallet</h1>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-6">
        <opdex-card>
          <h2>Box</h2>
          <br><br><br><br><br>
        </opdex-card>
      </div>
      <div class="col-6">
        <opdex-card>
          <h2>Box</h2>
          <br><br><br><br><br>
        </opdex-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <opdex-card>
          <h2>Tokens</h2>
          <opdex-tokens-table></opdex-tokens-table>
        </opdex-card>
      </div>
    </div>
  </div>
</div>
