<div id="wallet" class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-shadow mb-3">
          <opdex-copy-button [tooltip]="wallet" [value]="wallet" icon="link"></opdex-copy-button>
          <span>Wallet</span>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-xl-8">
        <opdex-card *ngIf="walletBalances">
          <h2>Balances</h2>
          <opdex-wallet-balances-table [records]="walletBalances" (onPageChange)="handlePageChange($event)"></opdex-wallet-balances-table>
        </opdex-card>
      </div>

      <div class="col-12 col-xl-4">
        <opdex-tx-feed [transactionRequest]="transactionsRequest"></opdex-tx-feed>
      </div>
    </div>
  </div>
</div>
