<div id="pools" class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-shadow mb-3">Liquidity Pools</h1>

        <ng-container *ngIf="poolsByVolume$ | async as poolsByVolume">
          <div class="row" *ngIf="poolsByVolume.length">
            <div class="col-12">
              <h2 class="text-shadow d-flex align-items-center">
                <mat-icon class="mr-2 primary">bar_chart</mat-icon> Top Volume
              </h2>
            </div>
          </div>

          <div class="scrollable-row">
            <div class="scrollable-card" *ngFor="let pool of poolsByVolume">
              <opdex-liquidity-pool-card [pool]="pool"></opdex-liquidity-pool-card>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="poolsMining$ | async as poolsMining">
      <div class="row" *ngIf="poolsMining.length">
        <div class="col-12">
          <h2 class="text-shadow d-flex align-items-center">
            <mat-icon class="mr-2 mine">whatshot</mat-icon>
            Liquidity Mining
          </h2>

          <div class="scrollable-row">
            <div class="scrollable-card" *ngFor="let pool of poolsMining">
              <opdex-mining-card [pool]="pool"></opdex-mining-card>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row" *ngIf="pools$ | async as pools">
      <div class="col-12">
        <opdex-card>
          <h2 class="text-shadow">Liquidity Pools</h2>
          <opdex-pools-table [pools]="pools"></opdex-pools-table>
        </opdex-card>
      </div>
    </div>
  </div>
</div>
