<div id="pools" class="mt-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h1 class="mb-3">Liquidity Pools</h1>

        <div class="row">
          <div class="col-12">
            <h3>Top Volume</h3>
          </div>

          <div class="col-3" *ngFor="let pool of poolsByVolume; let i = index">
            <opdex-liquidity-pool-card [pool]="pool" *ngIf="i < 4"></opdex-liquidity-pool-card>
          </div>
        </div>
      </div>
    </div>


    <div class="row mb-5">
      <div class="col-12">
        <h3>Liquidity Mining</h3>

        <div class="row">
          <div class="col-3" *ngFor="let pool of pools">
            <!-- *ngIf="pool.miningEnabled" -->
            <opdex-mining-card [pool]="pool"></opdex-mining-card>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <opdex-card>
          <h3>Liquidity Pools</h3>
          <opdex-pools-table [pools]="pools"></opdex-pools-table>
        </opdex-card>
      </div>
    </div>
  </div>
</div>
