<div id="pools">
  <div class="header-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-8">
          <h1 class="mb-0">Liquidity Pools</h1>
        </div>

        <div class="d-none d-lg-block col-lg-6 col-xl-4">
          <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
        </div>
      </div>

      <div class="pools-by-volume mt-4 mb-4">
        <h3>Top Volume</h3>

        <div class="scrollable-row">
          <div class="scrollable-card" *ngFor="let pool of pools?.topVolume; trackBy: poolsTrackBy">
            <opdex-liquidity-pool-volume-card [pool]="pool"></opdex-liquidity-pool-volume-card>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="pools?.mining?.length">
        <div class="col-12">
          <h3>Active Mining</h3>

          <div class="scrollable-row">
            <div class="scrollable-card" *ngFor="let pool of pools.mining; trackBy: poolsTrackBy">
              <opdex-mining-card [pool]="pool"></opdex-mining-card>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-lg-none mt-3">
        <div class="col-12">
          <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
        </div>
      </div>
    </div>
  </div>

  <div class="standard-section pt-5 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="flex-row-center-end" *ngIf="context?.wallet">
            <button mat-button color="primary" (click)="createPool()"><mat-icon>{{icons.add}}</mat-icon> Create Pool</button>
          </div>

          <opdex-pools-table [filter]="topPoolsFilter"></opdex-pools-table>
        </div>
      </div>
    </div>
  </div>
</div>
