<opdex-card class="pool-card" *ngIf="pool">
  <ng-container *ngIf="pool !== null && pool !== undefined; else loading">
    <div class="top-details">
      <h3 class="title">
        <a href="javascript:void(0)" [routerLink]="['/pools', pool.address]">{{pool.name}}</a>
      </h3>

      <button mat-icon-button color="primary" [ngClass]="iconSizes.small" [matMenuTriggerFor]="beforeMenu">
        <mat-icon>{{icons.more}}</mat-icon>
      </button>

      <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-100">
        <button mat-menu-item [ngClass]="iconSizes.small" (click)="transact('start')">
          <mat-icon class="add">{{icons.add}}</mat-icon>
          Start Mining
        </button>

        <button mat-menu-item [ngClass]="iconSizes.small" (click)="transact('stop')">
          <mat-icon class="remove">{{icons.remove}}</mat-icon>
          Stop Mining
        </button>

        <button mat-menu-item [ngClass]="iconSizes.small" (click)="transact('collect')">
          <mat-icon class="collect">{{icons.donut}}</mat-icon>
          Collect Rewards
        </button>
      </mat-menu>
    </div>

    <div class="bottom-details">
      <div class="left">
        <p class="sub-heading">Mining</p>
        <!--{{ pool.miningPool?.tokensMining | shortNumber}} -->
        <p class="value"><span class="b-400">${{ miningUsd?.formattedValue | shortNumber}}</span> <small> {{pool.tokens.lp.symbol}}</small></p>
      </div>

      <div class="right">
        <p class="sub-heading">Reward per Block</p>
        <p class="value">{{ pool.miningPool?.rewardPerBlock | shortNumber}} <small>{{pool.summary.staking?.token.symbol}}</small></p>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="skeleton-bg w-50 mb-3"></div>

    <div class="flex-row-center">
      <div class="w-50">
        <div class="skeleton-bg w-50 mb-1"></div>
        <div class="skeleton-bg w-50 mb-1"></div>
      </div>

      <div class="w-50 flex-column-end">
        <div class="skeleton-bg w-50 mb-1"></div>
        <div class="skeleton-bg w-50 mb-1"></div>
      </div>
    </div>
  </ng-template>
</opdex-card>
