<opdex-card class="pool-card" *ngIf="pool">
  <div class="top-details">
    <h3 class="title">
      <a href="javascript:void(0)" [routerLink]="['/pools', pool.address]">{{pool.token.src.symbol}}/CRS</a>
    </h3>

    <div class="button-group">
      <button mat-icon-button class="remove small" (click)="stopMining()">
        <mat-icon>remove</mat-icon>
      </button>

      <button mat-icon-button class="add small" (click)="startMining()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="bottom-details">
    <div class="left">
      <p class="sub-heading">Mining</p>
      <p class="value">{{ pool.mining?.tokensMining | formatNumber: 0}} <small>LPT</small></p>
    </div>

    <div class="right">
      <p class="sub-heading">Reward per Block</p>
      <p class="value">{{ pool.mining?.rewardPerBlock | formatNumber: 0}} <small>ODX</small></p>
    </div>
  </div>
</opdex-card>
