<opdex-card class="mining-pool" *ngIf="pool">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="d-inline mb-0"><a href="javascript:void(0)" [routerLink]="['/pools', pool.address]">{{pool.token.src.symbol}}/CRS</a></h3>
    <div>
      <button mat-icon-button class="remove small mr-2" (click)="stopMining()"><mat-icon>remove</mat-icon></button>
      <button mat-icon-button class="add small" (click)="startMining()"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <div class="details">
    <div class="mining">
      <p class="sub-heading">Mining</p>
      <p class="value">$49,592</p>
    </div>

    <div class="remaining">
      <p class="sub-heading">Remaining</p>
      <p class="value">1234 ODX</p>
    </div>
  </div>
</opdex-card>
