<div class="vault">
  <div class="container mt-5">
    <div class="row mb-3">
      <div class="col-4">
        <h1 class="page-title mb-3">ODX Governance</h1>
        <p>kvjfdigh87ahgiuaebrgiaj4qih4w3infassk</p>
        <button mat-flat-button color="primary">Distribute Mining Rewards</button>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-3">
        <opdex-card>
          <h4>Nomination Period Duration</h4>
          <p class="mb-0" style="font-weight: 400;">150,000 Blocks</p>
        </opdex-card>
      </div>
      <div class="col-3">
        <opdex-card>
          <h4>Nomination Period End</h4>
          <p class="mb-0" style="font-weight: 400;">3/25/2022 14:22:23 UTC</p>
        </opdex-card>
      </div>
      <div class="col-3">
        <opdex-card>
          <h4>Nomination Reward</h4>
          <p class="mb-0" style="font-weight: 400;">6,250,000.0000 ODX</p>
        </opdex-card>
      </div>

      <div class="col-3">
        <opdex-card>
          <h4>Nomination Reward Reset</h4>
          <p class="mb-0" style="font-weight: 400;">+10 Nomination Periods</p>
        </opdex-card>
      </div>
    </div>

    <ng-container *ngIf="nominatedPools$ | async as nominatedPools">
      <div class="row mb-5" *ngIf="nominatedPools.length">
        <div class="col-12">
          <h3 class="text-shadow">Nominated Liquidity Pools</h3>

          <div class="row">
            <div class="col-3" *ngFor="let pool of nominatedPools">
              <opdex-liquidity-pool-card [pool]="pool"></opdex-liquidity-pool-card>
            </div>
          </div>
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="miningPools$ | async as miningPools">
      <div class="row mb-5" *ngIf="miningPools.length">
        <div class="col-12">
          <h3>Active Liquidity Mining</h3>

          <div class="row">
            <div class="col-3" *ngFor="let pool of miningPools">
              <opdex-mining-card [pool]="pool"></opdex-mining-card>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
