@import 'src/scss/colors';

.badge {
  margin-left: 10px;
  float: right;
  font-size: 14px;
  padding: 2px 10px;
  border-radius: 4px;

  &.warn {
    background: $red-primary;
    color: white;
  }

  &.success {
    background: $green-primary;
    color: $dark-primary;
  }
}
