<div class="header-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="mb-0">Governance</h1>
        <opdex-copy-address [address]="governance?.address"></opdex-copy-address>
      </div>
    </div>

    <div class="row" *ngIf="governance">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <opdex-card>
          <div class="d-flex flex-column justify-content-between">
            <h4 class="d-flex flex-row align-items-center justify-content-between">
              <span class="text d-flex flex-row align-items-center">
                <opdex-help-button class="mr-2" [info]="nominationsHelpInfo"></opdex-help-button> Nominations
              </span>

              <span class="badge {{governance.periodRemainingBlocks > 0 ? 'success' : 'warn'}}">{{governance.periodRemainingBlocks > 0 ? 'Ongoing' : 'Awaiting Distribution'}}</span>
            </h4>

            <h5 class="mb-0" *ngIf="governance.periodRemainingBlocks > 0">
              <mat-progress-bar mode="determinate" value="{{((governance.periodBlockDuration - governance.periodRemainingBlocks) / governance.periodBlockDuration) * 100}}"></mat-progress-bar>

              <div class="mt-2 d-flex flex-row justify-content-between align-items-center">
                <small class="light">{{(governance.periodBlockDuration - governance.periodRemainingBlocks) | formatNumber:0}} of {{governance.periodBlockDuration | formatNumber:0}} blocks</small>
                <small class="light float-right">{{governance.nominationPeriodEndDate | timeago}}</small>
              </div>
            </h5>
          </div>

          <button mat-flat-button color="primary" class="w-100 mt-2" *ngIf="governance.periodRemainingBlocks === 0" [disabled]="submitting || !context.wallet" (click)="quoteDistribution()">Distribute Rewards</button>
        </opdex-card>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <opdex-card [fullHeight]="true">
          <div class="d-flex flex-column justify-content-between h-100">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <h4 class="text d-flex flex-row align-items-center">
                <opdex-help-button class="mr-2" [info]="rewardsHelpInfo"></opdex-help-button> Rewards
              </h4>

              <p class="rewards d-flex flex-row align-items-center" style="font-weight: 400;"><mat-icon [ngClass]="iconSizes.small" class="mine mr-1">{{icons.mining}}</mat-icon>{{governance.totalRewardsPerPeriod | shortNumber}} {{governance.minedToken?.symbol}}</p>
            </div>

            <mat-progress-bar mode="determinate" value="{{ ((12 - governance.periodsUntilRewardReset) / 12) * 100 }}"></mat-progress-bar>

            <div class="mt-2">
              <small class="light">Resets in {{governance.periodsUntilRewardReset}} Nomination Period{{governance.periodsUntilRewardReset === 1 ? '' : 's'}}</small>
            </div>
          </div>
        </opdex-card>
      </div>
    </div>
  </div>
</div>

<div class="standard-section pt-5 pb-3">
  <div class="container">
    <ng-container *ngIf="nominatedPools$ | async as nominatedPools">
      <div class="row" *ngIf="nominatedPools.length">
        <div class="col-12">
          <h2 class="d-flex align-items-center">
            <mat-icon class="stake mr-2">{{icons.staking}}</mat-icon>
            Nominated Liquidity Pools
          </h2>
        </div>
      </div>

      <div class="scrollable-row">
        <div class="scrollable-card" *ngFor="let pool of nominatedPools">
          <opdex-staking-pool-card [pool]="pool"></opdex-staking-pool-card>
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="miningPools$ | async as miningPools">
      <div class="row mt-4" *ngIf="miningPools.length">
        <div class="col-12">
          <h2 class="d-flex align-items-center">
            <mat-icon class="mine mr-2">{{icons.mining}}</mat-icon>
            Active Liquidity Mining
          </h2>
        </div>
      </div>
      <div class="scrollable-row">
        <div class="scrollable-card" *ngFor="let pool of miningPools">
          <opdex-mining-card [pool]="pool"></opdex-mining-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
