<div class="governance page-container" *ngIf="governance$ | async as governance">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h1 class="text-shadow mb-3">
          <opdex-copy-button [tooltip]="governance?.address" [value]="governance?.address" icon="link"></opdex-copy-button>
          <span>Governance</span>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>Mining Nomination Details</h2>
      </div>
    </div>

    <div class="scrollable-row">
      <div class="scrollable-card">
        <opdex-card>
          <div class="d-flex flex-column justify-content-between">
            <h4>Period End <span class="badge {{governance.periodRemainingBlocks > 0 ? 'success' : 'warn'}}">{{governance.periodRemainingBlocks > 0 ? 'Ongoing' : 'Paused'}}</span></h4>

            <h5 class="mb-0" *ngIf="governance.periodRemainingBlocks > 0">
              Block #{{governance.periodEndBlock | formatNumber:0}}
              <small class="light float-right">~{{nominationPeriodEndDate | date:'MM/d/YY h:mm a z':'GMT'}}</small>
            </h5>
          </div>

          <button mat-flat-button color="primary" class="w-100 mt-2" *ngIf="governance.periodRemainingBlocks === 0" [disabled]="submitting || !context.wallet" (click)="quoteDistribution()">Distribute Rewards</button>
        </opdex-card>
      </div>

      <div class="scrollable-card">
        <opdex-card [fullHeight]="true">
          <div class="d-flex flex-column justify-content-between h-100">
            <h4>Period Duration</h4>
            <h5 class="mb-0">
              {{governance.periodBlockDuration | formatNumber:0}} Blocks
              <small class="light float-right">~{{secondsToDhms(governance.periodBlockDuration * 16)}}</small>
            </h5>
          </div>
        </opdex-card>
      </div>

      <div class="scrollable-card">
        <opdex-card [fullHeight]="true">
          <div class="d-flex flex-column justify-content-between h-100">
            <h4>Rewards</h4>
            <h5 class="mb-0">
              {{governance.totalRewardsPerPeriod | shortNumber}} ODX
              <small class="light float-right">{{governance.miningPoolRewardPerPeriod | shortNumber}} each</small>
            </h5>
          </div>
        </opdex-card>
      </div>

      <div class="scrollable-card">
        <opdex-card [fullHeight]="true">
          <div class="d-flex flex-column justify-content-between h-100">
            <h4>Reward Reset</h4>
            <h5 class="mb-0">
              {{governance.periodsUntilRewardReset}} Periods
              <small class="light float-right">~{{((governance.periodsUntilRewardReset * governance.periodBlockDuration) + governance.periodRemainingBlocks) | formatNumber: 0}} Blocks</small>
            </h5>
          </div>
        </opdex-card>
      </div>
    </div>

    <ng-container *ngIf="nominatedPools$ | async as nominatedPools">
      <div class="row" *ngIf="nominatedPools.length">
        <div class="col-12">
          <h2 class="text-shadow d-flex align-items-center">
            <mat-icon class="stake mr-2">verified_user</mat-icon>
            Nominated Liquidity Pools
          </h2>
        </div>
      </div>

      <div class="scrollable-row">
        <div class="scrollable-card" *ngFor="let pool of nominatedPools">
          <opdex-staking-pool-card [pool]="pool"></opdex-staking-pool-card>
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="miningPools$ | async as miningPools">
      <div class="row" *ngIf="miningPools.length">
        <div class="col-12">
          <h2 class="text-shadow d-flex align-items-center">
            <mat-icon class="mine mr-2">whatshot</mat-icon>
            Active Liquidity Mining
          </h2>
        </div>
      </div>
      <div class="scrollable-row">
        <div class="scrollable-card" *ngFor="let pool of miningPools">
          <opdex-mining-card [pool]="pool"></opdex-mining-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
