<div class="review-tx-modal">
  <h2 mat-dialog-title>Review Transaction</h2>

  <mat-dialog-content class="mb-3">
    <div class="swap-transaction" *ngIf="data.transactionType === 'swap'">
      <div class="d-flex justify-content-between align-items-center mb-5">
        <div>
          <span class="amount amount-out">+{{data.payload.tokenOutAmount}}</span>
          <span class="token">xBTC</span>
          <br>
          <span class="usd">($345.32)</span>
        </div>

        <div>
          <mat-icon>swap_horiz</mat-icon>
        </div>

        <div>
          <span class="amount amount-in">-{{data.payload.tokenInAmount}}</span>
          <span class="token">ODX</span>
          <br>
          <span class="usd align-right">($345.32)</span>
        </div>
      </div>

      <div class="d-flex justify-content-between d-flex">
        <p class="light">Estimated Transaction Fee</p>
        <p>$1.30</p>
      </div>

      <div class="d-flex justify-content-between d-flex">
        <p class="light">Tolerance</p>
        <p>0.5%</p>
      </div>

      <div class="d-flex justify-content-between d-flex">
        <p class="light">Deadline</p>
        <p>03/25/22 4:30PM UTC</p>
      </div>
    </div>

    <div class="add-liquidity-transaction" *ngIf="data.transactionType === 'add-liquidity'">
      <div class="d-flex justify-content-between align-items-center mb-5">
        <div>
          <span class="amount amount-in">-{{data.payload.amountCrs}}</span>
          <span class="token">CRS</span>
          <br>
          <span class="usd">($345.32)</span>
        </div>

        <div>
          <span class="amount amount-in">-{{data.payload.amountSrc}}</span>
          <span class="token">wBTC</span>
          <br>
          <span class="usd align-right">($345.32)</span>
        </div>
      </div>
    </div>

    <div class="remove-liquidity-transaction" *ngIf="data.transactionType === 'remove-liquidity'">
      <div class="d-flex justify-content-between align-items-center mb-5">
        <div>
          <span class="amount amount-in">-{{data.payload.liquidity}}</span>
          <span class="token">OLPT</span>
          <br>
          <span class="usd">($345.32)</span>
        </div>

        <div>
          <span class="amount amount-out">+{{data.payload.amountCrsMin}}</span>
          <span class="token">CRS <small class="light">(Min)</small></span>
          <br>
          <span class="usd">($345.32)</span>
        </div>

        <div>
          <span class="amount amount-out">+{{data.payload.amountSrcMin}}</span>
          <span class="token">wBTC <small class="light">(Min)</small></span>
          <br>
          <span class="usd align-right">($345.32)</span>
        </div>
      </div>
    </div>

    <div class="approve-transaction" *ngIf="data.transactionType === 'approve'">
      <div class="d-flex justify-content-between d-flex">
        <p class="light">Amount</p>
        <p>{{data.payload.amount}}</p>
      </div>

      <div class="d-flex justify-content-between d-flex">
        <p class="light">Token</p>
        <p>{{data.payload.token}}</p>
      </div>

      <div class="d-flex justify-content-between d-flex">
        <p class="light">Spender</p>
        <p>{{data.payload.spender}}</p>
      </div>
    </div>

    <div class="d-flex justify-content-between d-flex">
      <p class="light">Estimated Gas Cost</p>
      <p>0.01 CRS ($0.20)</p>
    </div>

    <opdex-qr-code [data]="'aslkdfhaskdjlfjhagsdgfklasdjhfgasdhfmawkjehgkalsjfdhlgasdklf'"></opdex-qr-code>


    <p class="text-center light">Scan with Stratis Wallet</p>


    <small *ngIf="txHash" class="text-center light">{{txHash}}</small>
    <!-- </ng-container> -->
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-stroked-button class="w-100" mat-dialog-close>Close</button>
    <button mat-flat-button color="primary" class="w-100 mt-3 mb-3 ml-0" (click)="submit()" [disabled]="submitting" cdkFocusInitial>{{!submitting ? 'Local Submit' : 'Submitting'}}</button>

    <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
  </mat-dialog-actions>

  <img src="/assets/defi1.png" class="defi" alt="DeFi blocks">
</div>

