
@import 'src/scss/colors';

.badge {
  font-size: .8em;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;

  &.balance {
    background: $blue-primary;
  }

  &.staking {
    background: $purple-primary;
  }

  &.mining {
    background: $red-primary;
  }
}
