<div class="row">
  <div class="col">
    <label [for]="'dateSlider'+label">{{label}}</label>
  </div>
</div>
<div class="row">
  <div class="col d-flex align-items-center">
    <div class="value mr-1">
      {{default}} min
    </div>

    <mat-slider [id]="'dateSlider'+label"
      style="flex: 1"
      step="1"
      min="1"
      max="120"
      (change)="setValue($event)"
      [value]="default"
      aria-label="minutes"></mat-slider>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <small class="light">{{value | date:'MM/dd/YY h:mm a z':'GMT'}}</small>
  </div>
</div>
