<div class="stat-card">
  <opdex-card>
    <h4 class="stat-header">
      <opdex-help-button *ngIf="statInfo.helpInfo" [info]="statInfo.helpInfo" class="mr-1"></opdex-help-button>
      {{statInfo.title}} <small class="ml-2" *ngIf="statInfo.daily">(24hr)</small>
    </h4>

    <div class="stat">
      <p class="stat-value">
        {{statInfo.prefix}}{{statInfo.value | shortNumber }} {{statInfo.suffix}}
      </p>

      <opdex-change-indicator [value]="statInfo.change" size="m" *ngIf="statInfo.change !== null && statInfo.change !== undefined"></opdex-change-indicator>
    </div>
  </opdex-card>
</div>
