<div class="stat-card">
  <opdex-card>
    <h4 class="stat-header">
      {{statInfo.title}} <small class="ml-2" *ngIf="statInfo.daily">(24hr)</small>
      <opdex-help-icon *ngIf="statInfo.helpInfo" [info]="statInfo.helpInfo"></opdex-help-icon>
    </h4>

    <div class="stat">
      <p class="stat-value">
        {{statInfo.preSymbol}}{{statInfo.value | formatNumber: statInfo.formatNumber}} {{statInfo.postSymbol}}
      </p>

      <opdex-change-indicator [value]="statInfo.change" *ngIf="statInfo.change !== null && statInfo.change !== undefined"></opdex-change-indicator>
    </div>
  </opdex-card>
</div>
