<opdex-card>
  <div class="flex-row-center-between">
    <div class="d-inline-flex align-items-center mr-3">
      <opdex-help-button *ngIf="statInfo.helpInfo" [info]="statInfo.helpInfo" [icon]="statInfo.icon" [iconColor]="statInfo.iconColor" class="mr-2"></opdex-help-button>
      <p class="mb-0 no-wrap"><span *ngIf="statInfo.daily">Daily</span> {{statInfo.title}}</p>
    </div>

    <div class="d-inline-flex align-items-center no-wrap" *ngIf="statInfo.value !== null && statInfo.value !== undefined; else loadingStatValue">
      <p class="mr-2 mb-0">{{statInfo.prefix}}{{statInfo.value | shortNumber }} <small class="ml-1">{{statInfo.suffix}}</small></p>
      <opdex-change-indicator [value]="statInfo.change" size="s" *ngIf="statInfo.change !== null && statInfo.change !== undefined"></opdex-change-indicator>
    </div>

    <ng-template #loadingStatValue>
      <div class="skeleton-bg w-50"></div>
    </ng-template>
  </div>
</opdex-card>
