.qr-code-wrapper {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
  background: #333;

  &:hover {
    cursor: pointer;

    canvas {
      opacity: .2 !important;
      transition: opacity .1s ease-in;
    }

    .mat-icon {
      display: block;
      position: absolute;
      left: 104px;
      top: 104px;
      width: 42px;
      height: 42px;
      font-size: 42px !important;
      line-height: 42px;
      color: #ccc;
    }
  }

  canvas {
    transition: opacity .1s ease-out;
  }

  .mat-icon {
    display: none;
  }
}

