h1 {
  display: flex;
  align-items: center;
}

.chart-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 47px;
  padding-left: 15px;
  align-items: center;
  justify-content: space-between;

  .button-dropdown {
    display: block;
  }

  .button-group {
    display: none;

    button {
      min-width: 0px;
      padding: 0px 10px !important;

      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}
