<div id="overview" class="page-container">
  <div class="container" *ngIf="market">
    <div class="row">
      <div class="col">
        <!-- <opdex-card [warn]="true" [closable]="true">
          <h4>Market Data and Opdex Analytics</h4>
          <p class="mb-0">All data represented is based on Opdex's best effort to ingest dynamic blockchain transactions and output analytical data. This data may have inaccuracies and is not to be taken as financial advice.</p>
        </opdex-card> -->
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1 class="text-shadow mb-3">
          <opdex-copy-button [tooltip]="market?.address" [value]="market?.address" icon="link"></opdex-copy-button>
          <span>Market Overview</span>
        </h1>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-sm-6">
            <opdex-card [fullHeight]="true">
              <div class="row">
                <div class="{{market.stakingToken ? 'col-6' : 'col-12' }}">
                  <p class="mb-0 light d-flex align-items-center">
                    <opdex-copy-button [tooltip]="market.crsToken.address" [value]="market.crsToken.address" icon="link" [size]="iconSizes.small"></opdex-copy-button>
                    <span class="ml-2 overflow-ellipsis">{{market.crsToken.name}}</span>
                  </p>

                  <a class="body-default no-decoration d-flex align-items-center" routerLink="/tokens/{{market.crsToken.address}}" matTooltip="Market Anchor Token">
                    <mat-icon color="primary" class="mr-2">toll</mat-icon>
                    <h2 class="d-inline-block mb-0">{{market.crsToken.symbol}}</h2>
                  </a>

                  <div class="d-flex flex-row mt-2">
                    <span class="mr-2">${{market.crsToken.summary.price.close | shortNumber}}</span>
                    <opdex-change-indicator [value]="market.crsToken.summary.dailyPriceChange" size="s" *ngIf="market.crsToken.summary.dailyPriceChange !== null && market.crsToken.summary.dailyPriceChange !== undefined"></opdex-change-indicator>
                  </div>
                </div>

                <div class="col-6" *ngIf="market.stakingToken">
                  <p class="mb-0 light d-flex align-items-center">
                    <opdex-copy-button [tooltip]="market.stakingToken.address" [value]="market.stakingToken.address" icon="link" [size]="iconSizes.small"></opdex-copy-button>
                    <span class="ml-2 overflow-ellipsis">{{market.stakingToken.name}}</span>
                  </p>

                  <a class="body-default no-decoration d-flex align-items-center" routerLink="/tokens/{{market.stakingToken.address}}" matTooltip="Market Staking Token">
                    <mat-icon class="stake mr-2">verified_user</mat-icon>
                    <h2 class="d-inline-block mb-0">{{market.stakingToken.symbol}}</h2>
                  </a>

                  <div class="d-flex flex-row mt-2">
                    <span class="mr-2">${{market.stakingToken.summary.price.close | shortNumber}}</span>
                    <opdex-change-indicator [value]="market.stakingToken.summary.dailyPriceChange" size="s" *ngIf="market.stakingToken.summary.dailyPriceChange !== null && market.stakingToken.summary.dailyPriceChange !== undefined"></opdex-change-indicator>
                  </div>
                </div>
              </div>
            </opdex-card>
          </div>

          <div class="col-12 col-sm-6">
            <opdex-card [fullHeight]="true">
              <div class="d-flex justify-content-around flex-column h-100">
                <ng-container *ngFor="let statCard of statCards; let i = index">
                  <div *ngIf="statCard.show" class="d-flex justify-content-between w-100">
                    <div class="d-flex align-items-center">
                      <opdex-help-button *ngIf="statCard.helpInfo" [info]="statCard.helpInfo" class="mr-2"></opdex-help-button>
                      <span>{{statCard.title}} <small class="ml-2" *ngIf="statCard.daily">(24hr)</small></span>
                    </div>

                    <div class="d-flex align-items-center">
                      <opdex-change-indicator [value]="statCard.change" size="s" *ngIf="statCard.change !== null && statCard.change !== undefined"></opdex-change-indicator>
                      <span class="ml-2">{{statCard.prefix}}{{statCard.value | shortNumber }} <small class="ml-1">{{statCard.suffix}}</small></span>
                    </div>
                  </div>
                </ng-container>
              </div>
            </opdex-card>
          </div>
        </div>


        <opdex-card [noPadding]="true">
          <opdex-line-chart
            [chartData]="chartData"
            [chartOptions]="chartOptions"
            [selectedChart]="selectedChart"
            title="{{selectedChart.category}}"
            *ngIf="chartData"
            [showTimeSpans]="false"
            (onTypeChange)="handleChartTypeChange($event)"
            (onTimeChange)="handleChartTimeChange($event)"></opdex-line-chart>
        </opdex-card>
      </div>

      <!-- Todo: Do this with angular and *ngIf so we aren't rendering it in 2 places-->
      <div class="d-none d-lg-block col-lg-4">
        <opdex-tx-feed [transactionRequest]="transactionRequest" size="m"></opdex-tx-feed>
      </div>
    </div>

    <ng-container *ngIf="miningPools$ | async as miningPools">
      <div class="row" *ngIf="miningPools.length">
        <div class="col-12">
          <h2 class="mb-3 text-shadow d-flex align-items-center">
            <mat-icon class="mr-2 mine">whatshot</mat-icon>
            Liquidity Mining
          </h2>

          <div class="scrollable-row">
            <ng-container *ngFor="let pool of miningPools">
              <div class="scrollable-card">
                <opdex-mining-card [pool]="pool"></opdex-mining-card>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <div class="col-12 col-lg-6">
        <opdex-card [hasToolbar]="true" [thin]="true">
          <ng-container toolbar>
            <div class="details">
              <h4 class="title d-inline">Top Liquidity Pools</h4>
            </div>

            <div class="button-group">
              <button mat-icon-button color="primary" (click)="createPool()"><mat-icon>add</mat-icon></button>
            </div>
          </ng-container>

          <opdex-pools-table [pools]="pools" [smallPageSize]="true"></opdex-pools-table>
        </opdex-card>
      </div>

      <div class="col-12 col-lg-6">
        <opdex-card [hasToolbar]="true" [thin]="true">
          <ng-container toolbar>
            <div class="details">
              <h4 class="title d-inline">Top Tokens</h4>
            </div>
          </ng-container>

          <opdex-tokens-table [tokens]="tokens" [smallPageSize]="true"></opdex-tokens-table>
        </opdex-card>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-lg-none d-xl-none">
        <opdex-tx-feed [transactionRequest]="transactionRequest"></opdex-tx-feed>
      </div>
    </div>
  </div>
</div>


