<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-8">
        <h1 class="mb-0">Market Overview</h1>
        <opdex-copy-address [address]="market?.address"></opdex-copy-address>

        <div class="flex-row-center mt-2">
          <div class="badge blue mr-2">{{market?.transactionFeePercent?.bigInt > 0 ? market.transactionFeePercent?.formattedValue : 0}}% Fee</div>
          <div class="badge purple mr-2" *ngIf="market?.isStaking">Staking</div>
          <div class="badge green mr-2" *ngIf="market?.isPublic">Public</div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-xl-4">
        <div class="d-sm-none mt-3"></div>
        <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
      </div>
    </div>
  </div>
</div>

<div class="offset-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-12">
            <opdex-market-token-card [token]="market?.tokens?.crs" [icon]="icons.tokens" iconColor="swap"></opdex-market-token-card>
          </div>
          <div class="col-12 col-sm-6 col-lg-12">
            <opdex-market-token-card [token]="market?.tokens?.staking" [icon]="icons.staking" iconColor="stake"></opdex-market-token-card>
          </div>
          <div class="col-12 col-sm-12 col-lg-12">
            <opdex-market-summary-card [market]="market"></opdex-market-summary-card>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 col-xl-9">
        <opdex-card>
          <opdex-chart-container [chartsHistory]="chartsHistory"></opdex-chart-container>
        </opdex-card>
      </div>
    </div>
  </div>
</div>

<div class="standard-section pt-5 pb-3">
  <div class="container">
    <div class="row mb-5" *ngIf="poolsWithEnabledMining?.length">
      <div class="col-12">
        <h3>Active Mining Pools</h3>

        <div class="scrollable-row">
          <ng-container *ngFor="let pool of poolsWithEnabledMining; trackBy: poolsTrackBy">
            <div class="scrollable-card">
              <opdex-mining-card [pool]="pool"></opdex-mining-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12">
        <h3>Top Liquidity Pools</h3>
        <opdex-pools-table [filter]="liquidityPoolsFilter"></opdex-pools-table>
      </div>

      <div class="col-12">
        <h3>Top Tokens</h3>
        <opdex-tokens-table [filter]="tokensFilter"></opdex-tokens-table>
      </div>
    </div>
  </div>
</div>
