aside {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    text-align: center;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      width: 40px;
    }

    .opdex {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
      margin-left: 10px;
      font-size: 2em;
      font-weight: bold;
    }
  }

  ul {
    li {
      list-style-type: none;
      padding: 10px 0px;
    }
  }

  &.light-mode {
    background: #fff !important;
    // border-right: 1px solid #1da7dc;
  }

  &.dark-mode {
    background: #0f0f0f !important;
  }
}
