
<ng-container *ngIf="theme$ | async as theme">
  <aside [ngClass]="theme">
    <div class="logo" routerLink="/">
      <img src="/assets/logo-light-blue.png" alt="Opdex Logo">
      <p class="opdex">OPDEX</p>
    </div>

    <mat-selection-list #navigation [multiple]="false">
      <mat-list-item routerLink="/">
        <mat-icon class="mr-3" color="primary">bar_chart</mat-icon> Market
      </mat-list-item>
      <mat-list-item routerLink="/pairs">
        <mat-icon class="mr-3" color="primary">reorder</mat-icon> Pairs
      </mat-list-item>
      <mat-list-item routerLink="/tokens">
        <mat-icon class="mr-3" color="primary">bubble_chart</mat-icon> Tokens
      </mat-list-item>
      <mat-list-item routerLink="/holdings">
        <mat-icon class="mr-3" color="primary">account_balance_wallet</mat-icon> Holdings
      </mat-list-item>
      <mat-list-item routerLink="/history">
        <mat-icon class="mr-3" color="primary">history</mat-icon> History
      </mat-list-item>
    </mat-selection-list>


    <div class="space-between"></div>

    <button color="primary" mat-flat-button class="w-100 mb-1">Connect Wallet</button>

    <div class="connection-theme-row">
      <div class="connection">
        <span class="connection-badge"></span> Connected
      </div>

      <div class="theme-selection">
        <button mat-icon-button (click)="setTheme('light-mode')" class="tiny" [ngClass]="{'inactive': theme === 'dark-mode'}">
          <mat-icon>wb_sunny</mat-icon>
        </button>

        <span class="theme-divider">/</span>

        <button mat-icon-button (click)="setTheme('dark-mode')" class="tiny" [ngClass]="{'inactive': theme === 'light-mode'}">
          <mat-icon>brightness_3</mat-icon>
        </button>
      </div>
    </div>

  </aside>
</ng-container>
