aside {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    text-align: center;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      width: 40px;
    }

    .opdex {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
      margin-left: 10px;
      font-size: 2em;
      font-weight: bold;
    }
  }

  ul {
    li {
      list-style-type: none;
      padding: 10px 0px;
    }
  }

  // &.light-mode {
  //   background: #fff !important;
  // }

  // &.dark-mode {
  //   background: #1B192F !important;
  // }

  .connection-theme-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

    .theme-selection {
      display: flex;
      flex-direction: row;

      .theme-divider {
        color: #777;
        font-size: 1.4em;
        margin: 0px 3px 0px 6px;
      }

      .inactive {
        color: #777;
      }
    }

    .connection {
      .connection-badge {
        width: 6px;
        height: 6px;
        background: green;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}


.background {
  filter: blur(25px);
  position: absolute;
  width: 100%;
  height: 100%;
}

.foreground {
  backdrop-filter: blur(50px);
}
