<div class="container">
  <h2>Tokens</h2>

  <div *ngIf="tokens" class="mt-4 mb-4">
    <div class="row token-row" *ngFor="let token of tokens; let i = index" (click)="selectToken(token)">
      <div class="col flex-shrink">
        <p>{{i + 1}}.</p>
      </div>
      <div class="col">
        <p class="title">{{token.name}} <small>({{token.symbol}})</small></p>
        <p class="mb-0"><small>{{token.address}}</small></p>
      </div>
    </div>
  </div>

  <button mat-flat-button color="primary" class="mt-2 w-100">Add New Token</button>

  <img src="/assets/defi1.png" class="defi" alt="DeFi blocks">
</div>
