<div class="collect-staking-rewards">
  <form [formGroup]="form" name="collect-staking-rewards-form" id="collect-staking-rewards-form">
    <p class="b-400 light">Collect Rewards</p>

    <mat-checkbox
      formControlName="liquidate"
      color="primary"
      name="liquidate"
      value="false"
      aria-label="Liquidate Rewards">
      Liquidate Collected OLPT
    </mat-checkbox>

    <opdex-tx-quote-submit-button
      [disabled]="!form.valid || !context?.wallet"
      (onSubmit)="submit()">
    </opdex-tx-quote-submit-button>

    <opdex-tx-quote-errors [quoteErrors]="quoteErrors"></opdex-tx-quote-errors>
  </form>
</div>
