.token-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ddd;
  position: relative;
  background-size: cover;

  &.cirrus {
    background-image: url('/assets/tokens/crs.png') !important;
  }

  &.odx {
    background-image: url('/assets/tokens/odx.png') !important;
  }
}

.empty {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;

  &::after {
    content: "\1F978";
    line-height: 26px;
    font-size: 24px;
    position: absolute;
  }
}
