.token-icon {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  position: relative;
  z-index: 1;

  &:not(.cirrus):not(.odx) {
    &::after {
      content: "\1F978";
      display: flex;
      justify-content: center;
      line-height: 24px;
      font-size: 24px;
    }
  }

  &.cirrus {
    background-image: url('/assets/tokens/crs.png');
    background-size: cover;
  }

  &.odx {
    background-image: url('/assets/tokens/odx.png');
    background-size: cover;
  }
}
