<ng-container *ngIf="!!dataSource; else loading">
  <ng-container *ngIf="dataSource?.data?.length; else noResults">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort [trackBy]="trackBy" class="w-100">
        <ng-container matColumnDef="pool" sticky>
          <th mat-header-cell *matHeaderCellDef> Liquidity Pool </th>
          <td mat-cell *matCellDef="let element" class="no-wrap">
            <div class="no-wrap flex-row-center">
              <opdex-token-icons [tokens]="element.poolTokens"></opdex-token-icons>
              <a class="no-decoration b-400 ml-2" href="javascript:void(0)" (click)="navigate(element.liquidityPoolAddress)">{{element.name}}</a>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">
            <span class="no-wrap badge" [ngClass]="{'active': element.isActive, 'mining': !element.isActive}">{{element.isActive ? 'Active' : 'Inactive'}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element">
            <opdex-number [value]="element.position" [suffix]="element.miningTokenSymbol"></opdex-number>
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element">
            <opdex-number [value]="element.value" prefix="$" [precision]="2"></opdex-number>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex-row-center-end">
              <button mat-icon-button color="primary" [ngClass]="iconSizes.small" class="float-right" [matMenuTriggerFor]="beforeMenu" (click)="$event.stopPropagation()">
                <mat-icon>{{icons.more}}</mat-icon>
              </button>

              <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-100">
                <button mat-menu-item (click)="openSidebar('start', element.liquidityPoolAddress)" [disabled]="!element.isCurrentMarket">
                  <mat-icon class="green">{{icons.add}}</mat-icon> Start Mining
                </button>

                <button mat-menu-item (click)="openSidebar('stop', element.liquidityPoolAddress)" [disabled]="!element.isCurrentMarket">
                  <mat-icon class="red">{{icons.remove}}</mat-icon> Stop Mining
                </button>

                <button mat-menu-item (click)="openSidebar('collect', element.liquidityPoolAddress)" [disabled]="!element.isCurrentMarket">
                  <mat-icon class="purple">{{icons.rewards}}</mat-icon> Collect Rewards
                </button>

                <button mat-menu-item [ngClass]="iconSizes.small" (click)="refreshPosition(element.liquidityPoolAddress, element.miningPoolAddress)">
                  <mat-icon class="blue">{{icons.refresh}}</mat-icon> Refresh
                </button>
              </mat-menu>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="paginator">
      <div class="flex-row-center-center">
        <button mat-icon-button [disabled]="!paging?.previous" (click)="pageChange(paging.previous)"><mat-icon>{{icons.previous}}</mat-icon></button>
        <button mat-icon-button [disabled]="!paging?.next" (click)="pageChange(paging.next)"><mat-icon>{{icons.next}}</mat-icon></button>
      </div>
    </div>
  </ng-container>

  <ng-template #noResults>
    <p class="mt-2 text-center light">No results found</p>
  </ng-template>
</ng-container>

<ng-template #loading>
  <opdex-skeleton-table></opdex-skeleton-table>
</ng-template>
