<div class="create-pool">
  <opdex-card>
    <form [formGroup]="form" name="create-pool-form" id="swap-form" (submit)="submit()">
      <opdex-input-control [buttonDisabled]="true" [prefixIcon]="icons.link" label="Token" [formControl]="token" placeholder="Token Address..."></opdex-input-control>
      <ng-container *ngIf="isTokenKnown && isValidToken">
        <div class="d-flex flex-row ml-1 align-items-center">
          <mat-icon [ngClass]="iconSizes.tiny" class="green">{{icons.checkOutline}}</mat-icon>
          <span class="ml-2">{{validatedToken.name}} <small class="light">({{validatedToken.symbol}})</small></span>
        </div>
        <div class="d-flex flex-row ml-2 mt-1 align-items-center">
          <small class="ml-2 light overflow-ellipsis d-block">{{validatedToken.address}}</small>
        </div>
      </ng-container>

      <button mat-flat-button color="primary" class="my-3 w-100" [disabled]="!form.valid || !context?.wallet || !isTokenKnown" *ngIf="isTokenKnown && isValidToken">Quote</button>

      <ng-container *ngIf="form.valid && isTokenKnown == false">
        <div class="d-flex flex-row ml-1 align-items-center" *ngIf="isValidToken !== false">
          <mat-icon [class]="iconSizes.tiny" color="warn">{{icons.error}}</mat-icon>
          <span class="ml-2">Unknown token, please validate</span>
        </div>

        <div *ngIf="isValidToken === false" class="row d-flex flex-row ml-1 align-items-center">
          <mat-icon [class]="iconSizes.tiny" color="warn">{{icons.error}}</mat-icon>
          <span class="ml-2">Invalid Token</span>
        </div>

        <button mat-flat-button color="primary" class="my-3 w-100" [disabled]="!form.valid || !context?.wallet">Validate</button>
      </ng-container>
    </form>
  </opdex-card>
</div>
