<div id="mobile-nav">
  <div *ngIf="userContext$ | async as context" class="d-flex justify-content-around align-items-center h-100">
    <a mat-icon-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>trending_up</mat-icon>
    </a>
    <a mat-icon-button routerLink="/pools" routerLinkActive="active">
      <mat-icon>bubble_chart</mat-icon>
    </a>
    <a mat-icon-button routerLink="/tokens" routerLinkActive="active">
      <mat-icon>toll</mat-icon>
    </a>

    <a mat-icon-button routerLink="/governance" routerLinkActive="active">
      <mat-icon>gavel</mat-icon>
    </a>
    <a mat-icon-button routerLink="/vault" routerLinkActive="active">
      <mat-icon>lock</mat-icon>
    </a>
    <a mat-icon-button routerLink="/{{ !context?.wallet ? 'auth' : 'wallet'}}" routerLinkActive="active">
      <span class="wallet-indicator {{context?.wallet ? 'valid' : 'invalid'}}"></span>
      <mat-icon>account_balance_wallet</mat-icon>
    </a>
  </div>
</div>
