<mat-form-field [floatLabel]="showLabel ? 'always' : 'never'" [ngClass]="{'hide-label': !showLabel, 'active': active}">
  <mat-label *ngIf="showLabel">{{label}}</mat-label>

  <button mat-icon-button matPrefix disabled *ngIf="prefixIcon">
    <mat-icon matPrefix>{{prefixIcon}}</mat-icon>
  </button>

  <input matInput type="text" [formControl]="formControl" [placeholder]="placeholder" autocomplete="off" (keydown)="decimalNumberKeyValidator($event)" [attr.aria-label]="label">

  <button *ngIf="suffix" mat-button matSuffix (click)="changeToken()" [disabled]="buttonDisabled" style="min-width: auto;">
    {{suffix}}
  </button>

  <mat-hint class="w-100">
    <ng-content></ng-content>
  </mat-hint>
</mat-form-field>
