<mat-form-field [floatLabel]="showLabel ? 'always' : 'never'" [ngClass]="{'hide-label': !showLabel, 'active': active}">
  <mat-label *ngIf="showLabel">{{label}}</mat-label>

  <button mat-icon-button color="primary" matPrefix [disabled]="prefixIconDisabled" *ngIf="prefixIcon" (click)="clickPrefix()" type="button">
    <mat-icon matPrefix>{{prefixIcon}}</mat-icon>
  </button>

  <input matInput type="text" [ngClass]="{'numbersInput': numbersOnly}" [formControl]="formControl" [placeholder]="placeholder" autocomplete="off" (keydown)="decimalNumberKeyValidator($event)" [attr.aria-label]="label">

  <button *ngIf="suffix" color="primary" mat-button matSuffix (click)="changeToken()" [disabled]="suffixDisabled" style="min-width: auto;" type="button">
    {{suffix}}
  </button>

  <mat-hint class="w-100">
    <ng-content></ng-content>
  </mat-hint>
</mat-form-field>
