<opdex-card>
  <ng-container *ngIf="token; else loading">
    <small class="light">{{token.name}}</small>
    <div class="flex-row-center-between">
      <a class="body-default no-decoration d-inline-flex align-items-center" routerLink="/tokens/{{token.address}}">
        <opdex-token-icon [token]="token"></opdex-token-icon>
        <h2 class="d-inline-block mb-0 ml-2">{{token.symbol}}</h2>
      </a>

      <div class="flex-row-center-end">
        <h3 class="mb-0 mr-2 b-300">
          <opdex-number prefix="$" [value]="token.summary.priceUsd" [short]="true"></opdex-number>
        </h3>
        <opdex-change-indicator [value]="token.summary.dailyPriceChangePercent" *ngIf="token.summary.dailyPriceChangePercent !== null && token.summary.dailyPriceChangePercent !== undefined"></opdex-change-indicator>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="skeleton-bg w-50 mb-1"></div>

    <div class="flex-row-center">
      <div class="w-50">
        <div class="skeleton-bg w-75"></div>
      </div>

      <div class="w-50 flex-column-end">
        <div class="skeleton-bg w-75"></div>
      </div>
    </div>
  </ng-template>
</opdex-card>
