.feed-container {
  position: relative;
  height: 100%;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;

  &.large {
    height: 100%;
  }

  &.medium {
    height: 100%;
  }

  &.small {
    height: 100%;
  }
}

.refresh-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  z-index: 999;
  transform: translateY(-10px);
  transition: .1s ease-out;

  &.refreshAvailable {
    opacity: 1;
    transform: translateY(0);
    transition: .2s ease-out;
  }

  .mat-flat-button {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    background-color: rgba(29, 167, 221, 0.8) !important;
    font-size: 14px;
    line-height: 32px;
  }
}

@media (min-width: 320px) { }

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) {
  .feed-container {
    &.large {
      height: 685px;
    }

    &.medium {
      height: 565px;
    }

    &.small {
      height: 430px;
    }
  }
}

@media (min-width: 1200px) { }
