<div class="vault-proposal-vote">
  <form [formGroup]="form" name="vault-proposal-vote-form" id="vault-proposal-vote-form" (submit)="submit()">
    <div class="mb-3">
      <opdex-input-control placeholder="" [suffixDisabled]="true" label="Proposal #" [formControl]="proposalId"></opdex-input-control>
    </div>

    <div class="mb-3">
      <opdex-input-control
        [prefixIcon]="isWithdrawal ? icons.remove : icons.add"
        [prefixIconDisabled]="false"
        (onPrefixClick)="handleAddRemoveStatus()"
        [suffixDisabled]="true"
        [label]="isWithdrawal ? 'Withdraw' : 'Vote'"
        [formControl]="amount"
        [numbersOnly]="true"
        suffix="CRS">
        <div class="flex-row-center-end">
          <span class="success" *ngIf="fiatValue">${{fiatValue | shortNumber}}</span>
        </div>
      </opdex-input-control>
    </div>

    <mat-checkbox
      *ngIf="!isWithdrawal"
      formControlName="inFavor"
      color="primary"
      name="inFavor"
      value="false"
      aria-label="In Favor">
      In Favor
    </mat-checkbox>

    <button mat-flat-button color="primary" class="mt-3 w-100" [disabled]="!form.valid || !context?.wallet">Quote</button>
  </form>
</div>
