<div class="vault-proposal-vote">
  <form [formGroup]="form" name="vault-proposal-vote-form" id="vault-proposal-vote-form" (submit)="submit()">

    <div class="mb-3">
      <mat-form-field appearance="legacy" floatLabel="always">
        <mat-label>Add Or Withdraw</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let option of types" [value]="option.value">
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <opdex-input-control placeholder="" [buttonDisabled]="true" label="Proposal ID" [formControl]="proposalId"></opdex-input-control>
    </div>

    <div class="mb-3">
      <opdex-input-control [buttonDisabled]="true" label="Amount" [formControl]="amount" [numbersOnly]="true">
        <div class="flex-row-center-end">
          <span class="success" *ngIf="fiatValue">${{fiatValue | shortNumber}}</span>
        </div>
      </opdex-input-control>
    </div>

    <mat-checkbox
      *ngIf="type.value === 1"
      formControlName="inFavor"
      color="primary"
      name="inFavor"
      value="false"
      aria-label="In Favor">
      In Favor
    </mat-checkbox>

    <button mat-flat-button color="primary" class="mt-3 w-100" [disabled]="!form.valid || !context?.wallet">Quote</button>
  </form>
</div>
