<div class="vault-proposal-vote">
  <form [formGroup]="form" name="vault-proposal-vote-form" id="vault-proposal-vote-form">
    <div class="mb-3">
      <opdex-input-control
        placeholder="1"
        [suffixDisabled]="true"
        label="Proposal No."
        [formControl]="proposalId">
      </opdex-input-control>
    </div>

    <opdex-input-control
      [prefixIcon]="isWithdrawal ? icons.remove : icons.add"
      [prefixIconDisabled]="true"
      [suffixDisabled]="true"
      [label]="isWithdrawal ? 'Withdraw' : 'Vote'"
      [formControl]="amount"
      [numbersOnly]="true"
      suffix="CRS">
      <div class="flex-row-center-end">
        <span class="success" *ngIf="fiatValue">${{fiatValue | shortNumber}}</span>
      </div>
    </opdex-input-control>

    <opdex-percentage-amount-buttons
      contract="{{ isWithdrawal ? vaultAddress : 'CRS'}}"
      [token]="crs"
      [positionType]="positionType"
      [selected]="percentageSelected"
      (onPercentageSelect)="handlePercentageSelect($event)"
      [proposalId]="proposalId.value"
      *ngIf="crs">
    </opdex-percentage-amount-buttons>

    <mat-slide-toggle
      class="d-block mt-3"
      color="primary"
      [checked]="isWithdrawal"
      (change)="handleAddRemoveStatus($event)">
      <span [ngClass]="{'light': !isWithdrawal}">Withdraw Vote</span>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="!isWithdrawal"
      class="d-block mt-3"
      color="primary"
      formControlName="inFavor">
      <span [ngClass]="{'light': !inFavor.value}">In Favor</span>
    </mat-slide-toggle>

    <opdex-card [info]="true" class="d-block mt-3" *ngIf="isWithdrawal">
      <small>
        Withdrawing when an active proposal is in vote status will deduct the withdrawn amount from the proposals' votes.
      </small>
    </opdex-card>

    <div class="mt-2" *ngIf="balanceError">
      <opdex-tx-quote-error
        [warn]="true"
        message="Insufficient Balance">
      </opdex-tx-quote-error>
    </div>

    <opdex-tx-quote-submit-button
      [warn]="balanceError"
      label="Quote {{isWithdrawal ? 'Withdrawal' : 'Vote'}}"
      [disabled]="!form.valid || !context?.wallet || balanceError === undefined"
      (onSubmit)="submit()">
    </opdex-tx-quote-submit-button>

    <opdex-tx-quote-errors [quoteErrors]="quoteErrors"></opdex-tx-quote-errors>
  </form>
</div>
