<div class="swap">
  <h3 class="mb-0">Swap Tokens</h3>

  <form [formGroup]="form" name="swap-form" id="swap-form">
    <div class="exactly swap-row">
      <div class="spend-receive-button">
        <button mat-icon-button color="primary" type="button" class="small" (click)="toggleTokenInExactly()"><mat-icon>{{tokenInExactly ? 'add' : 'remove'}}</mat-icon></button>
      </div>

      <div class="amount">
        <mat-form-field appearance="outline" class="w-100" >
          <input matInput type="text" [required]="true" [formControl]="from" autocomplete="off" placeholder="0">
        </mat-form-field>
      </div>

      <div class="token">
        <button mat-stroked-button color="primary" type="button" (click)="changeToken('fromToken')">{{fromTokenDetails?.symbol || 'CRS'}}</button>
      </div>
    </div>

    <div class="switch">
      <button mat-icon-button (click)="switch()"><mat-icon>swap_vert</mat-icon></button>
    </div>

    <div class="exactly swap-row">
      <div class="spend-receive-button">
        <button mat-icon-button color="primary" type="button" class="small" (click)="toggleTokenInExactly()"><mat-icon>{{!tokenInExactly ? 'add' : 'remove'}}</mat-icon></button>
      </div>

      <div class="amount">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="text" [value]="to.value" placeholder="0" disabled>
        </mat-form-field>
      </div>

      <div class="token">
        <button mat-stroked-button color="primary" type="button" (click)="changeToken('toToken')">{{toTokenDetails?.symbol || 'Select Token'}}</button>
      </div>
    </div>
  </form>

  <div class="space-between"></div>

  <!-- <div class="swap-info mt-1" *ngIf="form.controls.from.value > 0 && form.controls.to.value > 0">
    <p class="mb-0">Slippage: .1%</p>
    <p class="mb-0">Minimum Received: 12345</p>
    <p class="mb-0">Price: 12345</p>
    <p class="mb-0">Price Impact: 12345</p>
    <p class="mb-0">Fee: .03%</p>
  </div> -->

  <div *ngIf="txHash">
    {{txHash}}
  </div>

  <button mat-flat-button color="primary" class="mt-4 w-100" (click)="submit()">Swap</button>
</div>
