<section id="auth" class="header-section tx-bg flex-row-center-center">
  <div class="container">
    <opdex-card [info]="true">
      <p class="mb-0">
        By connecting a wallet, you acknowledge that you have read, understand and agree to Opdex Inc.'s
        <a class="no-decoration b-400" href="https://opdex.com/assets/opdex-platform-ui-terms-of-use.pdf" target="_blank" rel="noopener">Terms of Use</a>.
      </p>
    </opdex-card>

    <opdex-card>
      <div class="flex-row-center-center mb-3 mt-2">
        <img src="/assets/logo-light-blue.png" alt="Opdex Logo" class="logo mr-1">
        <h1 class="mb-0">Login</h1>
      </div>

      <ng-container *ngIf="!reconnecting; else connecting">
        <p class="text-center">Scan or copy the QR code using a compatible Stratis wallet to login.</p>

        <opdex-qr-code [data]="stratisId"></opdex-qr-code>

        <div class="mt-3" *ngIf="percentageTimeRemaining">
          <small class="mb-1">Code Reset</small>
          <mat-progress-bar [color]="percentageTimeRemaining < 10 ? 'warn' : 'primary'" [value]="percentageTimeRemaining"></mat-progress-bar>
          <div class="flex-row-center-between mt-1">
            <small class="d-block light">{{timeRemaining}} Remaining</small>
            <small *ngIf="webSid && isTestnet">
              <a class="no-decoration b-400 flex-row-center" color="primary" [href]="webSid" target="_blank">
                web+sid
                <mat-icon class="tiny">{{icons.arrowRight}}</mat-icon>
              </a>
            </small>
          </div>
        </div>
      </ng-container>

      <ng-template #connecting>
        <p class="text-center">Reconnecting, please wait...</p>
        <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
      </ng-template>
    </opdex-card>
  </div>
</section>
