@import 'src/scss/bootstrap-grid';

#auth {
  min-height: calc(var(--app-height) - (env(safe-area-inset-bottom, 0) + 50px));

  opdex-card {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    h2 {
      text-align: center;
      margin: 0px auto 30px;
      max-width: 300px;
    }
  }

  .logo {
    width: 75px;
    margin: 0px auto 15px;
    display: block;
  }
}

@media (min-width: 992px) {
  #auth {
    min-height: var(--app-height);
  }
}
