#auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  opdex-card {
    width: 100%;
    max-width: 500px;
    margin-bottom: 0px !important;

    h2 {
      text-align: center;
      margin: 0px auto 30px;
      max-width: 300px;
    }
  }

  .logo {
    width: 75px;
    margin: 0px auto 15px;
    display: block;
  }
}
