<div class="stop-mining">
  <form [formGroup]="form" name="stop-mining-form" id="stop-mining-form">
    <opdex-input-control
      [suffixDisabled]="true"
      label="Stop Mining"
      [formControl]="amount"
      [suffix]="pool.tokens.lp.symbol"
      [numbersOnly]="true">
      <div class="flex-row-center-end">
        <span class="success" *ngIf="fiatValue">${{fiatValue.formattedValue | shortNumber}}</span>
      </div>
    </opdex-input-control>

    <opdex-percentage-amount-buttons
      [contract]="pool.miningPool?.address"
      [token]="pool.tokens.lp"
      positionType="Mining"
      [selected]="percentageSelected"
      (onPercentageSelect)="handlePercentageSelect($event)">
    </opdex-percentage-amount-buttons>

    <div class="mt-2" *ngIf="balanceError">
      <opdex-tx-quote-error
        [warn]="true"
        message="Insufficient Mining Balance">
      </opdex-tx-quote-error>
    </div>

    <opdex-tx-quote-submit-button
      [warn]="balanceError"
      [disabled]="!form.valid || !context?.wallet || balanceError === undefined"
      (onSubmit)="submit()">
    </opdex-tx-quote-submit-button>

    <opdex-tx-quote-errors [quoteErrors]="quoteErrors"></opdex-tx-quote-errors>
  </form>
</div>
