.stop-mining {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.swap-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0px;

  .amount {
    flex: 1;
  }

  .spend-receive-button {
    border-radius: 50%;
  }

  div {
    margin: 0px 5px;

    &:first-of-type {
      margin-left: 0px;
    }

    &:last-of-type {
      margin-right: 0px;
    }
  }
}


.switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  button {
    margin-bottom: 10px;
  }
}
