<div class="stop-mining">
  <form [formGroup]="form" name="stop-mining-form" id="stop-mining-form">
    <opdex-input-control
      [suffixDisabled]="true"
      [prefixIcon]="icons.remove"
      label="Stop Mining"
      [formControl]="amount"
      [suffix]="pool.token.lp.symbol"
      [numbersOnly]="true">
      <div class="flex-row-center-end">
        <span class="success" *ngIf="fiatValue">${{fiatValue | shortNumber}}</span>
      </div>
    </opdex-input-control>

    <opdex-percentage-amount-buttons
      [contract]="pool.summary.miningPool?.address"
      [token]="pool.token.lp"
      positionType="Mining"
      [selected]="percentageSelected"
      (onPercentageSelect)="handlePercentageSelect($event)">
    </opdex-percentage-amount-buttons>

    <opdex-tx-quote-submit-button
      [disabled]="!form.valid || !context?.wallet"
      (onSubmit)="submit()">
    </opdex-tx-quote-submit-button>

    <opdex-tx-quote-errors [quoteErrors]="quoteErrors"></opdex-tx-quote-errors>
  </form>
</div>
