<opdex-card>
  <ng-container *ngIf="position?.value !== null && position?.value !== undefined; else loadingPositions">
    <div class="flex-row-center-between">
      <small class="light b-400">{{position.position}}</small>
      <small>
        <opdex-number prefix="$" [value]="position.value" [precision]="2"></opdex-number>
      </small>
    </div>

    <div class="flex-row-center-between">
      <a class="no-decoration" routerLink="/tokens/{{position.token.address}}">
        <p class="mb-0 b-400 flex-row-center mr-3">
          <ng-container [ngSwitch]="position.position">
            <mat-icon [ngClass]="iconSizes.tiny" class="swap mr-1" *ngSwitchCase="'Balance'">{{icons.tokens}}</mat-icon>
            <mat-icon [ngClass]="iconSizes.tiny" class="provide mr-1" *ngSwitchCase="'Providing'">{{icons.provide}}</mat-icon>
            <mat-icon [ngClass]="iconSizes.tiny" class="stake mr-1" *ngSwitchCase="'Staking'">{{icons.staking}}</mat-icon>
            <mat-icon [ngClass]="iconSizes.tiny" class="mine mr-1" *ngSwitchCase="'Mining'">{{icons.mining}}</mat-icon>
          </ng-container>

          {{position.token.symbol}}
        </p>
      </a>

      <opdex-number [value]="position.amount" [precision]="8"></opdex-number>
    </div>
  </ng-container>

  <ng-template #loadingPositions>
    <div class="w-100">
      <div class="flex-row-center-between mb-1">
        <div class="skeleton-bg w-25"></div>
        <div class="skeleton-bg w-25"></div>
      </div>

      <div class="flex-row-center-between">
        <div class="skeleton-bg w-25"></div>
        <div class="skeleton-bg w-25"></div>
      </div>
    </div>
  </ng-template>
</opdex-card>
