<ng-container *ngIf="pool$ | async as pool; else loading">
  <p class="mb-0" *ngIf="event.subEventType === 'RemoveLiquidity'">
    Removed
    <strong>{{event.amountCrs | formatNumber:8}}</strong> {{pool.token.crs.symbol}} and
    <strong>{{event.amountSrc | formatNumber:pool.token.src.decimals }}</strong> {{pool.token.src.symbol}} of liquidity burning
    <strong>{{event.amountLpt | formatNumber:pool.token.lp.decimals }}</strong> {{pool.token.lp.symbol}}.
  </p>

  <p class="mb-0" *ngIf="event.subEventType === 'AddLiquidity'">
    Provided
    <strong>{{event.amountCrs | formatNumber:8}}</strong> {{pool.token.crs.symbol}} and
    <strong>{{event.amountSrc | formatNumber:pool.token.src.decimals }}</strong> {{pool.token.src.symbol}} of liquidity for
    <strong>{{event.amountLpt | formatNumber:pool.token.lp.decimals }}</strong> {{pool.token.lp.symbol}}.
  </p>
</ng-container>

<ng-template #loading>{{event.subEventType === 'AddLiquidity' ? 'Added' : 'Removed'}} <strong>0.00000000</strong> xYZT and <strong>0.00000000</strong> xABT
  of liquidity {{event.subEventType === 'AddLiquidity' ? 'for' : 'burning'}} <strong>0.00000000</strong> LPT</ng-template>
