<div class="review-tx-quote">
  <ng-container *ngIf="!txHash; else success">
    <h3 class="mb-4">{{quoteRequest?.method ?  quoteRequest.method + ' Quote' : 'Transaction Quote'}}</h3>

    <div *ngIf="quoteRequest">
      <div class="d-flex justify-content-between d-flex" *ngFor="let param of quoteRequest.parameters">
        <p class="light">{{param.label}}</p>
        <p>{{param.value | contractParameter}}</p>
      </div>

      <div class="d-flex justify-content-between d-flex">
        <p class="light">Estimated Gas Cost</p>
        <p>{{(quote?.gasUsed * 100) | coinNotation:8}} CRS</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <ng-container *ngIf="quote?.events?.length">
      <h4 class="mt-2 mb-3">Quoted Events</h4>

      <ng-container *ngFor="let event of quote?.events; trackBy: transactionLogsTrackBy;">
        <div class="tx-event" [ngSwitch]="event.eventType">
          <opdex-nomination-event [txEvent]="event" *ngSwitchCase="'NominationEvent'"></opdex-nomination-event>
          <opdex-distribution-event [txEvent]="event" *ngSwitchCase="'DistributionEvent'"></opdex-distribution-event>
          <opdex-enable-mining-event [txEvent]="event" *ngSwitchCase="'EnableMiningEvent'"></opdex-enable-mining-event>
          <opdex-transfer-event [txEvent]="event" *ngSwitchCase="'TransferEvent'"></opdex-transfer-event>
          <opdex-approval-event [txEvent]="event" *ngSwitchCase="'ApprovalEvent'"></opdex-approval-event>
          <opdex-start-staking-event [txEvent]="event" *ngSwitchCase="'StartStakingEvent'"></opdex-start-staking-event>
          <opdex-stop-staking-event [txEvent]="event" *ngSwitchCase="'StopStakingEvent'"></opdex-stop-staking-event>
          <opdex-add-liquidity-event [txEvent]="event" *ngSwitchCase="'AddLiquidityEvent'"></opdex-add-liquidity-event>
          <opdex-swap-event [txEvent]="event" *ngSwitchCase="'SwapEvent'"></opdex-swap-event>
          <opdex-remove-liquidity-event [txEvent]="event" *ngSwitchCase="'RemoveLiquidityEvent'"></opdex-remove-liquidity-event>
          <opdex-stop-mining-event [txEvent]="event" *ngSwitchCase="'StopMiningEvent'"></opdex-stop-mining-event>
          <opdex-start-mining-event [txEvent]="event" *ngSwitchCase="'StartMiningEvent'"></opdex-start-mining-event>
          <opdex-collect-staking-rewards-event [txEvent]="event" *ngSwitchCase="'CollectStakingRewardsEvent'"></opdex-collect-staking-rewards-event>
          <opdex-collect-mining-rewards-event [txEvent]="event" *ngSwitchCase="'CollectMiningRewardsEvent'"></opdex-collect-mining-rewards-event>
          <opdex-create-liquidity-pool-event [txEvent]="event" *ngSwitchCase="'CreateLiquidityPoolEvent'"></opdex-create-liquidity-pool-event>
          <opdex-set-pending-vault-owner-event [txEvent]="event" *ngSwitchCase="'SetPendingVaultOwnershipEvent'"></opdex-set-pending-vault-owner-event>
          <opdex-claim-pending-vault-owner-event [txEvent]="event" *ngSwitchCase="'ClaimPendingVaultOwnershipEvent'"></opdex-claim-pending-vault-owner-event>
          <opdex-create-vault-certificate-event [txEvent]="event" *ngSwitchCase="'CreateVaultCertificateEvent'"></opdex-create-vault-certificate-event>
          <opdex-redeem-vault-certificate-event [txEvent]="event" *ngSwitchCase="'RedeemVaultCertificateEvent'"></opdex-redeem-vault-certificate-event>
          <opdex-revoke-vault-certificate-event [txEvent]="event" *ngSwitchCase="'RevokeVaultCertificateEvent'"></opdex-revoke-vault-certificate-event>
          <opdex-change-market-permission-event [txEvent]="event" *ngSwitchCase="'ChangeMarketPermissionEvent'"></opdex-change-market-permission-event>
          <opdex-claim-pending-market-owner-event [txEvent]="event" *ngSwitchCase="'ClaimPendingMarketOwnershipEvent'"></opdex-claim-pending-market-owner-event>
          <opdex-set-pending-market-owner-event [txEvent]="event" *ngSwitchCase="'SetPendingMarketOwnershipEvent'"></opdex-set-pending-market-owner-event>
          <opdex-claim-pending-deployer-owner-event [txEvent]="event" *ngSwitchCase="'SetPendingDeployerOwnershipEvent'"></opdex-claim-pending-deployer-owner-event>
          <opdex-create-market-event [txEvent]="event" *ngSwitchCase="'CreateMarketEvent'"></opdex-create-market-event>
          <opdex-set-pending-deployer-owner-event [txEvent]="event" *ngSwitchCase="'ClaimPendingDeployerOwnershipEvent'"></opdex-set-pending-deployer-owner-event>
          <opdex-reward-mining-pool-event [txEvent]="event" *ngSwitchCase="'RewardMiningPoolEvent'"></opdex-reward-mining-pool-event>
          <div *ngSwitchDefault>Uh oh, looks like we can't identify this transaction event's summary.</div>
        </div>
      </ng-container>
    </ng-container>

    <div class="mt-2" *ngIf="quote?.error">
      <h4 class="mb-2">Quoted Errors</h4>
      <p class="error" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{quote.error}}</p>
    </div>

    <mat-divider></mat-divider>

    <div class="d-flex justify-content-center mt-3 mb-3">
      <div class="qr-code-wrapper" [cdkCopyToClipboard]="quote?.request" (cdkCopyToClipboardCopied)="copyHandler()">
        <qrcode
          [qrdata]="quote.request"
          [width]="250"
          [margin]="2"
          [errorCorrectionLevel]="'M'"
          *ngIf="quote?.request"></qrcode>

        <mat-icon>{{copied ? 'check_circle' : 'file_copy'}}</mat-icon>
      </div>
    </div>

    <div class="mb-3 d-flex justify-content-center">
      <small class="light d-flex"><opdex-help-button class="mr-1"></opdex-help-button> Help</small>
    </div>

    <button mat-stroked-button class="w-100 mt-2" (click)="close()">Close</button>

    <ng-container *ngIf="isDevnet">
      <button mat-flat-button color="primary" class="w-100 mt-3 mb-3 ml-0" (click)="submit()" [disabled]="submitting" cdkFocusInitial>{{!submitting ? 'Local Submit' : 'Submitting'}}</button>
      <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
    </ng-container>
  </ng-container>

  <ng-template #success>
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 400px;">
      <span class="check-animation active">
        <span class="check-container">
          <mat-icon>check</mat-icon>
        </span>
      </span>

      <small class="text-center light mt-5 w-100" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
        {{txHash}}
      </small>
    </div>
  </ng-template>
</div>

