<div class="header-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="mb-0">Vault</h1>
        <opdex-copy-address [address]="vault?.vault"></opdex-copy-address>
      </div>
    </div>

    <div class="row">
      <ng-container *ngFor="let statCard of statCards; trackBy: statCardTrackBy">
        <div *ngIf="statCard.show" class="col-xs-12 col-sm col-xl-3">
          <opdex-stat-card [statInfo]="statCard"></opdex-stat-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
