<div class="header-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="mb-0">Vault</h1>
        <opdex-copy-address [address]="vault?.vault"></opdex-copy-address>
      </div>
    </div>

    <div class="row">
      <ng-container *ngFor="let statCard of statCards; trackBy: statCardTrackBy">
        <div *ngIf="statCard.show" class="col-xs-12 col-sm col-xl-3">
          <opdex-stat-card [statInfo]="statCard"></opdex-stat-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="offset-section pt-5 pb-3" *ngIf="proposals && proposals.results.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Proposals</h2>
      </div>
      <ng-container *ngFor="let proposal of proposals.results; trackBy: proposalsTrackBy">
        <div class="col-12 col-lg-6 col-xl-4">
          <opdex-card [fullHeight]="true">
            <div class="flex-row-center-between flex-wrap mb-3">
              <h4 class="d-flex no-wrap mb-0">
                #{{proposal.proposalId}}
                <span class="ml-2" *ngIf="proposal.type === 'Create'">New Certificate</span>
                <span class="ml-2" *ngIf="proposal.type === 'Revoke'">Revoke Certificate</span>
                <span class="ml-2" *ngIf="proposal.type === 'TotalPledgeMinimum'">Change Pledge Minimum</span>
                <span class="ml-2" *ngIf="proposal.type === 'TotalVoteMinimum'">Change Vote Minimum</span>
              </h4>

              <div class="badge-group">
                <span class="badge" [ngClass]="{
                  'blue': proposal.status === 'Pledge',
                  'purple': proposal.status === 'Vote',
                  'green': proposal.status === 'Complete' && proposal.approved,
                  'red': proposal.status === 'Complete' && !proposal.approved}">{{proposal.status}}</span>
              </div>
            </div>

            <div class="flex-row-center-between mb-3 flex-wrap">
              <div class="pr-3">
                <p class="mb-0" style="font-size: 2.4em; line-height: 1.3em" *ngIf="proposal.type !== 'Revoke'">
                  <span class="b-400 mr-2">{{proposal.amount | shortNumber}}</span>
                  <small *ngIf="proposal.type === 'Create'">ODX</small>
                  <small *ngIf="proposal.type !== 'Create'">CRS</small>
                </p>

                <p class="mb-0 flex-row align-items-end">
                  <small class="mr-2">By</small> <opdex-copy-address [address]="proposal.creator"></opdex-copy-address>
                </p>

                <p class="mb-0 flex-row align-items-end" *ngIf="proposal.type === 'Create' || proposal.type === 'Revoke'">
                  <small class="mr-2" *ngIf="proposal.type === 'Create'">For</small>
                  <small class="mr-2" *ngIf="proposal.type === 'Revoke'">Holder</small>
                  <opdex-copy-address [address]="proposal.wallet"></opdex-copy-address>
                </p>
              </div>

              <div class="w-100 flex-row-center-center" style="max-width: 30%">
                <ng-container *ngIf="proposal.status === 'Pledge'">
                  <div style="position: relative;" class="d-flex align-items-center">
                    <mat-progress-spinner style="position: relative; z-index: 1"
                      color="primary"
                      mode="determinate"
                      [value]="getPledgePercentage(proposal)">
                    </mat-progress-spinner>
                    <mat-progress-spinner style="position: absolute; z-index: 0; stroke: #f4f4f4"
                    color="accent"
                    mode="determinate"
                    value="100">
                  </mat-progress-spinner>

                    <p style="font-size: .8em; position: absolute; left: 0; right: 0; margin: 0; text-align: center;">{{proposal.pledgeAmount | shortNumber}} <small>CRS</small></p>
                  </div>
                </ng-container>

                <ng-container *ngIf="proposal.status === 'Vote'">
                  <div class="flex-column-center-center w-100">
                    <div class="vote-bar-container">
                      <div class="vote-bar yes mb-1 no-wrap" [ngStyle]="{'min-width': getVotePercentage(proposal.yesAmount, proposal.noAmount) + '%' }">
                        {{proposal.yesAmount | shortNumber}} <small>CRS</small>
                      </div>
                    </div>

                    <div class="vote-bar-container">
                      <div class="vote-bar no no-wrap" [ngStyle]="{'min-width': getVotePercentage(proposal.noAmount, proposal.yesAmount) + '%' }">
                        {{proposal.noAmount | shortNumber}} <small>CRS</small>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="proposal.status === 'Complete'">
                  {{proposal.approved ? 'Approved' : 'Denied'}}
                </ng-container>
              </div>
            </div>

            <p class="mb-3">{{proposal.description}}</p>

            <div class="space-between"></div>

            <div class="mb-3">
              <mat-progress-bar color="primary" mode="determinate" [value]="getExpirationPercentage(proposal)"></mat-progress-bar>

              <div class="mt-2 flex-row-center-between">
                <small class="light">Expires in {{proposal.expiration - latestBlock.height | formatNumber:0}} blocks</small>
                <!-- <small class="light float-right">{{miningGovernance.nominationPeriodEndDate | timeago}}</small> -->
              </div>
            </div>

            <div class="btn-group flex-row-center-between">
              <button mat-stroked-button color="primary" class="w-100" (click)="openTransactionView(proposal.status)">Withdraw</button>
              <button mat-flat-button color="primary" class="w-100 ml-3" (click)="openTransactionView(proposal.status)" *ngIf="proposal.status !== 'Complete'">{{proposal.status}}</button>
            </div>
          </opdex-card>
        </div>
      </ng-container>

    </div>
  </div>
</div>
