#chartdiv {
  width: 100%;
  min-height: 350px;
}

.chart-legend {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  padding: 10px;

  h3 {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .value {
    margin: 0;
    font-size: 1.6em;
    line-height: 1.7em;
  }
}

.chart-container {
  height: 350px;
}
