<div class="chart-toolbar">
  <div class="details">
    <a mat-button [matMenuTriggerFor]="menu">
      <h4 class="title d-inline" >{{title}}</h4> <mat-icon class="ml-2">arrow_drop_down</mat-icon>
    </a>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="switchChartType(option.category)" *ngFor="let option of chartOptions">{{option.category}}</button>
    </mat-menu>

    <h4 class="d-inline mb-0">{{value}}</h4>
  </div>

  <div class="button-group">
    <button mat-flat-button class="small mr-1 pl-1 pr-1">1D</button>
    <button mat-flat-button class="small mr-1 pl-1 pr-1">1W</button>
    <button mat-flat-button class="small mr-1 pl-1 pr-1">1M</button>
    <button mat-flat-button class="small pl-1 pr-1">1Y</button>
  </div>
</div>

<div class="chart-wrapper">
  <div #chartContainer class="chart-container w-100" (resized)="onResized($event)">
    <div id="chartdiv" [hidden]="loading"></div>
  </div>
</div>

