@import 'src/scss/bootstrap-grid';

.chart-wrapper {
  position: relative;
  padding: 25px 0px;
  display: block;
  min-height: 440px;
  width: 100%;

  .chart-container {
    min-height: 440px;

    #chartdiv {
      width: 100%;
      min-height: 440px;
      opacity: 1;
      transition: .15s ease-in;

      &.loading-chart {
        opacity: 0;
        transition: .15s ease-in;
      }
    }
  }
}

.chart-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  .button-dropdown {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .desktop-menu {
    display: none;

    &.button-group {
      button {
        min-width: 0px;
        padding: 0px 10px !important;

        &:not(:last-of-type) {
          margin-right: 5px;
        }
      }
    }
  }
}

.lock-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.lock-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

@media (min-width: map_get($grid-breakpoints, md)) {
  .chart-toolbar {
    .mobile-menu {
      display: none;
    }

    .desktop-menu {
      display: block;
    }

    .button-dropdown {
      display: none;
    }
  }

  .chart-wrapper {
    min-height: 440px;

    .chart-container {
      min-height: 440px;

      #chartdiv {
        min-height: 440px;
      }
    }
  }
}

@media (min-width: map_get($grid-breakpoints, xl)) {
  .chart-wrapper {
    min-height: 440px;

    .chart-container {
      min-height: 440px;

      #chartdiv {
        min-height: 440px;
      }
    }
  }
}
