<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort [trackBy]="trackBy" class="w-100">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="navigate(element.address)">{{element.token.src.symbol}}-CRS</a></td>
    </ng-container>

    <ng-container matColumnDef="liquidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Liquidity </th>
      <td mat-cell *matCellDef="let element">
        ${{element.reserves.usd | formatNumber}}
        <opdex-change-indicator [value]="element.reserves.usdDailyChange" size="s" class="percentChange"></opdex-change-indicator>
      </td>
    </ng-container>

    <ng-container matColumnDef="stakingWeight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Staking Weight </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.staking; else stakingDisabled">
          {{element.staking?.weight | formatNumber:0}} <small>ODX</small>
          <opdex-change-indicator [value]="element.staking?.weightDailyChange" size="s" class="percentChange" *ngIf="element.staking?.weightDailyChange != null"></opdex-change-indicator>
        </ng-container>
        <ng-template #stakingDisabled>
          <span class="disabled-badge">Disabled</span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="volumeDaily">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume (24hrs) </th>
      <td mat-cell *matCellDef="let element"> ${{element.volume.usd | formatNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="providerRewards">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Rewards </th>
      <td mat-cell *matCellDef="let element"> ${{element.rewards.providerUsd | formatNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="stakerRewards">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Staker Rewards </th>
      <td mat-cell *matCellDef="let element"> ${{element.rewards.marketUsd | formatNumber}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="liquidityHistory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Liquidity (7d) </th>
      <td mat-cell *matCellDef="let element">
        <opdex-line-change [chartData]="element.snapshotHistory" *ngIf="element.snapshotHistory"></opdex-line-change>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" class="small float-right" [matMenuTriggerFor]="beforeMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-100">
          <button mat-menu-item class="small" (click)="swap(element)">
            <mat-icon class="swap">swap_horiz</mat-icon> Swap {{element.token.src?.symbol}}
          </button>
          <button mat-menu-item class="small" (click)="provide(element)">
            <mat-icon class="provide">control_point_duplicate</mat-icon> Provide {{element.token.src?.symbol}}
          </button>
          <button mat-menu-item class="small" (click)="stake(element)" *ngIf="element.staking?.isActive">
            <mat-icon class="stake">verified_user</mat-icon> Stake {{element.token.staking?.symbol}}
          </button>
          <button mat-menu-item class="small" (click)="mine(element)" *ngIf="element.mining?.isActive">
            <mat-icon class="mine">whatshot</mat-icon> Mine {{element.token.staking?.symbol}}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="dataSource?.data?.length"></mat-paginator>
</div>
