<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort [trackBy]="trackBy" class="w-100">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="navigate(element.address)">{{element.token.src.symbol}}-CRS</a></td>
    </ng-container>

    <ng-container matColumnDef="liquidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Liquidity </th>
      <td mat-cell *matCellDef="let element">
        ${{element.reserves.usd | formatNumber}}
        <opdex-change-indicator [value]="element.reserves.usdDailyChange" size="s" class="percentChange"></opdex-change-indicator>
      </td>
    </ng-container>

    <ng-container matColumnDef="stakingWeight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Staking Weight </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.staking; else stakingDisabled">
          {{element.staking?.weight | formatNumber:0}} <small>ODX</small>
          <opdex-change-indicator [value]="element.staking?.weightDailyChange" size="s" class="percentChange" *ngIf="element.staking?.weightDailyChange != null"></opdex-change-indicator>
        </ng-container>
        <ng-template #stakingDisabled>
          <span class="disabled-badge">Disabled</span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="volumeDaily">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume (24hrs) </th>
      <td mat-cell *matCellDef="let element"> ${{element.volume.usd | formatNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="providerRewards">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Rewards </th>
      <td mat-cell *matCellDef="let element"> ${{element.rewards.providerUsd | formatNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="stakerRewards">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Staker Rewards </th>
      <td mat-cell *matCellDef="let element"> ${{element.rewards.marketUsd | formatNumber}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="liquidityHistory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Liquidity (7d) </th>
      <td mat-cell *matCellDef="let element">
        <opdex-line-change [chartData]="element.snapshotHistory" *ngIf="element.snapshotHistory"></opdex-line-change>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-icon-button color="primary">
          <mat-icon>more_vert</mat-icon>
        </button> -->

        <button mat-icon-button class="swap small mr-3" (click)="swap(element)" matTooltip="Swap Tokens"><mat-icon>swap_horiz</mat-icon></button>
        <button mat-icon-button class="provide small mr-3" (click)="provide(element)" matTooltip="Provide Liquidity"><mat-icon>control_point_duplicate</mat-icon></button>
        <button mat-icon-button class="stake small mr-3" (click)="stake(element)" title="Stake" *ngIf="element.staking?.isActive" matTooltip="Stake {{element.token.staking?.symbol}}"><mat-icon>verified_user</mat-icon></button>
        <button mat-icon-button class="mine small" (click)="mine(element)" title="Mine" *ngIf="element.mining?.isActive" matTooltip="Mine {{element.token.staking?.symbol}}"><mat-icon>whatshot</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="dataSource?.data?.length"></mat-paginator>
</div>
