<opdex-card class="allowance">
  <form [formGroup]="form" name="allowance-form" id="swap-form" (submit)="submit()">
    <div class="mb-3">
      <opdex-input-control [suffixDisabled]="true" [prefixIcon]="icons.link" label="Token" [formControl]="token" placeholder="tMdZ2UfwJorAyErDvqNdVU8kmiLaykuE5L"></opdex-input-control>
    </div>

    <div class="mb-3">
      <opdex-input-control [suffixDisabled]="true" [prefixIcon]="icons.link" label="Spender" [formControl]="spender" placeholder="torAyErDvMdZqNdVU8kmiLaykuE5L2UfwJ"></opdex-input-control>
    </div>

    <div class="mb-3">
      <opdex-input-control [suffixDisabled]="true" [prefixIcon]="icons.add" label="Amount" [formControl]="amount" [numbersOnly]="true"></opdex-input-control>
    </div>

    <opdex-tx-quote-submit-button [disabled]="!form.valid || !context?.wallet" (onSubmit)="submit()"></opdex-tx-quote-submit-button>

    <opdex-tx-quote-errors [quoteErrors]="quoteErrors"></opdex-tx-quote-errors>
  </form>
</opdex-card>
