@import 'src/scss/colors';

.dark-mode {
  button {
    &:not(.mat-button-disabled) {
      &.purple, &.stake {
        background-color: $purple-primary !important;
        color: $dark-primary !important;
      }

      &.red, &.mine {
        background-color: $red-primary !important;
        color: $dark-primary !important;
      }

      &.green, &.provide {
        background-color: $green-primary !important;
        color: $dark-primary !important;
      }

      &.blue, &.swap {
        color: $dark-primary !important;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .light-mode {
    .row-hoverable {
      &:hover {
        cursor: pointer;
        background-color: #fafafa;
      }
    }
  }

  .dark-mode {
    .row-hoverable {
      &:hover {
        cursor: pointer;
        background-color: #161729;
      }
    }
  }
}
