.dark-mode {
  .mat-card {
    box-shadow: none !important;
    border: none !important;
    background: #1b192f !important;
  }
}

.light-mode {
  .mat-card {
    box-shadow: none !important;
    border: none !important;
    background: #fff !important;
  }
}
