.dark-mode {
  .mat-card {
    background: rgba(27,25,47, 1) !important;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3) !important;

    .foreground {
      border: 1px solid #292929;
    }
  }
}

.light-mode {
  .mat-card {
    background: rgba(255,255,255, 1) !important;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1) !important;

    .foreground {
      border: 1px solid rgb(228, 228, 228);
    }
  }
}
