.light-mode {
  .chart-toolbar {
    background: rgb(253, 253, 253);
    border-bottom: 2px solid #f4f4f4;
  }
}

.dark-mode {
  .chart-toolbar {
    background: #1e1d2d;
    border-bottom: 1px solid #312f38;
  }
}
