.dark-mode {
  .standard-section {
    background: $dark-primary;

    &.blend-cards {
      .mat-card {
        background: $dark-primary !important
      }
    }

    .mat-card {
      background: #141325 !important;

      .mat-table {
        background: #141325 !important;
      }
    }
  }

  .offset-section {
    background: #17162b;
  }

  .header-section {
    background: #141325;
  }
}

.light-mode {
  .standard-section {
    background: #fff;

    &.blend-cards {
      .mat-card {
        background: #fff !important;
      }
    }

    .mat-card {
      background: #f4f6f7 !important;

      .mat-table {
        background: #f4f6f7 !important;
      }
    }
  }

  .offset-section {
    background: #fafafa;
  }

  .header-section {
    background: #f4f6f7;
  }
}
