@import 'src/scss/colors';

.light-mode {
  .wallet-indicator {
    border: .2em solid #fff;
  }

  #side-nav {
    border-right: 1px solid #ccc;
    background: #fff;

    .navbar-pin {
      &.mat-mini-fab {
        background: #fff;
        border: 1px solid #ccc;
        color: #333;
      }
    }
  }

  .mobile-navbar {
    border-top: 1px solid #f4f4f4;
    background: #fff;
  }
}

.dark-mode {
  .wallet-indicator {
    border: .2em solid #1b192f;
  }

  #side-nav {
    border-right: 1px solid #292929;
    background: #1b192f;

    .navbar-pin {
      &.mat-mini-fab {
        background: #1b192f;
        border: 1px solid #292929;
        color: #fff;
      }
    }
  }

  .mobile-navbar {
    border-top: 1px solid #292929;
    background: #1b192f;
  }
}
