<p class="mb-0" *ngIf="pool$ | async as pool; else loading">
  Started mining <a class="no-decoration" routerLink="/tokens/{{pool.summary.staking?.token.address}}">{{pool.summary.staking?.token.symbol}}</a> with
  <strong>{{event.amount | shortNumber}} </strong> <a class="no-decoration" routerLink="/tokens/{{pool.token.lp.address}}">{{pool.token.lp.symbol}}</a> in
  <a class="no-decoration" routerLink="/pools/{{pool.address}}">{{pool.name}}</a>.
</p>

<ng-template #loading>
  Started mining XYZ with
  <strong>{{event.amount | shortNumber}}</strong> OLPT
  in ABC/CRS.
</ng-template>


