@import 'src/scss/bootstrap-grid';

#not-found {
  min-height: calc(var(--app-height) - (env(safe-area-inset-bottom, 0) + 50px));

  opdex-card {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .logo {
    width: 75px;
    margin: 0px auto 15px;
    display: block;
  }
}

@media (min-width: 992px) {
  #not-found {
    min-height: var(--app-height);
  }
}
