#side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  &:hover, &.pinned {
    .defi-blocks {
      transition: .3s ease-in;
      position: fixed;
      left: 190px;
    }

    .stick-nav {
      position: fixed;
      transition: .15s ease-in;
      opacity: 1;
      left: 243px;

      .mat-mini-fab {
        box-shadow: none !important;
      }
    }
  }

  .foreground {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mat-button {
    width: 100%;
    text-align: left;
  }

  h1 {
    text-align: center;
  }

  .logo {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      width: 78px;
      margin-right: 15px;
    }

    p {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }

  .sidebar-nav {
    padding-left: 0;
    list-style-type: none;

    li {
      margin: 10px 0;
      width: 100%;

      a {
        &.active, &:hover {
          color: #1ca7dc;
        }
      }

      .mat-icon {
        font-size: 32px;
        height: 32px;
        width: 32px;
        margin: 10px 30px 10px 10px;
      }
    }
  }

  .defi-blocks {
    position: fixed;
    left: 20px;
    width: 100px;
    bottom: 25px;
    z-index: 9999;
    transition: .15s ease;
    display: none;
  }

  .stick-nav {
    position: fixed;
    top: 25px;
    z-index: 9999;
    transition: .15s ease;
    opacity: 0;
    left: 143px;
    display: none;
  }
}

.wallet-indicator {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  left: 23px;
  top: 8px;

  &.invalid {
    background: #F2435B;
  }

  &.valid {
    background: #00EB93;
  }
}

@media (min-width: 320px) { }

@media (min-width: 576px) { }

@media (min-width: 768px) {
  #side-nav {
    .defi-blocks {
      display: block;
    }

    .stick-nav {
      display: block;
    }
  }
}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }
