<div id="side-nav" [ngClass]="{'pinned': isPinned}">
  <div class="foreground">
    <div class="logo" routerLink="/">
      <img src="/assets/logo-light-blue.png" alt="Opdex Logo">
      <p class="opdex">OPDEX</p>
    </div>

    <div class="stick-nav">
      <button mat-mini-fab class="small navbar-pin" (click)="togglePin()">
        <mat-icon>{{isPinned ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
      </button>
    </div>

    <ul class="sidebar-nav" *ngIf="userContext$ | async as context">
      <li>
        <a mat-button (click)="emitRouteChange('/')" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>equalizer</mat-icon> Market
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/pools')" routerLink="/pools" routerLinkActive="active">
          <mat-icon>waves</mat-icon> Liquidity Pools
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/tokens')" routerLink="/tokens" routerLinkActive="active">
          <mat-icon>toll</mat-icon> Tokens
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/governance')" routerLink="/governance" routerLinkActive="active">
          <mat-icon>gavel</mat-icon> Governance
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/vault')" routerLink="/vault" routerLinkActive="active">
          <mat-icon>lock</mat-icon> Vault
        </a>
      </li>
      <li>
        <a mat-button
          (click)="emitRouteChange(!context?.wallet ? '/auth' : '/wallet')"
          routerLink="{{!context?.wallet ? '/auth' : '/wallet'}}"
          routerLinkActive="active">
          <span class="wallet-indicator {{context?.wallet ? 'valid' : 'invalid'}}"></span>
          <mat-icon>account_balance_wallet</mat-icon> Wallet
        </a>
      </li>
    </ul>

    <div class="space-between"></div>

    <ul class="sidebar-nav">
      <!-- <li>
        <a mat-button (click)="toggleTheme()">
          <mat-icon>{{theme === 'dark-mode' ? 'brightness_3' : 'brightness_5'}}</mat-icon> {{theme === 'dark-mode' ? 'Dark Mode' : 'Light Mode'}}
        </a>
      </li> -->
    </ul>

    <img class="defi-blocks" src="assets/defi2@2x.png">
  </div>
</div>
