<div id="side-nav" [ngClass]="{'pinned': isPinned}">
  <div class="foreground">
    <div class="logo" routerLink="/">
      <img src="/assets/logo-light-blue.png" alt="Opdex Logo">
      <p class="opdex">OPDEX</p>
    </div>

    <div class="stick-nav">
      <button mat-mini-fab [ngClass]="iconSizes.small" class="navbar-pin" (click)="togglePin()">
        <mat-icon>{{isPinned ? icons.arrowLeft : icons.arrowRight}}</mat-icon>
      </button>
    </div>

    <ul class="sidebar-nav" *ngIf="userContext$ | async as context">
      <li>
        <a mat-button (click)="emitRouteChange('/')" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>{{icons.market}}</mat-icon>
          <span class="secondary">Market</span>
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/trade')" routerLink="/trade" routerLinkActive="active">
          <mat-icon>{{icons.swap}}</mat-icon>
          <span class="secondary">Trade</span>
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/pools')" routerLink="/pools" routerLinkActive="active">
          <mat-icon>{{icons.liquidityPool}}</mat-icon>
          <span class="secondary">Liquidity Pools</span>
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/tokens')" routerLink="/tokens" routerLinkActive="active">
          <mat-icon>{{icons.tokens}}</mat-icon>
          <span class="secondary">Tokens</span>
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/governance')" routerLink="/governance" routerLinkActive="active">
          <mat-icon>{{icons.governance}}</mat-icon>
          <span class="secondary">Governance</span>
        </a>
      </li>
      <li>
        <a mat-button (click)="emitRouteChange('/vault')" routerLink="/vault" routerLinkActive="active">
          <mat-icon>{{icons.vault}}</mat-icon>
          <span class="secondary">Vault</span>
        </a>
      </li>
      <li>
        <a mat-button
          (click)="emitRouteChange(!context?.wallet ? '/auth' : '/wallet')"
          routerLink="{{!context?.wallet ? '/auth' : '/wallet'}}"
          routerLinkActive="active">
          <span class="wallet-indicator {{context?.wallet ? 'valid' : 'invalid'}}"></span>
          <mat-icon>{{icons.wallet}}</mat-icon>
          <span class="secondary">Wallet</span>
        </a>
      </li>
    </ul>

    <div class="space-between"></div>

    <ul class="sidebar-nav secondary mb-2">
      <div class="d-flex flex-row align-items-center no-wrap">
        <button mat-button class="small d-inline pl-0 pr-0" (click)="networkTooltip.toggle()" *ngIf="latestSyncedBlock$ | async as block">
          <mat-icon class="mr-2" [matTooltip]="network" #networkTooltip="matTooltip">languages</mat-icon>
          <small>#{{block.height | formatNumber:0}}</small>
        </button>
      </div>

      <div class="d-flex flex-row align-items-center no-wrap" *ngIf="theme">
        <button mat-button class="small d-inline pl-0 pr-0" (click)="toggleTheme()">
          <mat-icon class="mr-2">{{theme === 'dark-mode' ? 'brightness_3' : 'brightness_7'}}</mat-icon>
          <small>{{theme === 'dark-mode' ? 'Dark Mode' : 'Light Mode'}}</small>
        </button>
      </div>

      <div class="pl-2">
        <div class="button-group mt-3">
          <a href="https://github.com/opdex" target="_blank" rel="noopener" matTooltip="Github">
            <img class="social-icon" src="assets/social/github-blue.svg" alt="Github Logo">
          </a>

          <a href="https://twitter.com/OpdexProtocol" target="_blank" rel="noopener" matTooltip="Twitter">
            <img class="social-icon" src="assets/social/twitter-blue.svg" alt="Twitter Logo">
          </a>

          <a href="https://discord.gg/TnWVDTTrjf" target="_blank" rel="noreferrer" matTooltip="Discord">
            <img class="social-icon" src="assets/social/discord-blue.svg" alt="Discord Logo">
          </a>

          <a href="https://reddit.com/r/opdex" target="_blank" rel="noreferrer" matTooltip="Reddit">
            <img class="social-icon" src="assets/social/reddit-blue.svg" alt="Reddit Logo">
          </a>

          <a href="https://t.me/OpdexProtocol" target="_blank" rel="noreferrer" matTooltip="Telegram">
            <img class="social-icon" src="assets/social/telegram-blue.svg" alt="Telegram Logo">
          </a>

          <a href="https://linkedin.com/company/opdexinc" target="_blank" rel="noopener" matTooltip="LinkedIn">
            <img class="social-icon" src="assets/social/linkedin-blue.svg" alt="LinkedIn Logo">
          </a>
        </div>

        <a mat-button class="tiny body-content d-inline pl-0 pr-0" href="https://opdex.com/assets/opdex-platform-ui-terms-of-use.pdf" target="_blank" rel="noopener">Terms & Conditions</a>
      </div>


    </ul>

    <img class="defi-blocks" src="assets/defi2@2x.png">
  </div>
</div>
