@import 'src/scss/colors';
@import 'src/scss/bootstrap-grid';

#side-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.pinned {
    .secondary {
      opacity: 1;
      visibility: visible;
      transition: opacity .15s ease-in;
    }
  }

  .secondary {
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease-in;
  }

  .foreground {
    padding: 10px;
    min-height: var(--app-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mat-button {
    width: 100%;
    text-align: left;
  }

  .logo {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      width: 78px;
      margin-right: 15px;
    }

    p {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }

  .sidebar-nav {
    padding-left: 0;
    list-style-type: none;
    padding-left: 10px;

    li {
      margin: 10px 0;
      width: 100%;

      a {
        &.active, &:hover {
          color: $blue-primary;
        }
      }

      .mat-icon {
        font-size: 26px;
        height: 26px;
        width: 26px;
        margin-right: 30px;
      }
    }
  }
}

.wallet-indicator {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  left: 13px;
  top: 3px;

  &.invalid {
    background: $red-primary;
  }

  &.valid {
    background: $green-primary;
  }
}

.button-group {
  display: flex;

  a {
    margin-right: 8px;
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-right: 0px;
    }

    .social-icon {
      height: 16px;
    }
  }
}

@media (min-width: map_get($grid-breakpoints, md)) { }
