.flex-row-center {
  .percentage-button {
    border-radius: 0px !important;
    border-right-width: 0px;

    &:first-of-type {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }

    &:last-of-type {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
      border-right-width: 1px;
    }
  }
}
