<div class="header-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="mb-0">Vault</h1>
        <opdex-copy-address [address]="vault?.address"></opdex-copy-address>
      </div>
    </div>

    <div class="row">
      <ng-container *ngFor="let statCard of statCards; trackBy: statCardTrackBy">
        <div *ngIf="statCard.show" class="col-xs-12 col-sm col-xl-3">
          <opdex-stat-card [statInfo]="statCard"></opdex-stat-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>


<div class="pt-5 pb-3 standard-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="d-inline mb-0">Certificates</h4>
        <opdex-vault-certificates-table [certificates]="certificates" (onPageChange)="handlePageChange($event)"></opdex-vault-certificates-table>
      </div>
    </div>
  </div>
</div>
