<div class="header-section pt-5 pb-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="mb-0">Vault</h1>
        <div class="light" style="font-size: 10px;">{{vault?.address}}</div>
      </div>
    </div>

    <div class="scrollable-row">
      <ng-container *ngFor="let statCard of statCards">
        <div *ngIf="statCard.show" class="scrollable-card">
          <opdex-stat-card [statInfo]="statCard"></opdex-stat-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>


<div class="pt-5 pb-4 standard-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="d-inline mb-0">Certificates</h4>
        <opdex-vault-certificates-table [certificates]="certificates" (onPageChange)="handlePageChange($event)"></opdex-vault-certificates-table>
      </div>
    </div>
  </div>
</div>
