<div class="vault mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="page-title">Vault</h1>
      </div>
    </div>
    <div class="row mb-5">
      <!-- <div class="col">
        <opdex-stat-card title="Locked Tokens" value="100,000,000 ODX"></opdex-stat-card>
      </div>
      <div class="col">
        <opdex-stat-card title="Unassigned Tokens" value="50,000,000 ODX"></opdex-stat-card>
      </div> -->
      <!-- <div class="col">
        <opdex-stat-card title="Collected Tokens" value="0 ODX"></opdex-stat-card>
      </div>
      <div class="col">
        <opdex-stat-card title="Maximum Received" value="250,000,000 ODX"></opdex-stat-card>
      </div> -->
    </div>
    <div class="row">
      <div class="col">
        <opdex-card>
          <h2>Vault Certificates</h2>
          <opdex-vault-certificates-table></opdex-vault-certificates-table>
        </opdex-card>
      </div>
    </div>
  </div>
</div>
