<div class="collect-mining-rewards">
  <form [formGroup]="form" name="collect-mining-rewards-form" id="swap-form">
    <mat-checkbox
      required
      formControlName="liquidate"
      color="primary"
      name="liquidate"
      value="false"
      aria-label="Liquidate Rewards">
      Liquidate
    </mat-checkbox>

    <div class="space-between"></div>

    <!-- <div class="swap-info mt-1" *ngIf="form.controls.tokenIn.value > 0 && form.controls.to.value > 0">
      <p class="mb-0">Slippage: .1%</p>
      <p class="mb-0">Minimum Received: 12345</p>
      <p class="mb-0">Price: 12345</p>
      <p class="mb-0">Price Impact: 12345</p>
      <p class="mb-0">Fee: .03%</p>
    </div> -->

    <button mat-flat-button color="primary" class="mt-4 w-100">Continue</button>

  </form>
</div>
