.change-indicator {
  display: inline-block;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.s {
    .mat-icon {
      width: 1em;
      height: 1em;
      font-size: 1em;
    }

    .change {
      font-size: 1em;
    }
  }

  &.m {
    .mat-icon {
      width: 1.2em;
      height: 1.2em;
      font-size: 1.2em;
    }

    .change {
      font-size: 1.2em;
    }
  }

  &.l {
    .mat-icon {
      width: 1.4em;
      height: 1.4em;
      font-size: 1.4em;
    }

    .change {
      font-size: 1.4em;
    }
  }

  &.positive {
    color: #00EB93;
  }

  &.negative {
    color: #F2435B;
  }

  .mat-icon {
    margin-right: 3px;
  }

  .change {
    margin: 0;
  }
}
