@import 'src/scss/colors';

.change-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;

  &.positive {
    background-color: $green-primary;
  }

  &.negative {
    background-color: $red-primary;
  }

  .mat-icon {
    width: .8em;
    height: .8em;
    font-size: .8em;
    margin-right: 3px;
  }

  .change {
    font-size: .8em;
    line-height: 1.2em;
    margin: 0;
  }
}
