<opdex-card>
  <ng-container *ngIf="cert; else loading">
    <div class="flex-row-center-between">
      <div class="flex-row-center">
        <mat-icon class="yellow tiny mr-1" *ngIf="context?.wallet && context.wallet === cert.owner">{{icons.rewards}}</mat-icon>

        <h4 class="mb-0">
          <opdex-number [value]="cert.amount" suffix="ODX" [short]="true"></opdex-number>
        </h4>
      </div>

      <button mat-icon-button color="primary" class="tiny" [matMenuTriggerFor]="beforeMenu" *ngIf="showMenu">
        <mat-icon>{{icons.more}}</mat-icon>
      </button>

      <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-100">
        <button mat-menu-item class="small"
          (click)="quoteRedemption()"
          *ngIf="showRedemption">
          <mat-icon class="green">{{icons.rewards}}</mat-icon> Redeem
        </button>

        <button mat-menu-item class="small"
          (click)="revokeProposal()"
          *ngIf="showRevocation">
          <mat-icon class="red">{{icons.closeOutline}}</mat-icon> Revoke
        </button>
      </mat-menu>
    </div>

    <opdex-copy-address [address]="cert.owner"></opdex-copy-address>

    <div class="flex-row-center-between flex-wrap mt-1">
      <div class="flex-row-center">
        <span class="badge mr-1 blue" *ngIf="vested">Vested</span>
        <span class="badge mr-1 orange" *ngIf="!vested">Vesting</span>
        <span class="badge mr-1 red" *ngIf="cert.revoked">Revoked</span>
        <span class="badge green" *ngIf="cert.redeemed">Redeemed</span>
      </div>

      <small class="light" *ngIf="!vested">
        <opdex-number [value]="cert.vestingEndBlock - latestBlock" [short]="true"></opdex-number> Blocks
      </small>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="w-100">
      <div class="skeleton-bg w-50 mb-1"></div>
      <div class="skeleton-bg w-75 mb-1"></div>

      <div class="flex-row-center mb-1">
        <div class="skeleton-bg w-25 mr-1"></div>
        <div class="skeleton-bg w-25"></div>
      </div>
    </div>
  </ng-template>
</opdex-card>
