<opdex-card class="pool-card">
  <ng-container *ngIf="pool !== null && pool !== undefined; else loading">
    <div class="top-details">
      <div class="flex-row-center">
        <opdex-token-icons [tokens]="[pool.tokens.crs, pool.tokens.src]"></opdex-token-icons>

        <a class="title mb-0 ml-2" href="javascript:void(0)" [routerLink]="['/pools', pool.address]">
          <h4>{{pool.name}}</h4>
        </a>
      </div>

      <button mat-icon-button color="primary" [ngClass]="iconSizes.small" [matMenuTriggerFor]="beforeMenu">
        <mat-icon>{{icons.more}}</mat-icon>
      </button>

      <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-100">
        <button mat-menu-item [ngClass]="iconSizes.small" (click)="transact(txView.swap)">
          <mat-icon class="swap">{{icons.swap}}</mat-icon> Swap
        </button>
        <button mat-menu-item [ngClass]="iconSizes.small" (click)="transact(txView.provide)">
          <mat-icon class="provide">{{icons.provide}}</mat-icon> Provide
        </button>
        <button mat-menu-item [ngClass]="iconSizes.small" (click)="transact(txView.stake)" *ngIf="pool.summary.staking">
          <mat-icon class="stake">{{icons.staking}}</mat-icon> Stake
        </button>
        <button mat-menu-item [ngClass]="iconSizes.small" (click)="transact(txView.mine)" *ngIf="pool.miningPool?.isActive">
          <mat-icon class="mine">{{icons.mining}}</mat-icon> Mine
        </button>
      </mat-menu>
    </div>

    <div class="bottom-details">
      <div class="left">
        <p class="sub-heading">Staking</p>
        <opdex-number [short]="true" [suffix]="pool.tokens.staking?.symbol" [value]="pool.summary.staking.weight"></opdex-number>
      </div>

      <div class="right">
        <p class="sub-heading">Liquidity</p>
        <opdex-number [short]="true" prefix="$" [value]="pool.summary.reserves.usd"></opdex-number>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="skeleton-bg w-50 mb-3"></div>

    <div class="flex-row-center">
      <div class="w-50">
        <div class="skeleton-bg w-50 mb-1"></div>
        <div class="skeleton-bg w-50 mb-1"></div>
      </div>

      <div class="w-50 flex-column-end">
        <div class="skeleton-bg w-50 mb-1"></div>
        <div class="skeleton-bg w-50 mb-1"></div>
      </div>
    </div>
  </ng-template>
</opdex-card>
