<ng-container *ngIf="tokenInDetails && tokenOutDetails">
  <opdex-wallet-preview [balanceTokens]="[tokenInDetails.address, tokenOutDetails.address]"></opdex-wallet-preview>
</ng-container>

<opdex-card class="swap">
  <form [formGroup]="form" name="swap-form" id="swap-form">
    <opdex-input-control *ngIf="!changeTokenIn" [prefixIcon]="icons.remove" label="{{tokenInExact ? 'Sell Exactly' : 'Sell'}}" [formControl]="tokenInAmount" [suffix]="tokenInDetails?.symbol || 'Select Token'" (handleChangeToken)="changeToken('tokenIn')" [numbersOnly]="true">
      <div class="flex-row-center-between">
        <div class="tolerance-amounts">
          <span *ngIf="tokenInMax && !tokenInExact">Max: {{tokenInMax | shortNumber}}</span>
          <span *ngIf="tokenInFiatValue && !tokenInExact" class="success ml-2">(${{tokenInMaxFiatValue | shortNumber}})</span>
        </div>
        <div class="fiat-quote">
          <span class="success ml-2" *ngIf="tokenInFiatValue">${{tokenInFiatValue | shortNumber}}</span>
        </div>
      </div>
    </opdex-input-control>

    <opdex-token-keyword-filter-control *ngIf="changeTokenIn" (onTokenSelect)="selectInputToken($event)"></opdex-token-keyword-filter-control>

    <opdex-percentage-amount-buttons
      [contract]="tokenInDetails?.address"
      [token]="tokenInDetails"
      positionType="Balance"
      [selected]="tokenAmountInPercentageSelected"
      (onPercentageSelect)="handlePercentageSelect('amountIn', $event)"
      *ngIf="tokenInDetails"></opdex-percentage-amount-buttons>

    <div class="flex-row-center-around">
      <button mat-icon-button [ngClass]="iconSizes.small" (click)="switch()" type="button"><mat-icon>{{icons.down}}</mat-icon></button>
    </div>

    <opdex-input-control *ngIf="!changeTokenOut" [prefixIcon]="icons.add" label="{{!tokenInExact ? 'Buy Exactly' : 'Buy'}}" [formControl]="tokenOutAmount" [suffix]="tokenOutDetails?.symbol || 'Select Token'" (handleChangeToken)="changeToken('tokenOut')" [numbersOnly]="true">
      <div class="flex-row-center-between">
        <div class="tolerance-amounts">
          <span *ngIf="tokenOutMin && tokenInExact">Min: {{tokenOutMin | shortNumber}}</span>
          <span *ngIf="tokenOutMinFiatValue && tokenInExact" class="success ml-2">(${{tokenOutMinFiatValue | shortNumber}})</span>
        </div>
        <div class="fiat-quote">
          <span class="success ml-2" *ngIf="tokenOutFiatValue">${{tokenOutFiatValue | shortNumber}}</span>
        </div>
      </div>
    </opdex-input-control>

    <opdex-token-keyword-filter-control *ngIf="changeTokenOut" (onTokenSelect)="selectOutputToken($event)"></opdex-token-keyword-filter-control>

    <opdex-percentage-amount-buttons
      [contract]="tokenOutDetails?.address"
      [token]="tokenOutDetails"
      positionType="Balance"
      [selected]="tokenAmountOutPercentageSelected"
      (onPercentageSelect)="handlePercentageSelect('amountOut', $event)"
      *ngIf="tokenOutDetails"></opdex-percentage-amount-buttons>

    <div class="flex-row-center-end">
      <button mat-icon-button color="primary" [ngClass]="iconSizes.small" (click)="toggleShowMore(!showMore)" type="button"><mat-icon>{{showMore ? icons.remove : icons.add}}</mat-icon></button>
    </div>

    <div [@collapse]="!showMore">
      <opdex-tolerance [value]="toleranceThreshold" (onToleranceChange)="calcTolerance($event)"></opdex-tolerance>

      <div class="mt-2">
        <opdex-deadline [value]="deadlineThreshold" (onDeadlineChange)="calcDeadline($event)"></opdex-deadline>
      </div>
    </div>
  </form>

  <button mat-flat-button color="primary" class="mt-3 w-100" (click)="submit()" [disabled]="!form.valid || !context?.wallet || !tokenInMax || !tokenOutMin">Quote</button>

  <div class="mt-3" *ngIf="allowance">
    <opdex-allowance-validation [transactionType]="transactionTypes.swap" [allowance]="allowance"></opdex-allowance-validation>
  </div>
</opdex-card>
