<ng-container *ngIf="tokenInDetails && tokenOutDetails">
  <opdex-wallet-preview [balanceTokens]="[tokenInDetails.address, tokenOutDetails.address]"></opdex-wallet-preview>
</ng-container>

<opdex-card class="swap" [thin]="true">
  <form [formGroup]="form" name="swap-form" id="swap-form">
    <opdex-input-control *ngIf="!changeTokenIn" [prefixIcon]="icons.remove" label="{{tokenInExact ? 'Sell Exactly' : 'Sell'}}" [formControl]="tokenInAmount" [suffix]="tokenInDetails?.symbol || 'Select Token'" (handleChangeToken)="changeToken('tokenIn')" [numbersOnly]="true">
      <div class="d-flex flex-row justify-content-between">
        <div class="tolerance-amounts">
          <span *ngIf="tokenInMax && !tokenInExact">Max: {{tokenInMax | shortNumber}}</span>
          <span *ngIf="tokenInFiatValue && !tokenInExact" class="success ml-2">(${{tokenInMaxFiatValue | shortNumber}})</span>
        </div>
        <div class="fiat-quote">
          <span class="success ml-2" *ngIf="tokenInFiatValue">${{tokenInFiatValue | shortNumber}}</span>
        </div>
      </div>
    </opdex-input-control>

    <mat-form-field floatLabel="always" *ngIf="changeTokenIn">
      <mat-label>Sell Token</mat-label>

      <button mat-icon-button matPrefix type="button" class="mr-2" disabled><mat-icon>{{icons.link}}</mat-icon></button>

      <input matInput aria-label="Public Key" [matAutocomplete]="tokenInAutoComplete" [formControl]="tokenIn" type="text" #tokenInInput>

      <mat-hint>Select a token</mat-hint>

      <mat-autocomplete #tokenInAutoComplete="matAutocomplete" (optionSelected)="selectInputToken($event)" (closed)="selectInputToken()">
        <ng-container *ngIf="tokens$ | async">
          <mat-option *ngFor="let token of filteredTokenIn$ | async" [value]="token.address">
            <div class="d-flex flex-column">
              <small style="font-size: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 20px">{{token.symbol}} - {{token.name}}</small>
              <small class="light" style="font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 16px;">{{token.address}}</small>
            </div>
          </mat-option>
        </ng-container>

      </mat-autocomplete>
    </mat-form-field>

    <div class="switch">
      <button mat-icon-button [class]="iconSizes.small" (click)="switch()"><mat-icon>{{icons.down}}</mat-icon></button>
    </div>

    <opdex-input-control *ngIf="!changeTokenOut" [prefixIcon]="icons.add" label="{{!tokenInExact ? 'Buy Exactly' : 'Buy'}}" [formControl]="tokenOutAmount" [suffix]="tokenOutDetails?.symbol || 'Select Token'" (handleChangeToken)="changeToken('tokenOut')" [numbersOnly]="true">
      <div class="d-flex flex-row justify-content-between">
        <div class="tolerance-amounts">
          <span *ngIf="tokenOutMin && tokenInExact">Min: {{tokenOutMin | shortNumber}}</span>
          <span *ngIf="tokenOutMinFiatValue && tokenInExact" class="success ml-2">(${{tokenOutMinFiatValue | shortNumber}})</span>
        </div>
        <div class="fiat-quote">
          <span class="success ml-2" *ngIf="tokenOutFiatValue">${{tokenOutFiatValue | shortNumber}}</span>
        </div>
      </div>
    </opdex-input-control>

    <mat-form-field floatLabel="always" *ngIf="changeTokenOut">
      <mat-label>Buy Token</mat-label>

      <button mat-icon-button matPrefix type="button" class="mr-2" disabled><mat-icon>{{icons.link}}</mat-icon></button>

      <input matInput aria-label="Public Key" [matAutocomplete]="tokenOutAutoComplete" [formControl]="tokenOut" type="text" #tokenOutInput>

      <mat-hint>Select a token</mat-hint>

      <mat-autocomplete #tokenOutAutoComplete="matAutocomplete" (optionSelected)="selectOutputToken($event)" (closed)="selectOutputToken()">
        <ng-container *ngIf="tokens$ | async">
          <mat-option *ngFor="let token of filteredTokenOut$ | async" [value]="token.address">
            <div class="d-flex flex-column">
              <small style="font-size: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 20px">{{token.symbol}} - {{token.name}}</small>
              <small class="light" style="font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 16px;">{{token.address}}</small>
            </div>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>

    <div class="toggle-additional">
      <button mat-icon-button color="primary" [ngClass]="iconSizes.small" (click)="toggleShowMore(!showMore)" type="button"><mat-icon>{{showMore ? icons.remove : icons.add}}</mat-icon></button>
    </div>

    <div class="additional" *ngIf="showMore">
      <opdex-tolerance [value]="toleranceThreshold" (onToleranceChange)="calcTolerance($event)"></opdex-tolerance>

      <div class="mt-2">
        <opdex-deadline [value]="deadlineThreshold" (onDeadlineChange)="calcDeadline($event)"></opdex-deadline>
      </div>
    </div>
  </form>

  <button mat-flat-button color="primary" class="mt-3 w-100" (click)="submit()" [disabled]="!form.valid || !context?.wallet || !tokenInMax || !tokenOutMin">Quote</button>

  <div class="mt-3" *ngIf="allowance">
    <opdex-allowance-validation [transactionType]="transactionTypes.swap" [allowance]="allowance"></opdex-allowance-validation>
  </div>
</opdex-card>
