@import '/src/scss//colors';

.switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.toggle-additional {
  display: flex;
  justify-content: flex-end;
}

.success {
  color: $green-primary;
}
