<p class="mb-0" *ngIf="token$ | async as token; else loading">
  Distributed
  <strong>{{event.miningGovernanceAmount | shortNumber}} </strong>
  <a class="no-decoration" routerLink="/tokens/{{token.address}}">{{token.symbol}}</a> to the
  <a class="no-decoration" routerLink="/mining-governance">governance</a> contract<ng-container *ngIf="event.vaultAmount == '0.00000000'; else vaultDetails">.</ng-container>

  <ng-template #vaultDetails>
    and
    <strong>{{event.vaultAmount | shortNumber}} </strong>
    <a class="no-decoration" routerLink="/tokens/{{token.address}}">{{token.symbol}}</a> to the <a routerLink="/vault">vault</a> contract.
  </ng-template>
</p>

<ng-template #loading>
  Distributed
  <strong>{{event.miningGovernanceAmount | shortNumber}}</strong>
  XYZ to the the governance contract
  and
  <strong>{{event.vaultAmount | shortNumber}}</strong>
  XYZ to the vault contract.
</ng-template>
