<main [ngClass]="theme">
  <mat-sidenav-container (backdropClick)="closeSidenav()" class="w-100 h-100">
    <mat-sidenav #sidenav
      (keydown.escape)="closeSidenav()"
      position="end"
      class="transaction-sidebar"
      [fixedInViewport]="true"
      [fixedTopGap]="0"
      [fixedBottomGap]="0"
      [mode]="sidenavMode"
      [autoFocus]="false">
      <opdex-tx-sidebar (onModeChange)="handleSidenavModeChange($event)" [message]="message"></opdex-tx-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content-container" [ngClass]="{'sidebar-pinned': isPinned}">
        <aside id="desktop-sidenav" [ngClass]="{'pinned': isPinned}">
          <opdex-side-nav (onPinnedToggle)="handlePinnedToggle($event)"></opdex-side-nav>
        </aside>

        <div class="animation-container" style="min-height: 100vh;">
          <div id="page-content">
            <opdex-status-bar [menuOpen]="menuOpen" (onMenuToggle)="toggleMobileMenu($event)"></opdex-status-bar>

            <div class="mobile-nav" [ngClass]="{'open': menuOpen}">
              <opdex-side-nav (onRouteChanged)="handleRouteChanged($event)"></opdex-side-nav>
            </div>

            <div class="page-content-container" [@fadeAnimation]="prepareRoute(outlet)">
              <router-outlet #outlet="outlet"></router-outlet>
            </div>

            <div class="space-between"></div>

            <opdex-footer></opdex-footer>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>

<div class="background"></div>
