@import 'src/scss/colors';
@import 'src/scss/bootstrap-grid';

$sidebar-width: 100px;

.main-content-container {
  #desktop-sidenav {
    width: $sidebar-width;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: width .15s ease-in;
    overflow: hidden;
    display: none;

    &.pinned {
      width: 225px;
    }
  }

  .animation-container {
    display: flex;
    flex-direction: column;
    transition: margin-left .15s ease-in;

    #page-content {
      display: flex;
      flex-direction: column;
      flex: 1;

      .page-content-container {
        padding-bottom: 50px;
        padding-bottom: calc(50px + env(safe-area-inset-bottom, 0));
      }
    }
  }

  .notification-banner {
    width: 100%;
    background: $blue-primary;
    color: #fff;
    font-weight: 400;

    &.warning {
      background: $red-primary;
    }
  }
}

.transaction-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  max-width: 420px;
  border-left: 0px !important;
}

.mobile-navbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 4;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  max-width: 400px;
  z-index: 999;
  transform: translateX(-100vw);
  min-height: var(--app-height);
  transition: transform .2s ease-out;
  top: 0;
  left: 0;

  &.open {
    transform: translateX(0);
    transition: transform .2s ease-out;
  }

  .close-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10
  }
}

.loading {
  opacity: 0;
  transition: opacity .2s ease-out;
}

.done {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.splash {
  background-image: url('/assets/Bg1@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: var(--app-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .mat-button {
    margin-top: 15px;
    width: 100%;
    max-width: 200px;

    .social-icon {
      max-width: 18px;
      max-height: 18px;
      margin: 0 5px 0;
    }

    &.discord {
      background: $discord !important;
      color: white;
      margin-bottom: 15px;
    }
  }

  &.coming-soon {
    img {
      width: 75px;
    }

    .opdex {
      font-size: 3em;
      font-weight: bold;
      letter-spacing: 3px;
      margin-bottom: 0;
    }
  }

  h1.loading-title {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .loading-logo {
    width: 100px;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    -webkit-animation-iteration-count: infinite;
  }
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(0, 50px, 0);
  }
}

@-webkit-keyframes bounce {
  from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  to {
      -webkit-transform: translate3d(0, 50px, 0);
      transform: translate3d(0, 50px, 0);
  }
}

@media (min-width: map_get($grid-breakpoints, md)) {
  .mobile-nav, .mobile-navbar {
    display: none;
  }

  .main-content-container {
    &.sidebar-pinned {
      #desktop-sidenav {
        width: 225px;
      }

      .animation-container {
        margin-left: 225px;
      }
    }

    .animation-container {
      margin-left: 100px;

      .page-content-container {
        padding-bottom: 0px !important;
      }
    }

    #desktop-sidenav {
      display: inline-block;
    }
  }
}
