@import 'src/scss/colors';

$sidebar-width: 100px;

opdex-side-nav {
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  z-index: 9999;
  transition: width .15s ease-in;
  overflow: hidden;
  display: none;

  &:hover {
    width: 260px;
  }
}

#page-content {
  height: 100%;
  margin-left: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 60px;
}

.transaction-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  max-width: 420px;
  border-left: 0px !important;

  .sidebar-container {
    padding-top: 25px;
    padding: 10px;
  }
}

.banner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  flex-direction: row;
  font-size: .9em;

  .env {
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    display: flex;
  }

  p {
    display: inline-block;
  }
}

@media (min-width: 320px) { }

@media (min-width: 576px) { }

@media (min-width: 768px) {
  opdex-side-nav {
    display: block;
  }

  #page-content {
    margin-left: $sidebar-width;
    margin-bottom: auto;

    &.no-sidebar,.loaded {
      margin-left: 0px;
    }
  }
}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }
