<opdex-card class="pool-card">
  <div class="top-details">
    <h3 class="title">
      <a href="javascript:void(0)" [routerLink]="['/pools', pool.address]">{{pool.token.src.symbol}}-{{pool.token.crs.symbol}}</a>
    </h3>

    <button mat-icon-button color="primary" class="small" [matMenuTriggerFor]="beforeMenu">
      <mat-icon>{{icons.more}}</mat-icon>
    </button>

    <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-100">
      <button mat-menu-item class="small" (click)="swap()">
        <mat-icon class="swap">{{icons.swap}}</mat-icon> Swap {{pool.token.src?.symbol}}
      </button>
      <button mat-menu-item class="small" (click)="provide()">
        <mat-icon class="provide">{{icons.provide}}</mat-icon> Provide {{pool.token.src?.symbol}}
      </button>
      <button mat-menu-item class="small" (click)="stake()" *ngIf="pool.staking?.isActive">
        <mat-icon class="stake">{{icons.staking}}</mat-icon> Stake {{pool.token.staking?.symbol}}
      </button>
      <button mat-menu-item class="small" (click)="mine()" *ngIf="pool.mining?.isActive">
        <mat-icon class="mine">{{icons.mining}}</mat-icon> Mine {{pool.token.staking?.symbol}}
      </button>
    </mat-menu>
  </div>

  <div class="bottom-details">
    <div class="left">
      <p class="sub-heading">Volume</p>
      <p class="value">${{pool.volume.usd | shortNumber}}</p>
    </div>

    <div class="right">
      <p class="sub-heading">Liquidity</p>
      <p class="value">${{pool.reserves.usd | shortNumber}}</p>
    </div>
  </div>
</opdex-card>
