.liquidity-pool {
  h3 {
    color: #1da7dc;
    font-weight: 500;
  }

  .provide {
    background: #12ee9d;
    color: #1b192f;
    font-weight: 500;
  }

  .mine {
    background: #f7556b;
    color: #1b192f;
    font-weight: 500;
  }

  .stake {
    background: #9129f1;
    color: #1b192f;
    font-weight: 500;
  }

  .swap {
    background: #1da7dc;
    color: #1b192f;
    font-weight: 500;
  }

  .details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-heading {
      color: #ccc;
    }

    .remaining {
      p {
        text-align: right;
      }
    }

    .value {
      font-size: 24px;
      margin-bottom: 0px;
    }
  }
}

.mining-days-remaining {
  color: #bebebe;
}
