<div class="add-liquidity">
  <h3 class="mb-0">Liquidity Providing</h3>

  <form [formGroup]="form" name="add-liquidity" id="add-liquidity-form">
    <div class="exactly swap-row">
      <div class="spend-receive-button">
        <button mat-icon-button color="primary" type="button" class="small" disabled><mat-icon>add</mat-icon></button>
      </div>

      <div class="amount">
        <mat-form-field appearance="outline" class="w-100" >
          <input matInput type="text" [required]="true" [formControl]="token0Amount" autocomplete="off" placeholder="0">
        </mat-form-field>
      </div>

      <div class="token">
        <button mat-stroked-button color="primary" type="button" disabled>CRS</button>
      </div>
    </div>


    <div class="exactly swap-row">
      <div class="spend-receive-button">
        <button mat-icon-button color="primary" type="button" class="small" disabled><mat-icon>add</mat-icon></button>
      </div>

      <div class="amount">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="text" [required]="true" [formControl]="token1Amount" autocomplete="off" placeholder="0">
        </mat-form-field>
      </div>

      <div class="token">
        <button mat-stroked-button color="primary" type="button" (click)="changeToken()">{{token1Details?.symbol || 'Select Token'}}</button>
      </div>
    </div>
  </form>

  <div class="space-between"></div>

  <div *ngIf="txHash">
    {{txHash}}
  </div>

  <button mat-stroked-button color="primary" class="mt-4 w-100" (click)="submit()">Add Liquidity</button>
</div>
