@import 'src/scss/bootstrap-grid';

button {
  width: 100%;

  &.cancel {
    margin-bottom: 15px;
  }
}

@media (min-width: map_get($grid-breakpoints, sm)) {
  button {
    &.cancel {
      margin-bottom: 0px;
    }
  }
}
