<div class="tolerance-widget">
  <label>Tolerance</label>
  <div class="levels">
    <div class="button-group">
      <button mat-stroked-button
            type="button"
            color="{{ selectedToleranceLevel === level.id ? 'primary' : 'default' }}"
            (click)="outputTolerance(level.tolerance)"
            *ngFor="let level of toleranceLevels">{{level.tolerance}}%</button>
    </div>

    <opdex-input-control
      [formControl]="customTolerance"
      suffix="%"
      [active]="selectedToleranceLevel === 4"
      label="Custom Tolerance"
      [showLabel]="false"
      [suffixDisabled]="true"
      [numbersOnly]="true">
      <ng-container *ngIf="!customTolerance.valid">
        <span class="error">0.01 minimum and 99.99 maximum</span>
      </ng-container>
    </opdex-input-control>
  </div>
</div>
