<div class="tolerance-widget">
  <mat-form-field floatLabel="always">
    <mat-label>Slippage Tolerance</mat-label>

    <input matInput aria-label="Slippage Tolerance" [matAutocomplete]="auto" [formControl]="customTolerance" type="text" placeholder="10">

    <span matSuffix>%</span>

    <mat-hint class="w-100" *ngIf="!customTolerance.valid">
      <span class="error">0.01 minimum and 99.99 maximum</span>
    </mat-hint>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTolerance($event)">
      <mat-option *ngFor="let option of filteredTolerances" [value]="option">
        <small style="font-size: 15px; line-height: 20px">{{option}}%</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
