<div class="header-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="mb-0">Liquidity Mining</h1>
        <opdex-copy-address [address]="miningGovernance?.address"></opdex-copy-address>
      </div>
    </div>

    <div class="row">
      <div class="ccol-12 col-sm-6 col-lg-4 col-xl-3">
        <opdex-card>
          <ng-container *ngIf="miningGovernance; else loadingFirstSkeleton">
            <div class="flex-column justify-content-between">
              <div class="flex-row-center-between mb-3">
                <div class="flex-row-center">
                  <opdex-help-button
                    class="mr-1"
                    [icon]="icons.mining"
                    iconColor="red"
                    [info]="miningGovernanceStatCardsInfo.nominationsHelpInfo">
                  </opdex-help-button>
                  <h4 class="mb-0">Status</h4>
                </div>

                <span class="badge {{miningGovernance.periodRemainingBlocks > 0 ? 'green' : 'red'}}">
                  {{miningGovernance.periodRemainingBlocks > 0 ? 'Active' : 'Inactive'}}
                </span>
              </div>

              <ng-container *ngIf="miningGovernance.periodRemainingBlocks > 0">
                <mat-progress-bar
                  mode="determinate"
                  value="{{((miningGovernance.periodBlockDuration - miningGovernance.periodRemainingBlocks) / miningGovernance.periodBlockDuration) * 100}}">
                </mat-progress-bar>

                <small class="light mt-1">
                  Ends {{miningGovernance.nominationPeriodEndDate | timeago}} in {{miningGovernance.periodRemainingBlocks | formatNumber:0}} blocks
                </small>
              </ng-container>
            </div>

            <opdex-tx-quote-submit-button
              label="Distribute Rewards"
              [disabled]="submitting || !context.wallet"
              (onSubmit)="quoteDistribution()"
              size="small"
              *ngIf="miningGovernance.periodRemainingBlocks === 0">
            </opdex-tx-quote-submit-button>
          </ng-container>

          <ng-template #loadingFirstSkeleton>
            <div class="w-100">
              <div class="flex-row-center mb-3">
                <div class="skeleton-bg w-25"></div>
                <div class="skeleton-bg w-25"></div>
              </div>

              <div class="flex-row-center">
                <div class="skeleton-bg w-25"></div>
                <div class="skeleton-bg w-25"></div>
              </div>
            </div>
          </ng-template>
        </opdex-card>
      </div>

      <div class="ccol-12 col-sm-6 col-lg-4 col-xl-3">
        <opdex-card [fullHeight]="true">
          <div class="flex-column justify-content-between h-100" *ngIf="miningGovernance; else loadingSecondSkeleton">
            <div class="flex-row-center-between mb-3">
              <div class="flex-row-center">
                <opdex-help-button class="mr-1" [icon]="icons.rewards" iconColor="yellow" [info]="miningGovernanceStatCardsInfo.rewardsHelpInfo"></opdex-help-button>
                <h4 class="mb-0">Rewards</h4>
              </div>

              <p class="rewards flex-row-center b-400 mb-0">
                {{miningGovernance.totalRewardsPerPeriod | shortNumber}} {{miningGovernance.minedToken?.symbol}}
              </p>
            </div>

            <mat-progress-bar mode="determinate" value="{{ ((12 - miningGovernance.periodsUntilRewardReset) / 12) * 100 }}"></mat-progress-bar>
            <small class="mt-1 light">Resets in {{miningGovernance.periodsUntilRewardReset}} Nomination Period{{miningGovernance.periodsUntilRewardReset === 1 ? '' : 's'}}</small>
          </div>

          <ng-template #loadingSecondSkeleton>
            <div class="w-100">
              <div class="flex-row-center mb-3">
                <div class="skeleton-bg w-25"></div>
                <div class="skeleton-bg w-25"></div>
              </div>

              <div class="flex-row-center">
                <div class="skeleton-bg w-25"></div>
                <div class="skeleton-bg w-25"></div>
              </div>
            </div>
          </ng-template>
        </opdex-card>
      </div>
    </div>
  </div>
</div>

<div class="standard-section pt-5 pb-3">
  <div class="container">
    <div class="mb-4" *ngIf="miningPools$ | async as miningPools">
      <div class="row" *ngIf="miningPools.length">
        <div class="col-12">
          <h2 class="flex-row-center">
            <mat-icon class="mine mr-2">{{icons.mining}}</mat-icon>
            Mining
          </h2>
        </div>
      </div>
      <div class="scrollable-row">
        <div class="scrollable-card" *ngFor="let pool of miningPools; trackBy: poolsTrackBy">
          <opdex-mining-card [pool]="pool"></opdex-mining-card>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="flex-row-center">
          <mat-icon class="stake mr-2">{{icons.staking}}</mat-icon>
          Nominations
        </h2>
      </div>
    </div>

    <div class="scrollable-row">
      <div class="scrollable-card" *ngFor="let pool of nominatedPools; trackBy: poolsTrackBy">
        <opdex-staking-pool-card [pool]="pool"></opdex-staking-pool-card>
      </div>
    </div>
  </div>
</div>
