<div class="header-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="mb-0">Liquidity Mining</h1>
        <opdex-copy-address [address]="miningGovernance?.address"></opdex-copy-address>
      </div>
    </div>

    <div class="row">
      <div class="ccol-12 col-sm-6 col-lg-4 col-xl-3">
        <opdex-card>
          <ng-container *ngIf="miningGovernance; else loadingFirstSkeleton">
            <div class="flex-column justify-content-between">
              <h4 class="flex-row-center-between">
                <span class="text flex-row-center">
                  <opdex-help-button class="mr-2" [info]="miningGovernanceStatCardsInfo.nominationsHelpInfo"></opdex-help-button> Nominations
                </span>

                <span class="badge {{miningGovernance.periodRemainingBlocks > 0 ? 'green' : 'red'}}">{{miningGovernance.periodRemainingBlocks > 0 ? 'Ongoing' : 'Paused'}}</span>
              </h4>

              <h5 class="mb-0" *ngIf="miningGovernance.periodRemainingBlocks > 0">
                <mat-progress-bar mode="determinate" value="{{((miningGovernance.periodBlockDuration - miningGovernance.periodRemainingBlocks) / miningGovernance.periodBlockDuration) * 100}}"></mat-progress-bar>

                <div class="mt-2 flex-row-center-between">
                  <small class="light">{{(miningGovernance.periodBlockDuration - miningGovernance.periodRemainingBlocks) | formatNumber:0}} of {{miningGovernance.periodBlockDuration | formatNumber:0}} blocks</small>
                  <small class="light float-right">{{miningGovernance.nominationPeriodEndDate | timeago}}</small>
                </div>
              </h5>
            </div>

            <button mat-flat-button color="primary" class="w-100 mt-2" *ngIf="miningGovernance.periodRemainingBlocks === 0" [disabled]="submitting || !context.wallet" (click)="quoteDistribution()">Distribute Rewards</button>
          </ng-container>

          <ng-template #loadingFirstSkeleton>
            <div class="w-100">
              <div class="flex-row-center mb-3">
                <div class="skeleton-bg w-25"></div>
                <div class="skeleton-bg w-25"></div>
              </div>

              <div class="flex-row-center">
                <div class="skeleton-bg w-25"></div>
                <div class="skeleton-bg w-25"></div>
              </div>
            </div>
          </ng-template>
        </opdex-card>
      </div>

      <div class="ccol-12 col-sm-6 col-lg-4 col-xl-3">
        <opdex-card [fullHeight]="true">
          <div class="flex-column justify-content-between h-100" *ngIf="miningGovernance; else loadingSecondSkeleton">
            <div class="flex-row-center-between">
              <h4 class="text flex-row-center">
                <opdex-help-button class="mr-2" [info]="miningGovernanceStatCardsInfo.rewardsHelpInfo"></opdex-help-button> Rewards
              </h4>

              <p class="rewards flex-row-center b-400"><mat-icon [ngClass]="iconSizes.small" class="mine mr-1">{{icons.mining}}</mat-icon>{{miningGovernance.totalRewardsPerPeriod | shortNumber}} {{miningGovernance.minedToken?.symbol}}</p>
            </div>

            <mat-progress-bar mode="determinate" value="{{ ((12 - miningGovernance.periodsUntilRewardReset) / 12) * 100 }}"></mat-progress-bar>

            <div class="mt-2">
              <small class="light">Resets in {{miningGovernance.periodsUntilRewardReset}} Nomination Period{{miningGovernance.periodsUntilRewardReset === 1 ? '' : 's'}}</small>
            </div>
          </div>

          <ng-template #loadingSecondSkeleton>
            <div class="w-100">
              <div class="flex-row-center mb-3">
                <div class="skeleton-bg w-25"></div>
                <div class="skeleton-bg w-25"></div>
              </div>

              <div class="flex-row-center">
                <div class="skeleton-bg w-25"></div>
                <div class="skeleton-bg w-25"></div>
              </div>
            </div>
          </ng-template>
        </opdex-card>
      </div>
    </div>
  </div>
</div>

<div class="standard-section pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="flex-row-center">
          <mat-icon class="stake mr-2">{{icons.staking}}</mat-icon>
          Nominated Liquidity Pools
        </h2>
      </div>
    </div>

    <div class="scrollable-row">
      <div class="scrollable-card" *ngFor="let pool of nominatedPools; trackBy: poolsTrackBy">
        <opdex-staking-pool-card [pool]="pool"></opdex-staking-pool-card>
      </div>
    </div>

    <ng-container *ngIf="miningPools$ | async as miningPools">
      <div class="row mt-4" *ngIf="miningPools.length">
        <div class="col-12">
          <h2 class="flex-row-center">
            <mat-icon class="mine mr-2">{{icons.mining}}</mat-icon>
            Active Liquidity Mining
          </h2>
        </div>
      </div>
      <div class="scrollable-row">
        <div class="scrollable-card" *ngFor="let pool of miningPools; trackBy: poolsTrackBy">
          <opdex-mining-card [pool]="pool"></opdex-mining-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
