<div class="remove-liquidity">
  <form [formGroup]="form" name="remove-liquidity-form" id="remove-liquidity-form" (submit)="submit()">
    <div class="mb-3">
      <opdex-input-control [buttonDisabled]="true" [prefixIcon]="icons.remove" label="Liquidate" [formControl]="liquidity" [suffix]="pool.token.lp.symbol" [numbersOnly]="true">
        <div class="d-flex flex-row justify-content-between">
          <div class="tolerance-amounts">
            <span *ngIf="crsOutMin && srcOutMin">Min: {{crsOutMin | shortNumber}} CRS <span style="opacity: .5">|</span> {{srcOutMin | shortNumber}} {{pool.token.src.symbol}}</span>
          </div>
          <div class="fiat-quote">
            <span class="success ml-2" *ngIf="lptInFiatValue && lptInFiatValue !== 'NaN'">${{lptInFiatValue | shortNumber}}</span>
          </div>
        </div>
      </opdex-input-control>
    </div>

    <div class="toggle-additional">
      <button mat-icon-button color="primary" class="small" (click)="toggleShowMore(!showMore)" type="button"><mat-icon>{{showMore ? 'remove' : 'add'}}</mat-icon></button>
    </div>

    <div class="additional" *ngIf="showMore">
      <opdex-tolerance [control]="tolerance" (onToleranceChange)="calcTolerance($event)"></opdex-tolerance>

      <div class="mt-2">
        <opdex-deadline [control]="deadline" (onDeadlineChange)="calcDeadline($event)"></opdex-deadline>
      </div>
    </div>

    <button mat-flat-button color="primary" class="mt-3 w-100" [disabled]="!form.valid || !context?.wallet">Quote</button>
  </form>

  <ng-container *ngIf="allowance$ | async as allowance">
    <div class="mt-3">
      <opdex-allowance-validation [transactionType]="transactionTypes.removeLiquidity" [allowance]="allowance"></opdex-allowance-validation>
    </div>
  </ng-container>
</div>
