<ng-container *ngIf="allowance">
  <div class="flex-row-center-between" *ngIf="!allowance.isApproved">
    <div class="flex-row-center">
      <mat-icon [ngClass]="iconSizes.tiny" class="orange mr-1" *ngIf="!waiting">{{icons.warning}}</mat-icon>
      <mat-spinner *ngIf="waiting" [ngClass]="iconSizes.tiny" class="mr-2"></mat-spinner>
      <p class="quote-error light" *ngIf="!waiting">Insufficient Allowance</p>
      <p class="quote-error light" *ngIf="waiting">Awaiting Approval</p>
    </div>

    <button mat-raised-button color="primary" class="tiny" *ngIf="!waiting" (click)="approveAllowance()" type="button">Approve</button>
  </div>

  <div class="flex-row-center-between" *ngIf="allowance.isApproved">
    <div class="message flex-row-center">
      <mat-icon [ngClass]="iconSizes.tiny" class="green mr-1">{{icons.checkOutline}}</mat-icon>
      <p class="quote-error light">Allowance</p>
    </div>
  </div>
</ng-container>
