<p class="mb-0" *ngIf="pool$ | async as pool; else loading">
  Added
  <strong>{{event.amountCrs | shortNumber}} </strong> <a class="no-decoration" routerLink="/tokens/{{pool.token.crs.address}}">{{pool.token.crs.symbol}}</a> and
  <strong>{{event.amountSrc | shortNumber}} </strong> <a class="no-decoration" routerLink="/tokens/{{pool.token.src.address}}">{{pool.token.src.symbol}}</a> of liquidity for
  <strong>{{event.amountLpt | shortNumber}} </strong> <a class="no-decoration" routerLink="/tokens/{{pool.token.lp.address}}">{{pool.token.lp.symbol}}</a>.
</p>

<ng-template #loading>
  Added
  <strong>{{event.amountCrs | shortNumber}}</strong> CRS and
  <strong>{{event.amountSrc | shortNumber}}</strong> SRC
  of liquidity for
  <strong>{{event.amountLpt | shortNumber}}</strong> LPT
</ng-template>
