<mat-card *ngIf="theme$ | async as theme" [ngClass]="theme">
  <h2>Tokens</h2>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" [trackBy]="trackBy" class="w-100">
      <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="navigate(element.name)">{{element.name}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="liquidity" >
        <th mat-header-cell *matHeaderCellDef> Liquidity </th>
        <td mat-cell *matCellDef="let element"> {{element.liquidity }}</td>
      </ng-container>

      <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef> Volume </th>
        <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
      </ng-container>

      <ng-container matColumnDef="fees">
        <th mat-header-cell *matHeaderCellDef> Fees </th>
        <td mat-cell *matCellDef="let element">
          {{element.fees}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>
