<ng-container *ngIf="dataSource?.data?.length; else loading">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort [trackBy]="trackBy" class="w-100">
      <ng-container matColumnDef="token" sticky>
        <th mat-header-cell *matHeaderCellDef> Token </th>
        <td mat-cell *matCellDef="let element">
          <div class="no-wrap flex-row-center">
            <opdex-token-icon [token]="element"></opdex-token-icon>
            <a class="no-decoration b-400 ml-2" href="javascript:void(0)" (click)="navigate(element.address)">{{element.symbol}}</a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <span class="no-wrap">{{element.name}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="interflux">
        <th mat-header-cell *matHeaderCellDef> Native Chain </th>
        <td mat-cell *matCellDef="let element">
          <span class="badge ethereum no-wrap" *ngIf="element.wrappedToken">{{element.wrappedToken.chain}}</span>
          <span class="badge cirrus no-wrap" *ngIf="!element.wrappedToken">Cirrus</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Daily Price </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex-row-center-between">
            <div class="flex-row-center no-wrap mr-3">
              <opdex-change-indicator [value]="element.summary.dailyPriceChangePercent" [forceDisplay]="true" class="mr-2"></opdex-change-indicator>
              ${{element.summary.priceUsd | shortNumber}}
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="history">
        <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Monthly History </th>
        <td mat-cell *matCellDef="let element" style="width: 150px;">
          <div class="w-100 float-right">
            <opdex-line-change [chartData]="element.history.line" *ngIf="element.history"></opdex-line-change>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="paginator">
    <div class="flex-row-center-center">
      <button mat-icon-button [disabled]="!paging?.previous" (click)="pageChange(paging?.previous)"><mat-icon>{{icons.previous}}</mat-icon></button>
      <button mat-icon-button [disabled]="!paging?.next" (click)="pageChange(paging?.next)"><mat-icon>{{icons.next}}</mat-icon></button>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <opdex-skeleton-table></opdex-skeleton-table>
</ng-template>
