<div id="pair" *ngIf="theme$ | async as theme">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>MEDI-CRS</h1>

        <div class="stats">
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-3">
              <p class="mb-0">
                Volume: $109,733,139
              </p>
            </div>

            <div class="col-3">
              <p class="mb-o">
                Liquidity: $1,754,342,353
              </p>
            </div>

            <div class="col-3">
              <p class="mb-0">
                Fees: $329,199.41
              </p>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-8">
        <mat-card class="p-0">
          <opdex-line-chart [theme]="theme" [chartData]="ohlcPoints" [type]="chartType" *ngIf="ohlcPoints"></opdex-line-chart>
        </mat-card>
      </div>

      <div class="col-12 col-md-4">
        <opdex-swap></opdex-swap>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <h2>Recent Transactions</h2>
        <opdex-transactions-table></opdex-transactions-table>
      </div>
    </div>
  </div>
</div>
