<ng-container *ngIf="data">
  <div class="d-flex justify-content-center mt-3 mb-3">
    <div class="qr-code-wrapper" [cdkCopyToClipboard]="data" (cdkCopyToClipboardCopied)="copyHandler()">

      <qr-code [value]="data" size="250" errorCorrectionLevel="M" centerImageSrc="/assets/favicons/favicon-72x72.png" centerImageSize="40" [margin]="2"></qr-code>

      <mat-icon>{{copied ? icons.check : icons.copy}}</mat-icon>
    </div>
  </div>

  <div class="mb-3 d-flex justify-content-center">
    <small class="light d-flex"><opdex-help-button [info]="helpInfo" class="mr-1"></opdex-help-button> Help</small>
  </div>
</ng-container>
