<ng-container *ngIf="theme$ | async as theme">
  <mat-card class="p-0">
    <div class="transaction-container">
      <opdex-tx-box-sidebar class="d-flex" [(view)]="view"></opdex-tx-box-sidebar>

      <div class="transaction-view">
        <opdex-tx-box-swap class="d-flex" style="height: 100%;" *ngIf="view === 'swap'"></opdex-tx-box-swap>
        <opdex-tx-box-add-liquidity class="d-flex" style="height: 100%;" *ngIf="view === 'add'"></opdex-tx-box-add-liquidity>
        <opdex-tx-box-remove-liquidity class="d-flex" style="height: 100%;" *ngIf="view === 'remove'"></opdex-tx-box-remove-liquidity>
      </div>
    </div>
  </mat-card>
</ng-container>
