<div class="start-mining">
  <ng-container *ngIf="allowance$ | async as allowance">
    <opdex-allowance-validation [transactionType]="transactionTypes.startMining" [allowance]="allowance"></opdex-allowance-validation>
  </ng-container>

  <form [formGroup]="form" name="start-mining-form" id="start-mining-form" (submit)="submit()">
    <opdex-input-control [buttonDisabled]="true" [prefixIcon]="icons.add" label="Mine" [formControl]="amount" [suffix]="pool.token.lp.symbol"></opdex-input-control>

    <button mat-flat-button color="primary" class="mt-4 w-100" [disabled]="!form.valid">Continue</button>
  </form>
</div>
