<div class="start-mining">
  <form [formGroup]="form" name="start-mining-form" id="start-mining-form">
    <opdex-input-control
      [suffixDisabled]="true"
      [prefixIcon]="icons.add"
      label="Start Mining"
      [formControl]="amount"
      [suffix]="pool.tokens.lp.symbol"
      [numbersOnly]="true">
      <div class="flex-row-center-end">
        <span class="success" *ngIf="fiatValue">${{fiatValue.formattedValue | shortNumber}}</span>
      </div>
    </opdex-input-control>

    <opdex-percentage-amount-buttons
      [contract]="pool.address"
      [token]="pool.tokens.lp"
      positionType="Balance"
      [selected]="percentageSelected"
      (onPercentageSelect)="handlePercentageSelect($event)"></opdex-percentage-amount-buttons>

    <div class="mt-2" *ngIf="balanceError || allowance">
      <opdex-tx-quote-error
        [warn]="true"
        message="Insufficient Balance"
        *ngIf="balanceError">
      </opdex-tx-quote-error>

      <opdex-allowance-validation
        [transactionType]="transactionTypes.startMining"
        [allowance]="allowance">
      </opdex-allowance-validation>
    </div>

    <opdex-tx-quote-submit-button
      [warn]="balanceError || (allowance && !allowance?.isApproved)"
      [disabled]="!form.valid || !context?.wallet || balanceError === undefined"
      (onSubmit)="submit()">
    </opdex-tx-quote-submit-button>

    <opdex-tx-quote-errors [quoteErrors]="quoteErrors"></opdex-tx-quote-errors>
  </form>
</div>
