<div class="add-liquidity">
  <form [formGroup]="form" name="add-liquidity-form" id="add-liquidity-form">
    <div class="mb-4">
      <opdex-input-control
        [suffixDisabled]="true"
        label="Provide {{pool.tokens.crs.symbol}}"
        [formControl]="amountCrs"
        [suffix]="pool.tokens.crs.symbol"
        [numbersOnly]="true">
        <div class="flex-row-center-between">
          <span *ngIf="crsInFiatValue">${{crsInFiatValue.formattedValue | formatNumber:2}}</span>
        </div>
      </opdex-input-control>

      <opdex-percentage-amount-buttons
        [contract]="pool.tokens.crs.address"
        [token]="pool.tokens.crs"
        positionType="Balance"
        [selected]="crsPercentageSelected"
        (onPercentageSelect)="handlePercentageSelect('crs', $event)">
      </opdex-percentage-amount-buttons>

      <div class="mt-2 mb-2" *ngIf="crsBalanceError || amountCrs.errors?.invalidAmountEquivalent">
        <opdex-tx-quote-error
          [warn]="true"
          message="Insufficient {{pool.tokens.crs.symbol}} Balance"
          *ngIf="crsBalanceError">
        </opdex-tx-quote-error>

        <opdex-tx-quote-error *ngIf="amountCrs.errors?.invalidAmountEquivalent"
          [warn]="false"
          message="Error retrieving equivalent {{pool.tokens.src.symbol}} amount">
        </opdex-tx-quote-error>
      </div>
    </div>

    <opdex-input-control
      [suffixDisabled]="true"
      label="Provide {{pool.tokens.src.symbol}}"
      [formControl]="amountSrc"
      [suffix]="pool.tokens.src.symbol"
      [numbersOnly]="true">
      <div class="flex-row-center-between">
        <span *ngIf="srcInFiatValue">${{srcInFiatValue.formattedValue | formatNumber:2}}</span>
      </div>
    </opdex-input-control>

    <opdex-percentage-amount-buttons
      [contract]="pool.tokens.src.address"
      [token]="pool.tokens.src"
      positionType="Balance"
      [selected]="srcPercentageSelected"
      (onPercentageSelect)="handlePercentageSelect('src', $event)">
    </opdex-percentage-amount-buttons>

    <div class="mt-2 mb-2" *ngIf="allowance || srcBalanceError || amountSrc.errors?.invalidAmountEquivalent">
      <opdex-allowance-validation
        [transactionType]="transactionTypes.addLiquidity"
        [allowance]="allowance">
      </opdex-allowance-validation>

      <opdex-tx-quote-error
        [warn]="true"
        message="Insufficient {{pool.tokens.src.symbol}} Balance"
        *ngIf="srcBalanceError">
      </opdex-tx-quote-error>

      <opdex-tx-quote-error *ngIf="amountSrc.errors?.invalidAmountEquivalent"
        [warn]="false"
        message="Error retrieving equivalent {{pool.tokens.crs.symbol}} amount">
      </opdex-tx-quote-error>
    </div>

    <div *ngIf="!!srcInMin && !!crsInMin" class="mt-3 p-2 border" style="border-radius: 4px;">
      <div class="flex-row-center-between">
        <small class="b-400">
          Adding <span class="success">{{percentageOfSupply.formattedValue | shortNumber}}%</span> Total Liquidity
        </small>

        <button mat-icon-button class="tiny" (click)="toggleShowTransactionDetails()">
          <mat-icon>{{showTransactionDetails ? icons.arrowDown : icons.arrowRight}}</mat-icon>
        </button>
      </div>

      <div [@collapse]="!showTransactionDetails">
        <div class="flex-row-center-between">
          <small class="b-400 light mr-1">Minimum ({{toleranceThreshold}}% slippage)</small>
          <small class="text-right no-wrap">{{crsInMin.formattedValue | formatNumber:(pool.tokens.crs.decimals > 4 ? 4 : pool.tokens.crs.decimals)}} {{pool.tokens.crs.symbol}} </small>
        </div>

        <div class="flex-row-center-between">
          <small class="b-400 light mr-1">Minimum ({{toleranceThreshold}}% slippage)</small>
          <small class="text-right no-wrap">{{srcInMin.formattedValue | formatNumber:(pool.tokens.src.decimals > 4 ? 4 : pool.tokens.src.decimals)}} {{pool.tokens.src.symbol}}</small>
        </div>

        <div class="flex-row-center-between">
          <small class="b-400 light mr-1">Block Deadline ({{deadlineThreshold}} minutes)</small>
          <small class="text-right">{{deadlineBlock | formatNumber:0}}</small>
        </div>
      </div>
    </div>

    <!-- Tolerance and Deadline -->
    <div class="flex-row-center-end">
      <button
        mat-icon-button color="primary"
        [ngClass]="iconSizes.small"
        (click)="toggleShowMore(!showMore)"
        type="button">
        <mat-icon>{{showMore ? icons.remove : icons.add}}</mat-icon>
      </button>
    </div>

    <div [@collapse]="!showMore">
      <opdex-tolerance
        [value]="toleranceThreshold"
        (onToleranceChange)="calcTolerance($event)">
      </opdex-tolerance>

      <div class="mt-2">
        <opdex-deadline
          [value]="deadlineThreshold"
          (onDeadlineChange)="calcDeadline($event)">
        </opdex-deadline>
      </div>
    </div>
    <!-- End Tolerance and Deadline -->

    <opdex-tx-quote-submit-button
      [warn]="(allowance && !allowance?.isApproved) || crsBalanceError || srcBalanceError"
      [disabled]="!form.valid || !context?.wallet || allowance === undefined || crsBalanceError === undefined || srcBalanceError === undefined"
      (onSubmit)="submit()">
    </opdex-tx-quote-submit-button>

    <opdex-tx-quote-errors [quoteErrors]="quoteErrors"></opdex-tx-quote-errors>
  </form>
</div>
