<div class="add-liquidity">
  <ng-container *ngIf="allowance">
    <opdex-allowance-validation [transactionType]="transactionTypes.addLiquidity" [allowance]="allowance"></opdex-allowance-validation>
  </ng-container>

  <form [formGroup]="form" name="add-liquidity-form" id="swap-form" (submit)="submit()">
    <opdex-input-control [buttonDisabled]="true" [prefixIcon]="icons.add" label="Add CRS" [formControl]="amountCrs" suffix="CRS" [numbersOnly]="true"></opdex-input-control>
    <opdex-input-control [buttonDisabled]="true" [prefixIcon]="icons.add" label="Add {{pool.token.src.symbol}}" [formControl]="amountSrc" [suffix]="pool.token.src.symbol" [numbersOnly]="true"></opdex-input-control>
    <opdex-deadline-slider label="Deadline" [default]="20" [formControl]="deadline"></opdex-deadline-slider>

    <button mat-flat-button color="primary" class="mt-4 w-100" [disabled]="!form.valid">Continue</button>
  </form>
</div>
