<div class="add-liquidity">
  <ng-container *ngIf="allowance">
    <opdex-allowance-validation [allowance]="allowance"></opdex-allowance-validation>
  </ng-container>

  <form [formGroup]="form" name="add-liquidity-form" id="swap-form" (submit)="submit()">
    <div class="exactly swap-row">
      <div class="spend-receive-button">
        <button mat-icon-button color="primary" type="button" class="small" disabled><mat-icon>add</mat-icon></button>
      </div>

      <div class="amount">
        <mat-form-field appearance="outline" class="w-100" >
          <input matInput type="text" [required]="true" [formControl]="amountCrs" autocomplete="off" placeholder="0">
        </mat-form-field>
      </div>

      <div class="token">
        <button mat-stroked-button color="primary" type="button" disabled>CRS</button>
      </div>
    </div>

    <div class="exactly swap-row">
      <div class="spend-receive-button">
        <button mat-icon-button color="primary" type="button" class="small" disabled><mat-icon>add</mat-icon></button>
      </div>

      <div class="amount">
        <mat-form-field appearance="outline" class="w-100" >
          <input matInput type="text" [required]="true" [formControl]="amountSrc" autocomplete="off" placeholder="0">
        </mat-form-field>
      </div>

      <div class="token">
        <button mat-stroked-button color="primary" type="button" disabled>{{pool.token.src.symbol}}</button>
      </div>
    </div>

    <div class="space-between"></div>

    <!-- <div class="swap-info mt-1" *ngIf="form.controls.tokenIn.value > 0 && form.controls.to.value > 0">
      <p class="mb-0">Slippage: .1%</p>
      <p class="mb-0">Minimum Received: 12345</p>
      <p class="mb-0">Price: 12345</p>
      <p class="mb-0">Price Impact: 12345</p>
      <p class="mb-0">Fee: .03%</p>
    </div> -->

    <div *ngIf="txHash">
      <span style="font-size: 10px;">{{txHash}}</span>
    </div>

    <button mat-flat-button color="primary" class="mt-4 w-100" [disabled]="!form.valid || !allowance?.valueApproved">Continue</button>
  </form>
</div>
