<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-1">
        <a class="flex-row-center-center pl-0 pr-0" mat-button color="primary" routerLink="/vault-governance">
          <mat-icon [ngClass]="iconSizes.tiny">{{icons.arrowLeft}}</mat-icon>
          Vault
        </a>
      </div>
      <div class="col-12">
        <h1 class="mb-2">Proposal #{{proposal?.proposalId}}</h1>
      </div>
    </div>
    <div class="row" *ngIf="proposal">
      <div class="col-12 col-md-6">
        <div class="flex-row-center flex-wrap mb-3">
          <h5 class="d-flex no-wrap mb-0 mr-2">
            <span *ngIf="proposal.type === 'Create'">New Certificate</span>
            <span *ngIf="proposal.type === 'Revoke'">Revoke Certificate</span>
            <span *ngIf="proposal.type === 'TotalPledgeMinimum'">Change Pledge Minimum</span>
            <span *ngIf="proposal.type === 'TotalVoteMinimum'">Change Vote Minimum</span>
          </h5>

          <span class="badge" *ngIf="proposal.status === 'Pledge' || proposal.status === 'Vote'" [ngClass]="{
            'blue': proposal.status === 'Pledge',
            'purple': proposal.status === 'Vote'}">{{proposal.status}}</span>

          <span class="badge" *ngIf="proposal.status === 'Complete'" [ngClass]="{
            'green': proposal.status === 'Complete' && proposal.approved,
            'red': proposal.status === 'Complete' && !proposal.approved}">{{proposal.approved ? 'Approved' : 'Denied'}}</span>
        </div>

        <p class="mb-0" style="font-size: 2.4em; line-height: 1.3em" *ngIf="proposal.type !== 'Revoke'">
          <span class="b-400 mr-2">{{proposal.amount | shortNumber}}</span>
          <small *ngIf="proposal.type === 'Create'">ODX</small>
          <small *ngIf="proposal.type !== 'Create'">CRS</small>
        </p>

        <p class="mb-0 flex-row align-items-end">
          <small class="mr-2">By</small>
          <opdex-copy-address [address]="proposal.creator"></opdex-copy-address>
        </p>

        <p class="mb-0 flex-row align-items-end" *ngIf="proposal.type === 'Create' || proposal.type === 'Revoke'">
          <small class="mr-2" *ngIf="proposal.type === 'Create'">For</small>
          <small class="mr-2" *ngIf="proposal.type === 'Revoke'">Holder</small>
          <opdex-copy-address [address]="proposal.wallet"></opdex-copy-address>
        </p>

        <div class="mb-3 mt-3">
          <small class="b-400 light">Description</small>
          <p class="mb-0">{{proposal.description}}</p>
        </div>

        <div *ngIf="proposal.expiration >= latestBlock.height" class="mb-3" style="max-width: 600px;">
          <mat-progress-bar color="primary" mode="determinate" [value]="getExpirationPercentage(proposal)"></mat-progress-bar>

          <div class="mt-2 flex-row-center-between">
            <small class="light">{{proposal.expiration - latestBlock.height | formatNumber:0}} blocks remaining</small>
            <!-- <small class="light float-right">{{miningGovernance.nominationPeriodEndDate | timeago}}</small> -->
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="h-100 w-100 flex-column-center-center">
          <ng-container *ngIf="proposal.status === 'Pledge'">
            <p class="light b-400">Pledges</p>

            <div style="position: relative;" class="d-flex align-items-center">
              <mat-spinner style="position: relative; z-index: 1" class="xl"
                color="primary"
                mode="determinate"
                [value]="getPledgePercentage(proposal)">
              </mat-spinner>
              <mat-spinner style="position: absolute; z-index: 0;"
                class="gray xl"
                mode="determinate"
                value="100">
              </mat-spinner>

              <p style="position: absolute; left: 0; right: 0; margin: 0; text-align: center;">{{proposal.pledgeAmount | shortNumber}} <small>CRS</small></p>
            </div>
          </ng-container>

          <ng-container *ngIf="proposal.status !== 'Pledge'">
            <div class="flex-column w-100">
              <p class="light b-400">Votes</p>

              <div class="vote-bar-container">
                <div class="vote-bar yes mb-1 no-wrap" [ngStyle]="{'min-width': getVotePercentage(proposal.yesAmount, proposal.noAmount) + '%' }">
                  <div class="flex-row-center">
                    <mat-icon class="mr-1 tiny">{{icons.thumbUp}}</mat-icon>
                    <div class="d-block">{{proposal.yesAmount | shortNumber}} <small>CRS</small></div>
                  </div>
                </div>
              </div>

              <div class="vote-bar-container">
                <div class="vote-bar no no-wrap flex-row-center" [ngStyle]="{'min-width': getVotePercentage(proposal.noAmount, proposal.yesAmount) + '%' }">
                  <mat-icon class="mr-1 tiny">{{icons.thumbDown}}</mat-icon>
                  <div class="d-block">{{proposal.noAmount | shortNumber}} <small>CRS</small></div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offset-section pt-5 pb-4" *ngIf="!!context?.wallet">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Positions</h3>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <opdex-card>
          <div class="flex-row-center-between mb-2">
            <div class="flex-column">
              <p class="light mb-1">Pledged</p>
              <span>{{(userPledge?.pledge || 0) | shortNumber}} <small>CRS</small></span>
            </div>

            <div class="flex-column">
              <p class="light mb-1">Balance</p>
              <span>{{ userPledge?.balance || 0}} <small>CRS</small></span>
            </div>
          </div>

          <div class="btn-group flex-row-center-end w-100" *ngIf="proposal">
            <button mat-stroked-button color="primary" class="w-100 small" (click)="openTransactionView('Pledge', true)">Withdraw</button>
            <button mat-flat-button color="primary" class="w-100 small ml-3" (click)="openTransactionView('Pledge', false)" *ngIf="proposal.status === 'Pledge' && proposal.expiration >= latestBlock.height">Pledge</button>
          </div>
        </opdex-card>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngIf="proposal && proposal.status !== 'Pledge'">
        <opdex-card>
          <div class="flex-row-center-between mb-2">
            <div class="flex-column">
              <p class="light mb-1">Voted</p>

              <div class="flex-row-center">
                <mat-icon *ngIf="userVote" class="{{userVote.inFavor ? 'green' : 'red'}}" [ngClass]="iconSizes.tiny" class="mr-1">{{userVote.inFavor ? icons.thumbUp : icons.thumbDown}}</mat-icon>
                <div class="d-block">
                  {{(userVote?.vote || 0) | shortNumber}}
                  <small>CRS</small>
                </div>
              </div>
            </div>

            <div class="flex-column">
              <p class="light mb-1">Balance</p>
              <span>{{ userVote?.balance || 0}} <small>CRS</small></span>
            </div>
          </div>

          <div class="btn-group flex-row-center-end w-100" *ngIf="proposal">
            <button mat-stroked-button color="primary" class="w-100 small" (click)="openTransactionView('Vote', true)">Withdraw</button>
            <button mat-flat-button color="primary" class="w-100 small ml-3" (click)="openTransactionView('Vote', false)" *ngIf="proposal.status === 'Vote' && proposal.expiration >= latestBlock.height">Vote</button>
          </div>
        </opdex-card>
      </div>
    </div>
  </div>
</div>

<div class="standard-section pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-tab-group dynamicHeight [selectedIndex]="proposal && proposal.status === 'Pledge' ? 0 : 1" animationDuration="0ms">
          <mat-tab>
            <ng-template mat-tab-label>
              Pledges
              <span class="ml-1 badge blue">{{(proposal?.pledgeAmount || 0) | shortNumber}}</span>
            </ng-template>

            <ng-template matTabContent>
              <opdex-vault-proposal-pledges-table [filter]="pledgesFilter" [hideProposalIdColumn]="true"></opdex-vault-proposal-pledges-table>
            </ng-template>
          </mat-tab>

          <mat-tab label="Votes" [disabled]="!proposal || proposal.status === 'Pledge'">
            <ng-template mat-tab-label>
              Votes
              <ng-container *ngIf="proposal && proposal.status !== 'Pledge'">
                <span class="ml-1 badge green flex-row-center">{{(proposal?.yesAmount || 0) | shortNumber}}</span>
                <span class="ml-1 badge red flex-row-center">{{(proposal?.noAmount || 0) | shortNumber}}</span>
              </ng-container>
            </ng-template>

            <ng-template matTabContent>
              <opdex-vault-proposal-votes-table [filter]="votesFilter" [hideProposalIdColumn]="true"></opdex-vault-proposal-votes-table>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
