@import 'src/scss/colors';

.provide {
  background: $green-primary;
  color: $dark-primary;
  font-weight: 500;
}

.mine {
  background: $red-primary;
  color: $dark-primary;
  font-weight: 500;
}

.stake {
  background: $purple-primary;
  color: $dark-primary;
  font-weight: 500;
}

.swap {
  background: $blue-primary;
  color: $dark-primary;
  font-weight: 500;
}

.token-identity {
  max-width: 250px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 250px !important;
  padding-right: 30px;
}
