.provide {
  background: #12ee9d;
  color: #1b192f;
  font-weight: 500;
}

.mine {
  background: #f7556b;
  color: #1b192f;
  font-weight: 500;
}

.stake {
  background: #9c45ee;
  color: #1b192f;
  font-weight: 500;
}

.swap {
  background: #1da7dc;
  color: #1b192f;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.token-identity {
  max-width: 200px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px !important;
  padding-right: 30px;
}
