<ng-container *ngIf="pool && !error">
  <div class="flex-row-center mb-2">
    <div class="no-wrap">
      <opdex-number
        class="mr-2"
        [prefix]="isAddition ? '+' : '-'"
        [value]="lptAmount"
        [short]="true"
        [stopPropagation]="true">
      </opdex-number>

      <a class="no-decoration" routerLink="/pools/{{pool.address}}">{{pool.name}}</a> <a class="ml-1 no-decoration" routerLink="/tokens/{{pool.address}}">{{pool.tokens.lp.symbol}}</a>
    </div>
  </div>

  <div class="flex-row-center">
    <div class="col flex-shrink no-wrap">
      <opdex-number
        class="mr-2"
        [prefix]="isAddition ? '-' : '+'"
        [value]="crsAmount"
        [short]="true"
        [stopPropagation]="true">
      </opdex-number>

      <a class="no-decoration" routerLink="/tokens/{{pool.tokens.crs.address}}">{{pool.tokens.crs.symbol}}</a>
    </div>

    <div class="col no-wrap">
      <opdex-number
        class="mr-2"
        [prefix]="isAddition ? '-' : '+'"
        [value]="srcAmount"
        [short]="true"
        [stopPropagation]="true">
      </opdex-number>

      <a class="no-decoration" routerLink="/tokens/{{pool.tokens.src.address}}">{{pool.tokens.src.symbol}}</a>
    </div>
  </div>
</ng-container>

<div *ngIf="error">{{error}}</div>
