@import 'list';
@import 'card';
@import 'table';
@import 'button';
@import 'slider';
@import 'bottom-drawer';
@import 'tooltip';


.mat-form-field {
  &:not(.mat-paginator-page-size-select) {
    width: 100% !important;
  }

  &.hide-label {
    .mat-form-field-label {
      margin-top: .4em !important;
    }
  }

  &.ng-invalid.ng-touched {
    color: $red-primary;

    button {
      color: $red-primary !important;
    }

    .mat-form-field-ripple {
      background: $red-primary !important;
      opacity: 1 !important;
      transform: none !important;
    }
  }

  &.active {
    &:not(.ng-invalid) {
      color: $blue-primary;

      button {
        color: $blue-primary !important;
      }

      .mat-form-field-ripple {
        background: $blue-primary !important;
        opacity: 1 !important;
        transform: none !important;
      }
    }
  }
}


.mat-form-field-infix {
  border-top: 1.2em solid transparent;
  width: 100% !important;

  .mat-form-field-appearance-legacy .mat-form-field-label {
    top: 1.2em;
  }

  .mat-form-field-label-wrapper {
    top: -1.2em;
    padding-top: 1.2em;

    mat-label {
      font-size: 1.4em !important;
      font-weight: 400 !important;
    }

    .mat-placeholder-required {
      display: none;
    }
  }
}


.mat-drawer {
  z-index: 1000;
  min-height: 100vh;
  overscroll-behavior: contain;
}

.light-mode {
  .mat-drawer-container {
    background: none;

    .mat-drawer {
      background: #f4f4f4;

      .blur-background {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .foreground {
        padding: 25px;
        height: 100%;
      }
    }
  }
}


.dark-mode  {
  .mat-drawer-container {
    background: none;

    .mat-drawer {
      background: #1e1d2d;

      .blur-background {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .foreground {
        padding: 25px;
        height: 100%;
      }
    }
  }
}

.mat-drawer-backdrop {
  opacity: 0 !important;
}

