@import 'list';
@import 'card';
@import 'table';
@import 'button';
@import 'slider';
@import 'bottom-drawer';
@import 'tooltip';
@import 'forms';
@import 'icons';
@import 'progress-spinner';


.mat-drawer {
  z-index: 1000;
  min-height: var(--app-height);
  overscroll-behavior: contain;
}

.light-mode {
  .mat-drawer-container {
    background: none;

    .mat-drawer {
      background: #f4f4f4;

      .blur-background {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .foreground {
        padding: 25px;
        height: 100%;
      }
    }
  }
}


.dark-mode  {
  .mat-drawer-container {
    background: none;

    .mat-drawer {
      background: #1e1d2d;

      .blur-background {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .foreground {
        padding: 25px;
        height: 100%;
      }
    }
  }
}

.mat-drawer-backdrop {
  opacity: 0 !important;
}

