@import 'src/scss/colors';

button {
  display: flex;
  justify-content: center;
  align-items: center;

  &.tiny {
    &.mat-button-base {
      line-height: 16px;
      font-size: .8em;
    }

    &.mat-icon-button {
      width: 20px;
      height: 20px;
    }

    &.mat-mini-fab {
      width: 20px;
      height: 20px;

      .mat-button-wrapper {
        padding: 0;
        line-height: 16px;
      }
    }

    .mat-icon {
      line-height: 16px;
      height: 16px;
      width: 16px;

      &.material-icons {
        font-size: 16px;
      }
    }
  }

  &.small {
    &.mat-button-base {
      line-height: 28px;
    }

    &.mat-icon-button {
      width: 28px;
      height: 28px;
    }

    &.mat-mini-fab {
      width: 28px;
      height: 28px;

      .mat-button-wrapper {
        padding: 0;
        line-height: 22px;
      }
    }

    .mat-icon {
      line-height: 20px;
      height: 22px;
      width: 22px;

      &.material-icons {
        font-size: 22px;
      }
    }
  }

  .mat-button-wrapper {
    flex: 1!important;
  }

  &.white {
    background-color: white !important;
    background: white !important;
    color: $dark-primary !important;
  }
}


.mat-button-toggle-label-content {
  line-height: 32px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.mat-button-toggle-checked {
  background: $blue-primary !important;

  .mat-button-toggle-label-content {
    color: #fff !important;
  }
}

.mat-button {
  &.transparent {
    .mat-button-focus-overlay {
      display: none !important;
    }
  }
}
