@import 'src/scss/colors';

button {
  &.tiny {
    &.mat-button-base {
      line-height: 20px;
    }

    &.mat-icon-button {
      width: 20px;
      height: 20px;
    }

    .mat-icon {
      line-height: 18px;
      height: 18px;
      width: 18px;

      &.material-icons {
        font-size: 18px;
      }
    }
  }

  &.small {
    &.mat-button-base {
      line-height: 28px;
    }

    &.mat-icon-button {
      width: 28px;
      height: 28px;
    }

    .mat-icon {
      line-height: 22px;
      height: 22px;
      width: 22px;

      &.material-icons {
        font-size: 22px;
      }
    }
  }

  .mat-button-wrapper {
    flex: 1!important;
  }

  &.white {
    background-color: white !important;
    background: white !important;
    color: $dark-primary !important;
  }
}


.mat-button-toggle-label-content {
  line-height: 32px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}
