.mat-card {
  background: rgba(38, 37, 56, 0.6) !important; //#27253A
  padding: 0px !important;
  border-radius: 10px !important;
  // height: 100%;

  .background {
    border-radius: 10px !important;
  }

  .foreground {
    border-radius: 10px !important;
    // height: 100%;
  }
}
