.mat-card {
  background: rgba(49,47, 72, 0.6) !important;
  padding: 0px !important;
  border-radius: 8px !important;

  .background {
    border-radius: 8px !important;
  }

  .foreground {
    border-radius: 8px !important;
  }
}
