.mat-icon {
  &.provide, &.add, &.green {
    color: $green-primary !important;
  }

  &.mine, &.remove, &.red {
    color: $red-primary !important;
  }

  &.stake, &.purple {
    color: $purple-primary !important;
  }

  &.swap, &.collect, &.primary, &.blue {
    color: $blue-primary !important;
  }

  &.reward, &.yellow {
    color: $yellow-primary !important;
    text-shadow: 0px 0px 1px black;
  }

  &.small {
    font-size: 22px;
    height: 22px;
    width: 22px;
    line-height: 22px;
  }

  &.tiny {
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
  }
}
