.mat-spinner {
  &.green {
    circle {
      stroke: $green-primary;
    }
  }

  &.tiny {
    width: 16px !important;
    height: 16px !important;

    svg {
      width: 16px !important;
      height: 16px !important;
    }
  }

  &.small {
    width: 22px !important;
    height: 22px !important;

    svg {
      width: 22px !important;
      height: 22px !important;
    }
  }

  &.medium {
    width: 28px !important;
    height: 28px !important;

    svg {
      width: 28px !important;
      height: 28px !important;
    }
  }
}
