.table-container {
  width: 100%;
  overflow: auto;

  table {
    width: 100%;
  }

  tr.mat-header-row {
    height: 40px;

    th.mat-header-cell {
      font-size: 1em;
    }
  }

  tr.mat-row {
    height: 40px;
  }
}

.light-mode {

}


.dark-mode {
  .table-container {
    tr.mat-header-row {
      th.mat-header-cell {
        color: #fff;
      }
    }
  }
}
