.table-container {
  width: 100%;
  overflow: auto;

  table {
    width: 100%;
  }

  tr.mat-header-row {
    height: 50px;

    th.mat-header-cell {
      font-size: 16px;
      color: #919191 !important;
      font-weight: 400;
    }
  }

  tr.mat-row {
    height: 50px;
  }

  td.mat-cell {
    border-bottom-width: 0px;
    min-width: 150px;
    font-size: 18px;
  }
}

.light-mode {

}


.dark-mode {
  .table-container {
    tr.mat-header-row {
      th.mat-header-cell {
        color: #fff;
      }
    }
  }
}


.mat-table, .mat-paginator {
  background: transparent !important;
}
