.mat-tooltip {
  font-size: 14px !important;
  max-width: 600px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  overflow: visible !important;
  text-overflow: wrap !important;
}
