#trade {
  display: flex;
  min-height: calc(var(--app-height) - (env(safe-area-inset-bottom, 0) + 50px));
  justify-content: center;
}

@media (min-height: 1081px) {
  #trade {
    align-items: center;
  }
}
