#trade {
  min-height: calc(var(--app-height) - (env(safe-area-inset-bottom, 0) + 50px));
  justify-content: center;
}

@media (min-height: 1081px) {
  #trade {
    align-items: center;
  }
}

@media (min-width: 992px) {
  #trade {
    min-height: var(--app-height);
  }
}
