<div id="tx-sidebar-container">
  <div class="d-flex align-items-center justify-content-between mb-3" *ngIf="showNavMenu">
    <!-- Empty div on purpose so the transaction type selector is centered even if the below button is hidden.-->
    <div style="width: 22px; height: 22px;">
      <button mat-icon-button color="primary" [ngClass]="iconSizes.small" (click)="toggleSidenavMode()" *ngIf="widescreen">
        <mat-icon>{{sidenavMode == 'over' ? icons.expand : icons.collapse }}</mat-icon>
      </button>
    </div>

    <button mat-button [ngClass]="iconSizes.small" class="d-flex" [matMenuTriggerFor]="beforeMenu" style="text-align: left;">
      <div class="menu-content d-flex justify-content-between align-items-center">
        <ng-container *ngFor="let transactionType of transactionTypes">
          <span *ngIf="message?.view === transactionType.view" class="d-flex align-items-center">
            <mat-icon [ngClass]="[iconSizes.small, transactionType.iconColor, 'mr-3']">{{transactionType.icon}}</mat-icon>
            {{transactionType.title}}
          </span>
        </ng-container>

        <mat-icon>{{icons.arrowDown}}</mat-icon>
      </div>
    </button>

    <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-100">
      <ng-container *ngFor="let transactionType of transactionTypes">
        <button mat-menu-item [ngClass]="iconSizes.small" (click)="setTransactionView(transactionType.view)">
          <mat-icon class="mr-3" [ngClass]="transactionType.iconColor">{{transactionType.icon}}</mat-icon>
          {{transactionType.title}}
        </button>
      </ng-container>
    </mat-menu>

    <button mat-icon-button color="primary" (click)="closeSidenav()" [ngClass]="iconSizes.small" aria-label="Close Sidenav">
      <mat-icon>{{icons.close}}</mat-icon>
    </button>
  </div>

  <mat-divider class="mb-3" *ngIf="showNavMenu"></mat-divider>

  <div class="connect-wallet mb-3" *ngIf="!context?.wallet">
    <opdex-connect-wallet-card (onConnectWallet)="handleConnectWallet()"></opdex-connect-wallet-card>
  </div>

  <div [ngSwitch]="message?.view">
    <opdex-tx-swap *ngSwitchCase="1" [data]="message?.data"></opdex-tx-swap>
    <opdex-tx-provide *ngSwitchCase="2" [data]="message?.data" (onPoolSelection)="handlePoolSelection($event)"></opdex-tx-provide>
    <opdex-tx-stake *ngSwitchCase="3" [data]="message?.data" (onPoolSelection)="handlePoolSelection($event)"></opdex-tx-stake>
    <opdex-tx-mine *ngSwitchCase="4" [data]="message?.data" (onPoolSelection)="handlePoolSelection($event)"></opdex-tx-mine>
    <opdex-tx-allowance *ngSwitchCase="5" [data]="message?.data"></opdex-tx-allowance>
    <opdex-tx-create-pool *ngSwitchCase="6" [data]="message?.data"></opdex-tx-create-pool>
  </div>
</div>
