.short, .numerator, .denominator {
  font-family: 'Inconsolata', monospace !important;
  letter-spacing: 0px;
  font-size: 1.1em;
}

.number {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}
