<opdex-card>
  <h3 class="text-shadow">Recent Transactions</h3>

  <div class="feed-container" *ngIf="transactions$ | async as transactions" [ngClass]="{'large': size === 'l', 'medium': size === 'm', 'small': size === 's'}">
    <div class="transaction" *ngFor="let tx of transactions; trackBy: transactionsTrackBy">
      <div class="d-flex flex-direction-column">
        <div class="pr-2">
          <button
            class="tiny"
            mat-icon-button
            color="primary"
            [matTooltip]="tx.hash"
            [cdkCopyToClipboard]="tx.hash"
            (cdkCopyToClipboardCopied)="copyHandler($event)">
            <mat-icon>{{copied ? 'check_circle' : 'receipt'}}</mat-icon>
          </button>
        </div>

        <div class="pl-2">
          <small class="d-block light mb-1">{{tx?.block?.medianTime | timeago}}</small>

          <ng-container *ngFor="let event of tx.events; trackBy: transactionLogsTrackBy;">
            <div class="tx-event enable-mining" *ngIf="event.eventType == 'NominationEvent'">
              <opdex-nomination-event [txEvent]="event"></opdex-nomination-event>
            </div>

            <!-- <div class="enable-mining tx-event" *ngIf="event.eventType == 'RewardMiningPoolEvent' && event.stakingPool === pool.address">
              <p>Activated governance distribution rewarding nominated liquidity pools with <strong>{{event.amount | formatNumber:0}}</strong> {{pool.token.staking.symbol}} to be mined.</p>
            </div> -->

           <div class="distribution-event tx-event" *ngIf="event.eventType == 'DistributionEvent'">
              <opdex-distribution-event [txEvent]="event"></opdex-distribution-event>
            </div>

            <div class="enable-mining tx-event" *ngIf="event.eventType == 'EnableMiningEvent'">
              <opdex-enable-mining-event [txEvent]="event"></opdex-enable-mining-event>
            </div>

            <div class="transfer tx-event" *ngIf="event.eventType == 'TransferEvent'">
              <opdex-transfer-event [txEvent]="event"></opdex-transfer-event>
            </div>

            <div class="approval tx-event" *ngIf="event.eventType == 'ApprovalEvent'">
              <opdex-approval-event [txEvent]="event"></opdex-approval-event>
            </div>

            <div class="staking tx-event" *ngIf="event.eventType == 'StakeEvent'">
              <opdex-stake-event [txEvent]="event"></opdex-stake-event>
            </div>

            <div class="provide-event tx-event" *ngIf="event.eventType == 'ProvideEvent'">
              <opdex-provide-event [txEvent]="event"></opdex-provide-event>
            </div>

            <div class="swap-log tx-event" *ngIf="event.eventType == 'SwapEvent'">
              <opdex-swap-event [txEvent]="event"></opdex-swap-event>
            </div>

            <div class="mine-log tx-event" *ngIf="event.eventType == 'MineEvent'">
              <opdex-mine-event [txEvent]="event"></opdex-mine-event>
            </div>

            <div class="collect-staking-rewards-log tx-event" *ngIf="event.eventType == 'CollectStakingRewardsEvent'">
              <opdex-collect-staking-rewards-event [txEvent]="event"></opdex-collect-staking-rewards-event>
            </div>

            <div class="collect-mining-rewards-log tx-event" *ngIf="event.eventType == 'CollectMiningRewardsEvent'">
              <opdex-collect-mining-rewards-event [txEvent]="event"></opdex-collect-mining-rewards-event>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</opdex-card>
