.feed-container {
  position: relative;
  height: 100%;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 15px;

  &.large {
    height: 685px;
  }

  &.medium {
    height: 565px;
  }

  &.small {
    height: 430px;
  }

  .transaction {
    .tx-container {
      padding: 15px 0;
      min-height: 75px;

      .icon-container {
        min-width: 40px;
        max-width: 40px;
      }

      .icon-container-offset {
        padding-left: 40px;
      }
    }

    .tx-event {
      min-height: 30px;

      p {
        margin-bottom: 0px;
      }
    }
  }
}
