<div class="vault-proposals">
  <mat-button-toggle-group aria-label="Transaction Type" class="w-100 mb-3" [value]="child" #group="matButtonToggleGroup">
    <mat-button-toggle [value]="option.value" class="w-100" *ngFor="let option of txOptions">{{option.action}}</mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Resets when looking at create proposal form however the form components still know about the proposal -->
  <!-- Makes it seem like a proposal isn't selected but really it is, the select just reset -->
  <opdex-vault-proposal-selector
    (onProposalChange)="handleProposalChange($event)"
    *ngIf="group.value !== 1">
  </opdex-vault-proposal-selector>

  <ng-container>
    <!-- Only necessary for pledge/vote screens -->
    <!-- <opdex-wallet-preview [balanceTokens]="['CRS']"></opdex-wallet-preview> -->

    <opdex-card *ngIf="group.value == 1 || data.proposal">
      <opdex-tx-vault-proposal-create [data]="data" *ngIf="group.value == 1"></opdex-tx-vault-proposal-create>
      <opdex-tx-vault-proposal-pledge [data]="data" *ngIf="group.value == 2"></opdex-tx-vault-proposal-pledge>
      <opdex-tx-vault-proposal-vote [data]="data" *ngIf="group.value == 3"></opdex-tx-vault-proposal-vote>
    </opdex-card>
  </ng-container>
</div>
