<div id="token" class="mt-5">
  <div class="container pt-3" *ngIf="token">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="page-title mb-3">{{token.name}} {{token.symbol}}</h1>
        <p class="text-shadow">{{token.address}}</p>

        <div class="stats mt-4">
          <div class="row">
            <div *ngFor="let statCard of statCards" class="col-12 col-md-6 col-xl">
              <opdex-stat-card [statInfo]="statCard"></opdex-stat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4" >
      <div class="col-12 col-md-8">
        <opdex-card class="p-0">
          <!-- <opdex-line-chart [chartData]="priceHistory" title="{{token.symbol}} USD" *ngIf="priceHistory"></opdex-line-chart> -->

          <opdex-line-chart
                [chartData]="chartData"
                [chartOptions]="chartOptions"
                [selectedChart]="selectedChart"
                title="{{selectedChart.category}}"
                *ngIf="chartData"
                (onTypeChange)="handleChartTypeChange($event)"></opdex-line-chart>
        </opdex-card>
      </div>

      <div class="col-12 col-md-4">
        <opdex-tx-feed [transactionRequest]="transactionRequest"></opdex-tx-feed>

      </div>
    </div>

    <!-- <div class="row mb-4">
      <div class="col-12 mb-4">
        <opdex-card>
          <h2>Recent Transactions</h2>
          <opdex-transactions-table></opdex-transactions-table>
        </opdex-card>
      </div>
    </div>
  </div> -->
</div>
