<div class="header-section" *ngIf="token">
  <div class="container">
    <div class="row mb-3 justify-content-between align-items-center">
      <div class="col-12 col-lg-6 col-xl-8">
        <h1 class="mb-0">{{token.name}}</h1>
        <div class="light" style="font-size: 10px;" *ngIf="token.address !== 'CRS'">{{token.address}}</div>
      </div>

      <div class="d-none d-lg-block col-lg-6 col-xl-4">
        <opdex-tx-buttons (onSelectOption)="handleTxOption($event)" [hideStaking]="true" [hideMining]="true"></opdex-tx-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 col-xl-3">
        <opdex-card>
          <div class="d-flex justify-content-between">
            <h3 class="mb-0">{{token.symbol}}</h3>

            <div class="d-flex flex-row align-items-end">
              <h4 class="mb-0 mr-2">${{token.summary.priceUsd | shortNumber}}</h4>
              <opdex-change-indicator style="padding-bottom: 2px;" [value]="token.summary.dailyPriceChangePercent" size="s" *ngIf="token.summary.dailyPriceChangePercent !== null && token.summary.dailyPriceChangePercent !== undefined"></opdex-change-indicator>
            </div>
          </div>
        </opdex-card>
      </div>
    </div>

    <div class="row d-lg-none">
      <div class="col-12">
        <opdex-tx-buttons (onSelectOption)="handleTxOption($event)" [hideStaking]="true" [hideMining]="true"></opdex-tx-buttons>
      </div>
    </div>
  </div>
</div>

<div class="offset-section pb-3 pt-3">
  <div class="container">
    <opdex-line-chart
      [chartData]="chartData"
      [chartOptions]="chartOptions"
      [selectedChart]="selectedChart"
      title="{{selectedChart.category}}"
      (onTypeChange)="handleChartTypeChange($event)"
      (onTimeChange)="handleChartTimeChange($event)"></opdex-line-chart>
  </div>
</div>

<div class="standard-section pt-5 pb-5 tx-bg blend-cards">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <opdex-tx-feed [transactionRequest]="transactionRequest" size="l"></opdex-tx-feed>
      </div>
    </div>
  </div>
</div>
