<div id="token" class="page-container">
  <div class="container" *ngIf="token">
    <div class="row">
      <div class="col-12 col-xl-4">
        <opdex-card>
          <p class="mb-2 light d-flex align-items-center">
            <opdex-copy-button [tooltip]="token.address" [value]="token.address" [icon]="icons.link" [size]="iconSizes.small"></opdex-copy-button>
            <span class="ml-2">{{token.name}}</span>
          </p>

          <div class="d-flex justify-content-between">
            <div class="left">
              <h1 class="text-shadow mb-0">
                <span>{{token.symbol}}</span>
              </h1>
            </div>

            <div class="right d-flex flex-row align-items-end">
              <h2 class="mb-0 mr-2">${{token.summary.priceUsd | shortNumber}}</h2>
              <opdex-change-indicator style="padding-bottom: 2px;" [value]="token.summary.dailyPriceChangePercent" size="s" *ngIf="token.summary.dailyPriceChangePercent !== null && token.summary.dailyPriceChangePercent !== undefined"></opdex-change-indicator>
            </div>
          </div>
        </opdex-card>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-xl-8">
        <opdex-card [noPadding]="true">
          <opdex-line-chart
                [chartData]="chartData"
                [chartOptions]="chartOptions"
                [selectedChart]="selectedChart"
                title="{{selectedChart.category}}"
                *ngIf="chartData"
                (onTypeChange)="handleChartTypeChange($event)"
                (onTimeChange)="handleChartTimeChange($event)"></opdex-line-chart>
        </opdex-card>
      </div>

      <div class="col-12 col-xl-4">
        <opdex-tx-feed [transactionRequest]="transactionRequest" size="s"></opdex-tx-feed>
      </div>
    </div>
  </div>
</div>
