<div class="vault-proposal-pledge">
  <form [formGroup]="form" name="vault-proposal-pledge-form" id="vault-proposal-pledge-form">
    <div class="mb-3">
      <opdex-input-control
        placeholder="1"
        label="Proposal ID"
        [formControl]="proposalId">
      </opdex-input-control>
    </div>

    <div class="mb-3">
      <opdex-input-control
        [prefixIcon]="isWithdrawal ? icons.remove : icons.add"
        [prefixIconDisabled]="false"
        (onPrefixClick)="handleAddRemoveStatus()"
        [suffixDisabled]="true"
        [label]="isWithdrawal ? 'Withdraw' : 'Pledge'"
        [formControl]="amount"
        [numbersOnly]="true"
        suffix="CRS">
        <div class="flex-row-center-end">
          <span class="success" *ngIf="fiatValue">${{fiatValue | shortNumber}}</span>
        </div>
      </opdex-input-control>

      <opdex-percentage-amount-buttons
        contract="{{ isWithdrawal ? vaultAddress : 'CRS'}}"
        [token]="crs"
        [positionType]="positionType"
        [selected]="percentageSelected"
        (onPercentageSelect)="handlePercentageSelect($event)"
        [proposalId]="proposalId.value"
        *ngIf="crs">
      </opdex-percentage-amount-buttons>

      <!-- <p class="mt-2 mb-0 flex-row-center" *ngIf="balanceError && form.valid && proposalId.value">
        <mat-icon color="warn" [ngClass]="iconSizes.tiny" class="mr-2">{{icons.error}}</mat-icon>
        Insufficient Balance
      </p> -->

      <div class="mt-2" *ngIf="balanceError">
        <opdex-tx-quote-error
          [warn]="true"
          message="Insufficient Balance">
        </opdex-tx-quote-error>
      </div>
    </div>

    <opdex-tx-quote-submit-button
      [warn]="balanceError"
      [disabled]="!form.valid || !context?.wallet || balanceError === undefined"
      (onSubmit)="submit()">
    </opdex-tx-quote-submit-button>

    <opdex-tx-quote-errors [quoteErrors]="quoteErrors"></opdex-tx-quote-errors>
  </form>
</div>
