<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3" *ngIf="!isCurrentMarket">
        <opdex-card [warn]="true">
          This liquidity pool is from an external market.
        </opdex-card>
      </div>

      <div class="col-12 col-sm-6 col-xl-8">
        <div class="flex-row-center">
          <opdex-token-icons [tokens]="[pool?.tokens?.crs, pool?.tokens?.src]"></opdex-token-icons>
          <h1 class="mb-0 ml-2">{{pool?.name}}</h1>
        </div>

        <opdex-copy-address [address]="pool?.address"></opdex-copy-address>

        <div class="flex-row-center mt-2">
          <div class="badge blue mr-2">{{pool?.transactionFeePercent?.bigInt > 0 ? pool.transactionFeePercent.formattedValue : 0}}% Fee</div>
          <div class="badge purple mr-2" *ngIf="pool?.summary?.staking?.nominated"><mat-icon class="mr-1">{{icons.staking}}</mat-icon> Nominated</div>
          <div class="badge red mr-2" *ngIf="pool?.miningPool?.isActive"><mat-icon class="mr-1">{{icons.mining}}</mat-icon> Mining</div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-xl-4">
        <div class="d-sm-none mt-3"></div>
        <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
      </div>
    </div>
  </div>
</div>

<div class="offset-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-12">
            <opdex-liquidity-pool-token-card
              [token]="pool?.tokens?.src"
              [swapToken]="pool?.tokens?.crs"
              [swapRate]="pool?.summary?.cost?.crsPerSrc">
            </opdex-liquidity-pool-token-card>
          </div>

          <div class="col-12 col-sm-6 col-lg-12">
            <opdex-liquidity-pool-token-card
              [token]="pool?.tokens?.crs"
              [swapToken]="pool?.tokens?.src"
              [swapRate]="pool?.summary?.cost?.srcPerCrs">
            </opdex-liquidity-pool-token-card>
          </div>

          <div class="col-12 col-sm-12 col-lg-12">
            <opdex-liquidity-pool-summary-card [pool]="pool"></opdex-liquidity-pool-summary-card>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 col-xl-9">
        <opdex-card>
          <opdex-line-chart
            [chartData]="chartData"
            [chartOptions]="chartOptions"
            [selectedChart]="selectedChart"
            title="{{selectedChart.category}}"
            (onTypeChange)="handleChartTypeChange($event)"
            (onTimeChange)="handleChartTimeChange($event)">
          </opdex-line-chart>
        </opdex-card>
      </div>
    </div>

    <div *ngIf="context$ | async as context" class="mt-3">
      <ng-container *ngIf="context.wallet">
        <div class="row" *ngIf="context.wallet">
          <div class="col-12">
            <h4 class="b-300 flex-row-center"><mat-icon color="primary" class="small mr-2">{{icons.wallet}}</mat-icon> Positions</h4>
          </div>
        </div>

        <div class="row">
          <ng-container *ngFor="let position of positions; let i = index; trackBy: positionsTrackBy">
            <div class="col-xs-12 col-sm">
              <opdex-wallet-position-card [position]="position"></opdex-wallet-position-card>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="standard-section blend-cards pt-5 pb-3 tx-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <opdex-tx-feed [transactionsRequest]="transactionsRequest" size="l"></opdex-tx-feed>
      </div>
    </div>
  </div>
</div>
