.light-mode {
  .stats {
    .stat-header {
      color: #575757 !important;
    }
  }
}



.dark-mode {
  .stat-header {
    color: #bebebe;
  }
}

h1 {
  display: inline-block;
  letter-spacing: .05em;
  font-weight: 500;

  a {
    // text-decoration: none;
    color: #fff;
  }
}

.token-divider-button {
  font-weight: 600;
  // color: #1ca7dc;
  // padding: 0 8px 0 10px;
}

.chip-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: 400px;

  .chip {
    padding: 7px 13px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #fff !important;
    align-items: center;
    display: flex;

    mat-icon {
      line-height: 20px;
      height: 20px !important;
      width: 20px !important;
    }

    &.purple {
      background-color: #9c45ee !important;
    }

    &.red {
      background-color: #f7556b !important;
    }

    &.blue {
      background-color: #1ca7dc !important;
    }
  }
}


.mining-pool {
  h3 {
    font-weight: 500;
  }

  .swap {
    background: #1da7dc;
    color: #1b192f;
    font-weight: 500;
  }

  .add {
    background: #00EB93;
    color: #1b192f;
    font-weight: 500;
  }

  .collect {
    background: #1ca7dc;
    color: #1b192f;
    font-weight: 500;
  }

  .remove {
    background: #F2435B;
    color: #1b192f;
    font-weight: 500;
  }

  .details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-heading {
      color: #ccc;
      font-weight: 400 !important;
      font-size: 16px !important;
    }

    .remaining {
      p {
        text-align: right;
      }
    }

    .value {
      font-size: 20px;
      margin-bottom: 0px;
    }
  }
}

.green {
  color: #00EB93;
  font-weight: 400;
}

.red {
  color: #F2435B;
  font-weight: 400;
}

.tx-details {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }
}

.tx-events {
  margin-bottom: 10px;

  p {
    margin-bottom: 0px;
  }

  .tx-event {
    // border-bottom: 1px solid #444444;
    // padding: 10px 0px;

    &:last-of-type {
      border: 0px;
      padding-bottom: 0px;
    }

    &:first-of-type {
      padding-top: 0px;
    }
  }
}
