@import 'src/scss/colors';

h1 {
  display: inline-block;
  letter-spacing: .05em;
}

.big-button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(37, 37, 37, 0.2) !important;
  margin-bottom: 15px;
  min-width: auto;

  &:hover {
    box-shadow: 0px 2px 1px rgba(0,0,0,0.1) !important;
  }

  &:disabled {
    box-shadow: 0px 2px 5px rgba(37, 37, 37, 0.2) !important;

    .mat-icon {
      opacity: .5;
    }
  }

  .text {
    display: none;
  }

  &.swap-button {
    background: rgba($blue-primary, .2) !important;

    &:hover {
      background: rgba($blue-primary, .4) !important;
    }

    .mat-icon {
      color: $blue-primary;
    }
  }

  &.provide-button {
    background: rgba($green-primary, .2) !important;

    &:hover {
      background: rgba($green-primary, .4) !important;
    }

    .mat-icon {
      color: $green-primary;
    }
  }

  &.stake-button {
    background: rgba($purple-primary, .2) !important;

    &:hover {
      background: rgba($purple-primary, .4) !important;
    }

    .mat-icon {
      color: $purple-primary;
    }
  }

  &.mine-button {
    background: rgba($red-primary, .2) !important;

    &:hover {
      background: rgba($red-primary, .4) !important;
    }

    .mat-icon {
      color: $red-primary;
    }
  }
}

.chip-group {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-bottom: 5px;

  .chip {
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    color: #fff !important;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    white-space: nowrap;

    &:last-of-type {
      margin-right: 0px;
    }

    mat-icon {
      margin-right: 8px;
      line-height: 16px;
      height: 16px !important;
      width: 16px !important;
      font-size: 16px !important;
    }

    &.purple {
      background-color: $purple-primary !important;
    }

    &.red {
      background-color: $red-primary !important;
    }

    &.blue {
      background-color: $blue-primary !important;
    }
  }
}


.mining-pool {
  h3 {
    font-weight: 500;
  }

  .swap {
    background: $blue-primary;
    color: $dark-primary;
    font-weight: 500;
  }

  .add {
    background: $green-primary;
    color: $dark-primary;
    font-weight: 500;
  }

  .collect {
    background: $blue-primary;
    color: $dark-primary;
    font-weight: 500;
  }

  .remove {
    background: $red-primary;
    color: $dark-primary;
    font-weight: 500;
  }

  .details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-heading {
      color: #ccc;
      font-weight: 400 !important;
      margin-bottom: 5px;
    }

    .remaining {
      p {
        text-align: right;
      }
    }

    .value {
      margin-bottom: 0px;
    }
  }
}

.green {
  color: $green-primary;
  font-weight: 400;
}

.red {
  color: $red-primary;
  font-weight: 400;
}


@media (min-width: 320px) { }

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) {
  .big-button {
    padding: 15px;

    .mat-icon {
      margin-right: 10px;
    }

    .text {
      display: inline;
    }
  }
}

@media (min-width: 1200px) { }
