// Import Variables and NPM package variable overrides
@import 'bootstrap-grid.scss';

// Import Opdex theme related styles
@import 'theme';

// Import NPM Package style overrides
@import 'material-components/_module';

// Import NPM Package Styles
@import '~bootstrap-4-grid/scss/grid';

.space-between {
  flex: 1;
}

// Light Blue 1: #19A7DD
// Light Blue 2: #1CA7DC
// Dark Blue 1: #1A192F
// Dark Blue 2: #1B192F
// Dark Blue 3: #171244
// Gray: #7C7C7C

.mat-drawer {
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}

.qrcode {
  canvas {
    margin: 30px auto;
    display: block;
  }
}

.mat-dialog-container {
  overflow: initial !important;
}

h1.page-title {
  font-size: 2.4em;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px black;
}
