// Import Variables and NPM package variable overrides
@import 'bootstrap-grid.scss';

// Import Opdex theme related styles
@import 'theme';

// Import NPM Package style overrides
@import 'material-components/_module';

// Import NPM Package Styles
@import '~bootstrap-4-grid/scss/grid';

.space-between {
  flex: 1;
}

// Light Blue 1: #19A7DD
// Light Blue 2: #1CA7DC
// Dark Blue 1: #1A192F
// Dark Blue 2: #1B192F
// Dark Blue 3: #171244
// Gray: #7C7C7C

.mat-drawer {
  // .mat-form-field-wrapper {
  //   padding-bottom: 0px !important;
  // }
}

.qrcode {
  canvas {
    margin: 30px auto;
    display: block;
  }
}

.mat-dialog-container {
  overflow: initial !important;
}

h1.page-title {
  font-size: 2.4em;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px black;
}


.text-shadow {
  text-shadow: 1px 1px 1px black;
}

.light {
  color: #979797;
}

.float-right {
  float: right;
}

.text-align-right {
  text-align: right;
}


// .card-col {
//   padding-bottom: 20px;
// }

.scrollable-card {
  width: 310px;
  padding-right: 20px;
  // margin-bottom: 10px;
  flex: 0 0 auto;

  &:first-of-type {
    margin-left: 0px;
  }

  &:last-of-type {
    padding-right: 10px;
  }
}

.scrollable-row {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;

  &.no-overflow {
    overflow: hidden;
    margin-bottom: 0px;
  }

  &.offset-container {
    margin-left: -10px;
    margin-right: -10px;
  }

  &.double-offset-container {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {
  .scrollable-card {
    width: 100%;
    max-width: 500px;
    flex: 0 1 auto;
  }
}
@include media-breakpoint-up(lg) {
  .card-col {
    padding-bottom: 0 !important;
  }
}
@include media-breakpoint-up(xl) {}
