// Import Variables and NPM package variable overrides
@import 'bootstrap-grid.scss';

// Import Opdex theme related styles
@import 'theme';

@import 'theming/_module';

// Import NPM Package style overrides
@import 'material-components/_module';
@import 'components/_module';
@import 'layout';

// Import NPM Package Styles
@import '~bootstrap-4-grid/scss/grid';

.space-between {
  flex: 1;
}

.error {
  color: $red-primary;
}

.no-wrap {
  white-space: nowrap;
}

.mat-dialog-container {
  overflow: initial !important;
}

.light {
  color: #979797;
}

.float-right {
  float: right;
}

.page-container {
  margin-top: 20px;
}

@include media-breakpoint-up(lg) {
  .page-container {
    margin-top: 40px;
  }
}

.positive-value {
  color: $green-primary;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.asset-image-placeholder {
  width: 24px;
  height: 24px;
  background: $blue-primary;
  border-radius: 50%;

  &:not(.cirrus) {
    border: 1px solid white;

    &::after {
      content: "?";
      color: white;
      display: flex;
      justify-content: center;
      line-height: 24px;
    }
  }

  &.cirrus {
    background-image: url('/assets/tokens/cirrus.png');
    background-size: cover;
  }
}
