$green-primary: #15c472;

$blue-primary: #1ca7dc;

$purple-primary: #9c45ee;

$red-primary: #f7556b;

$dark-primary: #1b192f;

$discord: #5865F2;

$yellow-primary: #f7f200;

$orange-primary: #ff9e00;

$cirrus-primary: #3ab0ba;
$eth-primary: #3c3c3d;
