.standard-section {
  padding: 20px 0px;
}

.offset-section {
  padding: 20px 0px;
}

.header-section {
  padding: 20px 0px;
}


////////////////////////////////
// Flex Row
////////////////////////////////

%flexRow {
  display: flex;
  flex-direction: row;
}

%flexRowCenter {
  @extend %flexRow;
  align-items: center;
}

%flexRowEnd {
  @extend %flexRow;
  align-items: end;
  align-items: flex-end;
}

// Classes

.flex-row {
  @extend %flexRow;
}

.flex-row-center {
  @extend %flexRowCenter;
}

.flex-row-end {
  @extend %flexRowEnd;
}

// Flex Row Align Center Justify Content
.flex-row-center-between {
  @extend %flexRowCenter;
  justify-content: space-between;
}

.flex-row-center-end {
  @extend %flexRowCenter;
  justify-content: flex-end;
}

.flex-row-center-start {
  @extend %flexRowCenter;
  justify-content: start;
}

.flex-row-center-center {
  @extend %flexRowCenter;
  justify-content: center;
}

.flex-row-center-around {
  @extend %flexRowCenter;
  justify-content: space-around;
}

// Flex Row Align End Justify Content
.flex-row-end-between {
  @extend %flexRowEnd;
  justify-content: space-between;
}

.flex-row-end-end {
  @extend %flexRowEnd;
  justify-content: end;
  justify-content: flex-end;
}

.flex-row-end-start {
  @extend %flexRowEnd;
  justify-content: start;
}

////////////////////////////////
// Flex Column
////////////////////////////////

%flexColumn {
  display: flex;
  flex-direction: column;
}

%flexColumnCenter {
  @extend %flexColumn;
  align-items: center;
}

%flexColumnEnd {
  @extend %flexColumn;
  align-items: end;
}

// Classes
.flex-column {
  @extend %flexColumn;
}

.flex-column-center {
  @extend %flexColumnCenter;
}

.flex-column-end {
  @extend %flexColumnEnd;
}

////////////////////////////////
// Media Queries
////////////////////////////////

@media (min-width: map_get($grid-breakpoints, md)) {
  .standard-section {
    padding: 50px 0px;
  }

  .offset-section {
    padding: 50px 0px;
  }

  .header-section {
    padding: 50px 0px;
  }
}
