<opdex-card>
  <div class="flex-row-center-between">
    <h5 class="mb-0 flex-row-center b-400">
      <mat-icon class="mine small mr-2">{{icons.error}}</mat-icon>
      Connect Wallet
    </h5>
    <button mat-icon-button color="primary" [ngClass]="iconSizes.small" (click)="toggleConnectMessage()">
      <mat-icon>{{ collapsed ? icons.add : icons.remove }}</mat-icon>
    </button>
  </div>

  <div [@collapse]="collapsed">
    <p class="pt-3">Provide your wallet public key to review transaction quotes, history and token balances.</p>
    <button mat-stroked-button color="primary" class="w-100 flex-row-center" (click)="connectWallet()">
      Connect
    </button>
  </div>
</opdex-card>
