.copy-address {
  font-size: 12px;
  color: #8a8a8a !important;
  display: inline-flex;
  align-items: center;

  mat-icon {
    transition: .1s ease;
    opacity: 0;
    height: 12px !important;
    width: 12px !important;
    line-height: 12px !important;
    font-size: 12px !important;
  }

  &:hover {
    cursor: pointer;

    mat-icon {
      opacity: 1;
      transition: .1s ease;
    }
  }
}
