.footer {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;

  .button-group {
    a {
      margin-right: 8px;

      &:last-of-type {
        margin-right: 0px;
      }

      .social-icon {
        height: 16px;
      }
    }
  }
}
