<div class="footer">
  <a mat-button color="primary" class="pl-0 pr-0"
    href="https://opdex.com/assets/opdex-platform-ui-terms-of-use.pdf" target="_blank" rel="noopener">Terms & Conditions</a>

  <div class="button-group">
    <a href="https://github.com/opdex" target="_blank" rel="noopener" matTooltip="Github">
      <img class="social-icon" src="assets/social/github-blue.svg" alt="Github Logo">
    </a>

    <a href="https://twitter.com/OpdexProtocol" target="_blank" rel="noopener" matTooltip="Twitter">
      <img class="social-icon" src="assets/social/twitter-blue.svg" alt="Twitter Logo">
    </a>

    <a href="https://discord.gg/TnWVDTTrjf" target="_blank" rel="noreferrer" matTooltip="Discord">
      <img class="social-icon" src="assets/social/discord-blue.svg" alt="Discord Logo">
    </a>

    <a href="https://reddit.com/r/opdex" target="_blank" rel="noreferrer" matTooltip="Reddit">
      <img class="social-icon" src="assets/social/reddit-blue.svg" alt="Reddit Logo">
    </a>

    <a href="https://t.me/OpdexProtocol" target="_blank" rel="noreferrer" matTooltip="Telegram">
      <img class="social-icon" src="assets/social/telegram-blue.svg" alt="Telegram Logo">
    </a>

    <a href="https://linkedin.com/company/opdexinc" target="_blank" rel="noopener" matTooltip="LinkedIn">
      <img class="social-icon" src="assets/social/linkedin-blue.svg" alt="LinkedIn Logo">
    </a>
  </div>
</div>
