@import 'src/scss/colors';

%pool-card {
  .top-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;

      h3 {
        color: $blue-primary;
        display: inline;
        margin-bottom: 0;
      }
    }
  }

  .bottom-details {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-heading {
      font-weight: 400 !important;
      margin-bottom: 5px;
    }

    .right {
      text-align: right;
    }

    .value {
      margin-bottom: 0px;
    }
  }
}
