@import 'src/scss/colors';

%pool-card {
  .top-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: $blue-primary;
      display: inline;
      margin-bottom: 0;

      a {
        text-decoration: none;
      }
    }
  }

  .bottom-details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-heading {
      font-weight: 400 !important;
      margin-bottom: 5px;
    }

    .right {
      text-align: right;
    }

    .value {
      margin-bottom: 0px;
    }
  }
}

@media(min-width: 768px) {
  %pool-card {
    .top-details {
      .title {
        color: $blue-primary;
        display: inline;
        margin-bottom: 0;

        a {
          text-decoration: none;
        }
      }
    }

    .button-group {
      button {
        margin-right: 10px;
      }
    }

    .bottom-details {
      .value {
        font-size: 1.2em;
      }
    }
  }
}
