@import 'src/scss/colors';

%pool-card {
  .top-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: $blue-primary;
      font-weight: 500;
      display: inline;
      margin-bottom: 0;

      a {
        text-decoration: none;
      }
    }

    .button-group {
      button {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        &.mat-icon-button {
          color: $dark-primary;
          font-weight: 500;
        }

        &.provide, &.add {
          background-color: $green-primary;
        }

        &.mine, &.remove {
          background-color: $red-primary;
        }

        &.stake {
          background-color: $purple-primary;
        }

        &.swap, &.collect {
          background-color: $blue-primary;
        }
      }
    }
  }

  .bottom-details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-heading {
      color: #ccc;
      font-weight: 400 !important;
      font-size: 16px !important;
    }

    .right {
      text-align: right;
    }

    .value {
      font-size: 24px;
      margin-bottom: 0px;
    }
  }
}
