<div class="deadline-widget">
  <label>Deadline</label>
  <div class="levels">
    <div class="button-group">
      <button mat-stroked-button
            type="button"
            color="{{ selectedDeadlineLevel === level.id ? 'primary' : 'default' }}"
            (click)="outputDeadline(level.deadline)"
            *ngFor="let level of deadlineLevels">{{level.deadline}}</button>
    </div>

    <opdex-input-control
      [formControl]="customDeadline"
      suffix="Minutes"
      [active]="selectedDeadlineLevel === 4"
      label="Custom Deadline"
      [showLabel]="false"
      [buttonDisabled]="true"
      [placeholder]="'0'"
      [numbersOnly]="true">
      <ng-container *ngIf="!customDeadline.valid">
        <span class="error">0 minimum and 120 maximum</span>
      </ng-container>
    </opdex-input-control>
  </div>
</div>
