@import 'src/scss/colors';

.pool-details {
  margin: 0 0 15px;
  width: 100%;
  position: relative;

  .exit {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  h4 {
    display: flex;
    letter-spacing: .05em;
    font-weight: 500;
    align-items: center;
    margin-bottom: 8px;
  }

  .blue {
    color: $blue-primary;
  }

  .pool-selection {
    button {
      width: 100% !important;
    }
  }

  .pool-summary {
    .pool-details-section {
      margin: 8px 0;
      display: flex;
      flex-direction: row;

      .col {
        &.flex-shrink {
          flex-grow: 0;
          flex-shrink: 1;
        }

        &:first-of-type {
          padding-left: 0px;
        }

        &:last-of-type {
          padding-right: 0px;
        }
      }

      &:last-of-type {
        margin-bottom: 0px !important;
      }

      small {
        display: flex;
        align-items: center;
      }

      mat-icon {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }
}
