@import 'src/scss/colors';

.pool-details {
  margin: 15px 0 30px;
  width: 100%;
  position: relative;

  .exit {
    position: absolute;
    top: 10px;
    right: 10px;
  }


  h4 {
    display: flex;
    letter-spacing: .05em;
    font-weight: 500;
    align-items: center;
    margin-bottom: 8px;
  }

  .blue {
    color: $blue-primary;
  }

  .pool-selection {
    button {
      width: 100% !important;
    }
  }

  .pool-summary {
    .pool-details-section {
      margin: 8px 0;
      display: flex;
      flex-direction: column;

      &:last-of-type {
        margin-bottom: 0px !important;
      }

      .title {
        font-size: 1.1em;
      }

      .detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }


      h6 {
        margin-bottom: 0px;
        display: flex;
        align-items: center;

        small {
          margin-left: 8px;
        }
      }

      small {
        display: flex;
        align-items: center;
      }

      mat-icon {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }
}
