<div class="pool-details">
  <div class="pool-selection" *ngIf="!pool">
    <button mat-flat-button color="primary">Select Liquidity Pool</button>
  </div>

  <opdex-card class="pool-summary" *ngIf="pool" [thin]="true">
    <h4>
      <opdex-copy-button [tooltip]="pool?.address" [value]="pool?.address" icon="link"></opdex-copy-button>
      <a class="blue" routerLink="/pools/{{pool?.address}}">{{pool.token.src.symbol}}-CRS</a>
    </h4>

    <button mat-icon-button class="exit tiny" (click)="clearPool()">
      <mat-icon>close</mat-icon>
    </button>

    <ng-container *ngIf="showReserves">
      <h6 class="mb-0">Reserves</h6>

      <div class="pool-details-section">
        <div class="col flex-shrink">
          <small>{{pool.token.src.symbol}}</small>
          <small>CRS</small>
          <small>USD</small>
        </div>

        <div class="col flex-shrink">
          <small><opdex-change-indicator [value]="pool.token.src.summary.dailyPriceChange" size="s" [forceDisplay]="true"></opdex-change-indicator></small>
          <small><opdex-change-indicator [value]="pool.token.crs.summary.dailyPriceChange" size="s" [forceDisplay]="true"></opdex-change-indicator></small>
          <small><opdex-change-indicator [value]="pool.reserves.usdDailyChange" size="s" [forceDisplay]="true"></opdex-change-indicator></small>
        </div>

        <div class="col">
          <small>${{pool.token.src.summary.price.close | shortNumber}}</small>
          <small>${{pool.token.crs.summary.price.close | shortNumber}}</small>
          <small></small>
        </div>

        <div class="col d-flex align-items-end flex-column">
          <small>{{pool.reserves.src | shortNumber}} <mat-icon color="primary">lock</mat-icon></small>
          <small>{{pool.reserves.crs | shortNumber}} <mat-icon color="primary">lock</mat-icon></small>
          <small>${{pool.reserves.usd | shortNumber}} <mat-icon color="primary">lock</mat-icon></small>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="pool.token?.staking && showStaking">
      <h6 class="mb-0">Staking</h6>

      <div class="pool-details-section" >
        <div class="col flex-shrink">
          <small>{{pool.token.staking.symbol}}</small>
        </div>

        <div class="col flex-shrink">
          <small><opdex-change-indicator [value]="pool.token.staking.summary.dailyPriceChange" size="s" [forceDisplay]="true"></opdex-change-indicator></small>
        </div>

        <div class="col">
          <small>${{pool.token.staking.summary.price.close | shortNumber}}</small>
        </div>

        <div class="col d-flex align-items-end flex-column">
          <small>{{pool.staking.weight | shortNumber}} <mat-icon class="stake">verified_user</mat-icon></small>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="pool.mining?.tokensMining && showMining">
      <h6 class="mb-0">Mining</h6>

      <div class="pool-details-section" >
        <div class="col flex-shrink">
          <small>{{pool.token.lp.symbol}}</small>
        </div>

        <div class="col flex-shrink">
          <small><opdex-change-indicator [value]="pool.token.lp.summary.dailyPriceChange" size="s" [forceDisplay]="true"></opdex-change-indicator></small>
        </div>

        <div class="col">
          <small>${{pool.token.lp.summary.price.close | shortNumber}}</small>
        </div>

        <div class="col d-flex align-items-end flex-column">
          <small>{{pool.mining?.tokensMining | shortNumber}} <mat-icon class="mine">whatshot</mat-icon></small>
        </div>
      </div>
    </ng-container>
  </opdex-card>
</div>
