<div class="pool-details">
  <div class="pool-selection" *ngIf="!pool">
    <button mat-flat-button color="primary">Select Liquidity Pool</button>
  </div>

  <opdex-card class="pool-summary" *ngIf="pool">
    <h4>
      <opdex-copy-button [tooltip]="pool?.address" [value]="pool?.address" icon="link"></opdex-copy-button>
      <a class="blue" routerLink="/pools/{{pool?.address}}">{{pool.token.src.symbol}}-CRS</a>
    </h4>

    <button mat-icon-button class="exit tiny" (click)="clearPool()">
      <mat-icon>close</mat-icon>
    </button>

    <div class="pool-details-section" *ngIf="showReserves">
      <p class="title">Reserves</p>

      <div class="detail">
        <h5>CRS</h5>
        <small>(${{pool.token.crs.summary.price.close | shortNumber}})</small>
        <small>{{pool.reserves.crs | shortNumber}} CRS</small>
      </div>

      <div class="detail">
        <h5>{{pool.token.src.symbol}}</h5>
        <small>(${{pool.token.src.summary.price.close | shortNumber}})</small>
        <small>{{pool.reserves.src | shortNumber}} {{pool.token.src.symbol}}</small>
      </div>

      <hr class="w-100">

      <div class="detail">
        <h5>Total</h5>
        <small>${{pool.reserves.usd | shortNumber}} USD</small>
      </div>
    </div>

    <div class="pool-details-section" *ngIf="pool.token?.staking && showStaking">
      <p class="title">Staking</p>

      <div class="detail">
        <h5>{{pool.token.staking.symbol}}</h5>
        <small>(${{pool.token.staking.summary.price.close | shortNumber}})</small>
        <small>{{pool.staking.weight | shortNumber}} ODX</small>
      </div>
    </div>

    <div class="pool-details-section" *ngIf="pool.mining?.tokensMining && showMining">
      <p class="title">Mining</p>

      <div class="detail">
        <h5>{{pool.token.lp.symbol}}</h5>
        <small>(${{pool.token.lp.summary.price.close | shortNumber}})</small>
        <small>{{pool.mining?.tokensMining | shortNumber}} {{pool.token.lp.symbol}}</small>
      </div>
    </div>
  </opdex-card>
</div>
