<div id="overview" class="mt-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h1>Market Overview</h1>

        <div class="stats">
          <div class="row">
            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Cirrus (CRS)
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.crsPrice | formatNumber}}
                  </p>

                  <opdex-change-indicator [value]="4.25"></opdex-change-indicator>
                </div>
              </opdex-card>
            </div>

            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Total Volume (24hr)
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.dailyVolume | formatNumber}}
                  </p>

                  <!-- <opdex-change-indicator [value]="4.25"></opdex-change-indicator> -->
                </div>
              </opdex-card>
            </div>

            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Total Liquidity
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.liquidity | formatNumber}}
                  </p>

                  <opdex-change-indicator [value]="-10.12"></opdex-change-indicator>
                </div>
              </opdex-card>
            </div>

            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Staking Weight
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.dailyFees | formatNumber}}
                  </p>

                  <opdex-change-indicator [value]="4.25"></opdex-change-indicator>
                </div>
              </opdex-card>
            </div>

            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Rewards (24hr)
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.dailyFees | formatNumber}}
                  </p>

                  <!-- <opdex-change-indicator [value]="4.25"></opdex-change-indicator> -->
                </div>
              </opdex-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12 col-md-6">
        <opdex-card class="p-0">
          <opdex-line-chart [chartData]="ohlcPoints" title="Market Liquidity" *ngIf="ohlcPoints"></opdex-line-chart>
        </opdex-card>
      </div>

      <div class="col-12 col-md-6">
        <opdex-card>
          <opdex-volume-chart [chartData]="ohlcPoints" *ngIf="ohlcPoints"></opdex-volume-chart>
        </opdex-card>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <h2 class="mb-3 text-shadow">Liquidity Mining</h2>

        <div class="row">
          <div class="col-3">
            <opdex-mining-card pool="xBTC/CRS"></opdex-mining-card>
          </div>

          <div class="col-3">
            <opdex-mining-card pool="xETH/CRS"></opdex-mining-card>
          </div>

          <div class="col-3">
            <opdex-mining-card pool="xBNB/CRS"></opdex-mining-card>
          </div>

          <div class="col-3">
            <opdex-mining-card pool="GBPT/CRS"></opdex-mining-card>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <opdex-card>
          <h2>Top Pools</h2>
          <opdex-pools-table [pools]="pools"></opdex-pools-table>
        </opdex-card>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <opdex-card>
          <h2>Top Tokens</h2>
          <opdex-tokens-table [tokens]="tokens"></opdex-tokens-table>
        </opdex-card>
      </div>
    </div>
  </div>
</div>


