<div id="overview" class="mt-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h1>Market Overview</h1>

        <div class="stats">
          <div class="row">
            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Cirrus (CRS)
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.crsPrice | formatNumber}}
                  </p>

                  <opdex-change-indicator [value]="4.25"></opdex-change-indicator>
                </div>
              </opdex-card>
            </div>

            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Volume
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.dailyVolume | formatNumber}}
                  </p>

                  <opdex-change-indicator [value]="4.25"></opdex-change-indicator>
                </div>
              </opdex-card>
            </div>

            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Liquidity
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.liquidity | formatNumber}}
                  </p>

                  <opdex-change-indicator [value]="-10.12"></opdex-change-indicator>
                </div>
              </opdex-card>
            </div>

            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Weight
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.dailyFees | formatNumber}}
                  </p>

                  <opdex-change-indicator [value]="4.25"></opdex-change-indicator>
                </div>
              </opdex-card>
            </div>

            <div class="col">
              <opdex-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Rewards
                </h4>

                <div class="stat">
                  <p class="stat-value">
                    ${{market?.dailyFees | formatNumber}}
                  </p>

                  <!-- <opdex-change-indicator [value]="4.25"></opdex-change-indicator> -->
                </div>
              </opdex-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12 col-md-6">
        <opdex-card class="p-0">
          <opdex-line-chart [chartData]="ohlcPoints" [type]="chartType" *ngIf="ohlcPoints"></opdex-line-chart>
        </opdex-card>
      </div>

      <div class="col-12 col-md-6">
        <opdex-card>
          <opdex-volume-chart [chartData]="ohlcPoints" *ngIf="ohlcPoints"></opdex-volume-chart>
        </opdex-card>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <h2 class="mb-3 text-shadow">Liquidity Mining</h2>

        <div class="row">
          <div class="col-3">
            <opdex-card class="mining-pool">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="d-inline mb-0">ODX/CRS</h3>
                <div>
                  <button mat-icon-button class="remove small mr-2"><mat-icon>remove</mat-icon></button>
                  <button mat-icon-button class="add small"><mat-icon>add</mat-icon></button>
                </div>
              </div>

              <div class="details">
                <div class="mining">
                  <p class="sub-heading">Mining</p>
                  <p class="value">$49,592</p>
                </div>

                <div class="remaining">
                  <p class="sub-heading">Remaining</p>
                  <p class="value">1234 ODX</p>
                </div>
              </div>
            </opdex-card>
          </div>

          <div class="col-3">
            <opdex-card class="mining-pool">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="d-inline mb-0">WBTC/CRS</h3>
                <div>
                  <button mat-icon-button class="remove small mr-2"><mat-icon>remove</mat-icon></button>
                  <button mat-icon-button class="add small"><mat-icon>add</mat-icon></button>
                </div>
              </div>

              <div class="details">
                <div class="mining">
                  <p class="sub-heading">Mining</p>
                  <p class="value">$49,592</p>
                </div>

                <div class="remaining">
                  <p class="sub-heading">Remaining</p>
                  <p class="value">1234 ODX</p>
                </div>
              </div>
            </opdex-card>
          </div>

          <div class="col-3">
            <opdex-card class="mining-pool">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="d-inline mb-0">WETH/CRS</h3>
                <div>
                  <button mat-icon-button class="remove small mr-2"><mat-icon>remove</mat-icon></button>
                  <button mat-icon-button class="add small"><mat-icon>add</mat-icon></button>
                </div>
              </div>

              <div class="details">
                <div class="mining">
                  <p class="sub-heading">Mining</p>
                  <p class="value">$49,592</p>
                </div>

                <div class="remaining">
                  <p class="sub-heading">Remaining</p>
                  <p class="value">1234 ODX</p>
                </div>
              </div>
            </opdex-card>
          </div>

          <div class="col-3">
            <opdex-card class="mining-pool">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="d-inline mb-0">WDOGE/CRS</h3>
                <div>
                  <button mat-icon-button class="remove small mr-2"><mat-icon>remove</mat-icon></button>
                  <button mat-icon-button class="add small"><mat-icon>add</mat-icon></button>
                </div>
              </div>

              <div class="details">
                <div class="mining">
                  <p class="sub-heading">Mining</p>
                  <p class="value">$49,592</p>
                </div>

                <div class="remaining">
                  <p class="sub-heading">Remaining</p>
                  <p class="value">1234 ODX</p>
                </div>
              </div>
            </opdex-card>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <opdex-card>
          <h2>Top Pools</h2>
          <opdex-pools-table [pools]="pools"></opdex-pools-table>
        </opdex-card>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <opdex-card>
          <h2>Top Tokens</h2>
          <opdex-tokens-table [tokens]="tokens"></opdex-tokens-table>
        </opdex-card>
      </div>
    </div>
  </div>
</div>


