<div id="overview" *ngIf="theme$ | async as theme" [ngClass]="theme">
  <div class="container pt-3">
    <div class="row mb-4">
      <div class="col-12">
        <h1>Market Overview</h1>

        <div class="stats">
          <div class="row">
            <div class="col-3">
              <mat-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Cirrus (CRS)
                </h4>
                <p class="stat-value">
                  $0.60
                </p>
              </mat-card>
            </div>

            <div class="col-3">
              <mat-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Volume
                </h4>
                <p class="stat-value">
                  $10,733,139
                </p>
              </mat-card>
            </div>

            <div class="col-3">
              <mat-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Liquidity
                </h4>
                <p class="stat-value">
                  $24,342,353
                </p>
              </mat-card>
            </div>

            <div class="col-3">
              <mat-card>
                <h4 class="stat-header">
                  <button mat-icon-button color="primary" class="tiny mr-1"><mat-icon>help</mat-icon></button>
                  Fees
                </h4>
                <p class="stat-value">
                  $32,199.42
                </p>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-8">
        <mat-card class="p-0">
          <opdex-line-chart [theme]="theme" [chartData]="ohlcPoints" [type]="chartType" *ngIf="ohlcPoints"></opdex-line-chart>
        </mat-card>
      </div>

      <div class="col-12 col-md-4">
        <opdex-tx-box></opdex-tx-box>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <h2>Top Pairs</h2>
        <opdex-pairs-table></opdex-pairs-table>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <h2>Top Tokens</h2>
        <opdex-tokens-table></opdex-tokens-table>
      </div>
    </div>
  </div>
</div>
