<div class="header-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 col-xl-8">
        <h1 class="mb-0">Tokens</h1>
      </div>

      <div class="d-none d-lg-block col-lg-6 col-xl-4">
        <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <h2 class="d-flex align-items-center">
          <mat-icon class="mr-2 primary">bar_chart</mat-icon> Top Volume
        </h2>
      </div>
    </div>

    <div class="scrollable-row" *ngIf="poolsByVolume$ | async as pools">
      <div class="scrollable-card" *ngFor="let pool of pools">
        <opdex-liquidity-pool-card [pool]="pool"></opdex-liquidity-pool-card>
      </div>
    </div>

    <div class="row d-lg-none mt-3">
      <div class="col-12">
        <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
      </div>
    </div>
  </div>
</div>

<div class="standard-section pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <opdex-tokens-table [filter]="filter"></opdex-tokens-table>
      </div>
    </div>
  </div>
</div>
