<div class="stop-staking">
  <form [formGroup]="form" name="stop-staking-form" id="stop-staking-form" (submit)="submit()">
    <opdex-input-control [buttonDisabled]="true" [prefixIcon]="icons.remove" label="Stop Staking" [formControl]="amount" [suffix]="pool.token.staking.symbol" [numbersOnly]="true">
      <div class="flex-row-center-end">
        <span class="success" *ngIf="fiatValue">${{fiatValue | shortNumber}}</span>
      </div>
    </opdex-input-control>

    <opdex-percentage-amount-buttons
      [contract]="pool.address"
      [token]="pool.token.staking"
      positionType="Staking"
      [selected]="percentageSelected"
      (onPercentageSelect)="handlePercentageSelect($event)"></opdex-percentage-amount-buttons>

    <mat-checkbox
      formControlName="liquidate"
      color="primary"
      name="liquidate"
      value="false"
      aria-label="Liquidate Rewards">
      Liquidate
    </mat-checkbox>

    <button mat-flat-button color="primary" class="mt-3 w-100" [disabled]="!form.valid || !context?.wallet">Quote</button>
  </form>
</div>
