<h2 class="flex-row-center">
  <mat-icon class="swap mr-2">{{icons.update}}</mat-icon> Update Available
</h2>

<mat-dialog-content>
  <p>There is an updated version of the app available. How would you like to proceed?</p>
</mat-dialog-content>

<div class="row mt-3">
  <div class="col-12 col-sm-4">
    <button mat-stroked-button mat-dialog-close color="primary" class="cancel">Cancel</button>
  </div>

  <div class="col-12 col-sm-8">
    <button mat-flat-button cdkFocusInitial color="primary" (click)="update()">Update</button>
  </div>
</div>
