<opdex-card>
  <ng-container *ngIf="swapToken && token; else loading">
    <div class="flex-row-center-between mb-1">
      <small class="light">{{token.name}}</small>

      <opdex-token-native-chain-badge [wrappedToken]="token.wrappedToken"></opdex-token-native-chain-badge>
    </div>

    <div class="flex-row-center-between">
      <div class="flex-row-center">
        <opdex-token-icon [token]="token"></opdex-token-icon>

        <a class="title no-decoration ml-2" href="javascript:void(0)" routerLink="/tokens/{{token.address}}">
          <h2 class="mb-0">{{token.symbol}}</h2>
        </a>
      </div>

      <div class="flex-row-center-end">
        <h3 class="mb-0 mr-2 b-300">
          <opdex-number prefix="$" [value]="token?.summary?.priceUsd" [short]="true"></opdex-number>
        </h3>

        <opdex-change-indicator [value]="token?.summary?.dailyPriceChangePercent" *ngIf="token?.summary?.dailyPriceChangePercent !== null && token?.summary?.dailyPriceChangePercent !== undefined"></opdex-change-indicator>
      </div>
    </div>

    <div class="flex-row-center-between mt-2">
      <div class="flex-row-center">
        <mat-icon color="primary" class="mr-2 tiny">{{icons.lock}}</mat-icon>

        <small>
          <opdex-number [value]="reserves" [short]="true"></opdex-number>
        </small>
      </div>

      <div class="flex-row-center">
        <small class="mb-0">
          <opdex-number [value]="one" [suffix]="token.symbol"></opdex-number>
        </small>

        <mat-icon color="primary" class="ml-2 mr-2 tiny">{{icons.swap}}</mat-icon>

        <small>
          <opdex-number [value]="swapRate" [short]="true" [suffix]="swapToken.symbol"></opdex-number>
        </small>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="skeleton-bg w-50 mb-1"></div>

    <div class="flex-row-center">
      <div class="w-50">
        <div class="skeleton-bg w-50 mb-1"></div>
        <div class="skeleton-bg w-50 mb-1"></div>
      </div>

      <div class="w-50 flex-column-end">
        <div class="skeleton-bg w-50 mb-1"></div>
        <div class="skeleton-bg w-50 mb-1"></div>
      </div>
    </div>
  </ng-template>
</opdex-card>
